// CSS-only select styling (from https://github.com/filamentgroup/select-css)

.form-item__dropdown {
  border: 1px solid clr(muted);
  display: block;
  position: relative;

  @media (prefers-color-scheme: dark) {
    background-color: clr(background-inverse);
  }

  &::after {
    content: ' ';
    position: absolute;
    top: 42%;
    right: 1em;
    z-index: 2;

    /* These hacks make the select behind the arrow clickable in some browsers */
    pointer-events: none;
    display: none;
  }

  &:hover {
    border-color: clr(accent-high);
  }
}

.form-item__select {
  border: 1px solid clr(muted);
  height: 41px; // set height required for discrepancy between .form-item__dropdown border and the select :focus border
  font-size: 16px;
  margin: 0;
  outline: none;
  padding: 0.6em 0.8em 0.5em;
  width: 100%;

  :focus {
    outline: none;
    color: clr(accent);
  }
}

@supports (-webkit-appearance: none) or (appearance: none) or
  ((-moz-appearance: none) and (mask-type: alpha)) {
  /* Show custom arrow */
  .form-item__dropdown::after {
    display: block;
  }

  /* Remove select styling */
  .form-item__select {
    padding-right: 2em; /* Match-01 */

    /* inside @supports so that iOS <= 8 display the native arrow */
    background: none; /* Match-04 */

    /* inside @supports so that Android <= 4.3 display the native arrow */
    border: 1px solid transparent; /* Match-05 */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      border-color: clr(accent);
      border-radius: 0;
    }
  }
}

.select--white-rounded {
  background: clr(text-inverse);
  border: 2px solid $blue40;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 0 8px;
  height: 36px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 14px;
  line-height: 24px;
  select {
    height: 32px;
    position: relative;
    z-index: 20;
  }
  .form-select {
    padding: 4px 48px 4px 24px;
    font-size: 14px;
    &.icon {
      padding: 0;
      position: absolute;
      right:0;
      top: -5px;
      margin-right: 15px;
      margin-top: 10px;
    }
  }
}
