// CSS-only select styling (from https://github.com/filamentgroup/select-css)

.form-item__dropdown {
  border: 1px solid clr(muted);
  display: block;
  position: relative;

  @media (prefers-color-scheme: dark) {
    background-color: clr(background-inverse);
  }

  &::after {
    content: ' ';
    position: absolute;
    top: 42%;
    right: 1em;
    z-index: 2;

    /* These hacks make the select behind the arrow clickable in some browsers */
    pointer-events: none;
    display: none;
  }
}

.form-item__select {
  border: 1px solid clr(muted);
  height: 41px; // set height required for discrepancy between .form-item__dropdown border and the select :focus border
  font-size: 16px;
  margin: 0;
  outline: none;
  padding: 0.6em 0.8em 0.5em;
  width: 100%;

  :focus {
    outline: none;
    color: clr(accent);
  }
}

@supports (-webkit-appearance: none) or (appearance: none) or
  ((-moz-appearance: none) and (mask-type: alpha)) {
  /* Show custom arrow */
  .form-item__dropdown::after {
    display: block;
  }

  /* Remove select styling */
  .form-item__select {
    padding-right: 2em; /* Match-01 */

    /* inside @supports so that iOS <= 8 display the native arrow */
    background: none; /* Match-04 */

    /* inside @supports so that Android <= 4.3 display the native arrow */
    border: 1px solid transparent; /* Match-05 */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      border-color: clr(accent);
      border-radius: 0;
    }
  }
}

.form-item .select--details-select,
.select--details-select {
  display: flex;
  border: 0;
  select {
    font-weight: 400;
    font-size: $small-font;
    margin-right: auto;
    padding: 0;
    height: 20px;
    text-align: end;
    background: unset;
    @include xxl {
      font-size: $small-caption;
    }
  }
  svg {
    padding: 0;
    height: 22px;
    width: 22px;
    background: unset;
  }
}

.select--search-background {
  background-color: clr(text-inverse);
  border-radius: 8px;
  .multi-select-container {
      .multi-select-button {
        position: relative;
        &:before {
          background-image: url('/themes/custom/palvelumanuaali/images/icons/arrow-sm-down.svg');
          background-repeat: no-repeat;
          position: absolute;
          width: 100%;
          height: 100%;
          content:"";
          left: 0;
          top: 0;
          background-position: top 10px right 4px;
          @include xl {
            background-position: top 10px right 4px;
          }
        }
      }
    &.multi-select-container--open {
      .multi-select-button {
        &:before {
          transform: rotateX(180deg);
        }
      }
    }
    &.active {
      .multi-select-button {
        background-color: transparent;
        &:before {
          background-image: url('/themes/custom/palvelumanuaali/images/icons/arrow-sm-down-white.svg');
        }
      }
    }
  }
}

.form-item-langcode {
  .form-item__dropdown {
    max-width: 200px;
  }
  .icon {
    z-index: 100;
  }
  .multi-select-container {
    border: 0;
  }

  .multi-select-button {
    padding: 4px 48px 4px 24px;
    height: 41px;
    display: flex;
    align-items: center;
  }
}
.select--white-rounded {
    position: relative;
  select,
  .select2,
  .multi-select-button {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 12px 12px 16px;
    z-index: 20;
    background-color: clr(text-inverse);
    box-shadow: inset 0px 0px 0px 2px clr(form-border);
    box-sizing: border-box;
    border: 0;
    border-radius: 8px;
    .select2-selection {
        line-height: 0;
        min-height: 0;
    }
    &.select2-container--disabled {
      box-shadow: inset 0px 0px 0px 2px $gray-light;
      background-color: $near-white;
      color: $gray-light;
    }
  }
  span.select2-selection__arrow {
    display: none;
  }
  .form-select {
    padding: 4px 48px 4px 24px;
    font-size: 14px;
    &.icon {
      padding: 0;
      position: absolute;
      right:0;
      top: -5px;
      margin-right: 15px;
      margin-top: 10px;
    }
  }
}

.details-wrapper {
  .select--white-rounded {
    height: 100%;
    select,
    .select2 {
      padding: 4px 48px 4px 24px;
      height: 100%;
      input {
        width: 100% !important;
      }
    }
  }
}

.select2-selection__choice,
.select2-selection--single .select2-selection__rendered {
  background: $blue20 !important;
  border-radius: 4px !important;
  padding: 0px 24px 0px 16px !important;
  line-height: 24px;
  position: relative;
  margin-top: 0 !important;
  margin-bottom: 5px !important;
  font-size: 12px !important;
  white-space: normal;
  word-wrap: anywhere;
  &:nth-last-child(2) {
    margin-bottom: 0 !important;
  }
  .select2-selection__choice__remove {
    position: absolute;
    right: 8px;
    color: clr(text) !important;
  }
}

.select2-dropdown {
  margin: 0 !important;
}

.select2-container .select2-selection--single {
  display: flex;
}


.select2-selection {
  position: relative;
  z-index: 50;
}

.select2-container{
  &::after {
    background-image: url('/themes/custom/palvelumanuaali/images/icons/arrow-sm-down.svg');
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    content:"";
    left: 0;
    top: 0;
    background-position: top 50% right 4px;
  }
}

.select2-container.select2-container--open {
  &::after {
    transform: rotateX(180deg);
  }
}
