 .select2-container .select2-selection--single .select2-selection__rendered {
      padding-left: 24px;
      padding-right: 40px; }
.select2-dropdown {
  box-shadow: 0px 8px 16px rgba(30, 64, 182, 0.2);
  border: unset;
  border-radius: 8px;
  margin-top: 16px; }

.ui-autocomplete {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 48px;
  padding-right: 24px;
  box-shadow: 0px 8px 16px rgba(30, 64, 182, 0.2);
  border: 0 !important;
  border-radius: 8px;
}

.ui-autocomplete .ui-menu-item {
  padding: 6px;
  list-style: none;
}

.ui-widget .ui-menu-item a{
  text-decoration: none;
}

.ui-widget .ui-menu-item .ui-state-active{
  background: none;
  border: none;
  font-weight: bold;
  color: #1E40B6;
}


.select2-results__options {
  padding: 0;
  padding-left: 48px;
  padding-right: 24px;
}

.select2-container--open .select2-dropdown--below {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  min-width: min-content;
}


.select2-container--palvelumanuaali .select2-selection--single {
  border-radius: 4px; }
  .select2-container--palvelumanuaali .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px; }
  .select2-container--palvelumanuaali .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold; }
  .select2-container--palvelumanuaali .select2-selection--single .select2-selection__placeholder {
    color: #999; }
  .select2-container--palvelumanuaali .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px; }
    .select2-container--palvelumanuaali .select2-selection--single .select2-selection__arrow b::before {

      display: inline-block;
      font-family: "icons";
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\EA09";
      position: absolute;
      color: #1E40B6;
      font-size: 12px;
      top: 29%;
    }

.select2-container--palvelumanuaali[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left; }

.select2-container--palvelumanuaali[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto; }

.select2-container--palvelumanuaali.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default; }
  .select2-container--palvelumanuaali.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none; }

.select2-container--palvelumanuaali.select2-container--open .select2-selection--single .select2-selection__arrow b::before {
  transform: rotate(180deg);}

.select2-container--palvelumanuaali .select2-selection--multiple {
  border-radius: 4px;
  cursor: text; }
  .select2-container--palvelumanuaali .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%; }
    .select2-container--palvelumanuaali .select2-selection--multiple .select2-selection__rendered li {
      list-style: none; }
  .select2-container--palvelumanuaali .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px;
    padding: 1px; }
  .select2-container--palvelumanuaali .select2-selection--multiple .select2-selection__choice {
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px; }
  .select2-container--palvelumanuaali .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px; }
    .select2-container--palvelumanuaali .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #333; }

.select2-container--palvelumanuaali[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--palvelumanuaali[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right; }

.select2-container--palvelumanuaali[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto; }

.select2-container--palvelumanuaali[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto; }

.select2-container--palvelumanuaali.select2-container--focus .select2-selection--multiple {
  /* border: solid black 1px; */
  outline: 0; }

.select2-container--palvelumanuaali.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default; }

.select2-container--palvelumanuaali.select2-container--disabled .select2-selection__choice__remove {
  display: none; }

.select2-container--palvelumanuaali.select2-container--open.select2-container--above .select2-selection--single, .select2-container--palvelumanuaali.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-container--palvelumanuaali.select2-container--open.select2-container--below .select2-selection--single, .select2-container--palvelumanuaali.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--palvelumanuaali .select2-search--dropdown .select2-search__field {
  /* border: 1px solid #aaa;  */
}

.select2-container--palvelumanuaali .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield; }

.select2-container--palvelumanuaali .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }

.select2-container--palvelumanuaali .select2-results__option[role=group] {
  padding: 0; }

.select2-container--palvelumanuaali .select2-results__option[aria-disabled=true] {
  color: #999; }

.select2-container--palvelumanuaali .select2-results__option[aria-selected=true] {
  color: #1E40B6;
  font-weight: bold;
  position: relative;
}

.select2-container--palvelumanuaali .select2-results__option[aria-selected=true]::before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\EA0D";
  position: absolute;
  color: #1E40B6;
  font-size: 12px;
  left: -24px;
  top: 37%;
}


.select2-container--palvelumanuaali .select2-results__option .select2-results__option {
  padding-left: 1em; }
.select2-container--palvelumanuaali .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0; }
.select2-container--palvelumanuaali .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em; }
.select2-container--palvelumanuaali .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em; }
.select2-container--palvelumanuaali .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em; }
.select2-container--palvelumanuaali .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em; }
.select2-container--palvelumanuaali .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em; }

.select2-container--palvelumanuaali .select2-results__option--highlighted[aria-selected] {
  font-weight: bold;
  color: #1E40B6; }

.select2-container--palvelumanuaali .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }

