// Libraries
@import '~normalize.css/normalize';
@import '~breakpoint-sass/stylesheets/breakpoint';

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1280px,
        xxl: 1900px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1220px,
        xxl: 1610px
);

@import '../../../../../vendor/twbs/bootstrap/scss/bootstrap-grid.scss';
@import '../../../../libraries/bootstrap-dist/css/bootstrap.min.css';




// Components
@import '00-base/*/*.scss';
@import '01-atoms/**/*.scss';
@import '02-molecules/**/*.scss';
@import '03-organisms/**/*.scss';
@import '04-templates/**/*.scss';
@import '05-pages/content-types/**/*.scss';
@import '05-pages/search/**/*.scss';


@font-face {
  font-family: "icons";
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('eot'),
    url('../fonts/icons.woff2') format('woff2'),
    url('../fonts/icons.woff') format('woff'),
    url('../fonts/icons.ttf') format('truetype'),
    url('../fonts/icons.svg#icons') format('svg');
}

.node-form {
  .cke_chrome {
    box-shadow: inset 0 0 0 2px clr(form-border);
    box-sizing: border-box;
    border: 0;
    border-radius: 8px;
    height: unset;
    width: unset;
    padding: 2px;
  }
}

.cke_inner {
  border-radius: 8px;
  .cke_top {
    background-color: #EDF1FA;
    border-bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .cke_wysiwyg_frame {
    background-color: #F7F9FD;
  }

  .cke_bottom {
    background-color: #F7F9FD;
    border-top: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
