// Libraries
@import '~normalize.css/normalize';
@import '~breakpoint-sass/stylesheets/breakpoint';

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1280px,
        xxl: 1900px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1220px,
        xxl: 1610px
);

@import '../../../../../vendor/twbs/bootstrap/scss/bootstrap-grid.scss';
@import '../../../../libraries/bootstrap-dist/css/bootstrap.min.css';




// Components
@import '00-base/**/*.scss';
@import '01-atoms/**/*.scss';
@import '02-molecules/**/*.scss';
@import '03-organisms/**/*.scss';
@import '04-templates/**/*.scss';
@import '05-pages/content-types/**/*.scss';


@font-face {
  font-family: "icons";
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('eot'),
    url('../fonts/icons.woff2') format('woff2'),
    url('../fonts/icons.woff') format('woff'),
    url('../fonts/icons.ttf') format('truetype'),
    url('../fonts/icons.svg#icons') format('svg');
}
