.table {
  margin: 1em 0;
  width: 100%;
  > tbody {
    border-top: 0;
  }
}

.table__heading-cell,
.table__cell {
  padding: 1em;

  &:last-child {
    border-right: none;
  }
}

.table__heading-cell {
  color: clr(accent-high);
  font-weight: 700;
  padding: 1.2em;
  text-align: left;
}

.table__row {
  &:nth-child(odd) {
  }

  /* Top Row - Non-BEM but always contained */
  &:first-child {
    th:first-child,
    td:first-child {
      border-radius: 5px 0 0;
    }

    th:last-child,
    td:last-child {
      border-radius: 0 5px 0 0;
    }
  }

  /* Bottom Row - Non-BEM but always contained */
  &:last-child {
    tbody & {
      th,
      td {
        border-bottom: none;
      }
    }

    td:first-child {
      border-radius: 0 0 0 5px;
    }

    td:last-child {
      border-radius: 0 0 5px;
    }
  }
}

.table__footer-cell,
.table__footer-cell:first-child {
  border-bottom: none;
}

/* TODO: BEM selectors should be applied to wysiwyg-created content */

.text-long {
  table {
    @extend .table;
  }

  th {
    @extend .table__heading-cell;
  }

  td {
    @extend .table__cell;
  }

  tr {
    @extend .table__row;
  }

  tfoot th {
    @extend .table__footer-cell;
  }
}


.view-display-id-favorites_block {
  margin-bottom: $space-triple;
  @include xl {
    margin-bottom: $space-quintuple;
  }
  table {
    width: 100%;
    background-color: clr(text-inverse);
    border-radius: 8px;
  }
  thead {
    border-bottom: 2px solid clr(background-border);
    th {
      padding: $space $space $space $space-one-and-half;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        border-left: 2px solid clr(background-border);
      }
    }

  }
  tbody {
    td {
        padding: $space $space $space $space-one-and-half;
        line-height: 24px;
        font-size: 14px;
        a {
          font-size: 14px;
          color: clr(alt-header-color);
          font-weight: 600;
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
        }
        div {
          line-height: 24px;
        }
        .languages-wrapper {
          display: flex;
          flex-wrap: wrap;
          .field__item {
            display: flex;
            p {
              margin: 0;
            }
          }
        }
    }
  }
  .views-field-title {
    width: 50%;
  }
  .views-empty {
    height: 300px;
    text-align: center;
  }
}

.block-recently-viewed-services-table,
.view-display-id-last_updated_table_block {
  margin-bottom: $space-triple;
  @include xl {
    margin-bottom: $space-quintuple;
  }
  display: flex;
  flex-direction: column;
  >div:not(.contextual) {
    background-color: clr(text-inverse);
    border-radius: 8px;
    height: 100%;
  }
  table {
    width: 100%;
  }
  thead {
    border-bottom: 2px solid clr(background-border);
    th {
      padding: $space $space $space $space-one-and-half;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      &:nth-child(2) {
        border-left: 2px solid clr(background-border);
      }
    }

  }
  tbody {
    td {
      padding: $space $space $space $space-one-and-half;
      line-height: 24px;
      font-size: 14px;
      a {
        font-size: 14px;
        color: clr(alt-header-color);
        font-weight: 600;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .views-empty {
    height: 300px;
    text-align: center;
  }
}

.js td .dropbutton-multiple.dropbutton-wrapper {
  min-height: 24px;
}

.dropbutton-multiple .dropbutton-widget {
  background: white;
  border: 2px solid clr(form-border);
  border-radius: 8px;
  padding-left: 8px;
}
.dropbutton-multiple .dropbutton-toggle {
  bottom: unset;
}

.dropbutton-multiple .dropbutton-arrow {
  border: unset;
  width: 24px;
  height: 24px;
  background-image: url('/themes/custom/palvelumanuaali/images/icons/arrow-sm-down-light-blue.svg');
  top: 0;
  right: unset;
  margin-top: 0;
}
.dropbutton-multiple.open .dropbutton-arrow {
  transform: rotate(180deg);
  border: unset;
  top: 0;
}

//override bootstrap
.table > :not(caption) > * > *,
table > :not(caption) > * > * {
  padding: 20px 18px 20px $space-double;

}

.field--widget-entity-reference-paragraphs,
.field--widget-hel-tpm-general-inline-entity-form-complex-improved {
  table tbody td,
  table thead th {
    height: unset;
  }
  table {
    background-color: transparent;
  }
}

table {
  margin-top: $space;
  margin-bottom: $space;
  width: 100%;
  background-color: clr(text-inverse);
  border-radius: 8px;
  thead {
    border-bottom: 2px solid clr(background-border);
    tr {
      position: relative;
    }
    th {
      padding: $space $space $space $space-one-and-half;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 24px;
      font-weight: 700;
      position: relative;
      &::after {
        content : "";
         position: absolute;
         right: 0;
         top: 8px;
         height: calc(100% - 16px);
         width: 2px;
         border-right: 2px solid clr(background-border);
      }
      a {
        color: clr(text);
        text-decoration: none;
        position: relative;
        width: 100%;
        display: inline-block;
      }
      &:last-child {
        border-right: unset;
        &::after {
           border-right: unset;
        }
      }
      .tablesort {
        position: absolute;
        right: 0;
        height: 24px;
        width: 24px;
        background-repeat: no-repeat;
        background-position: center;
      }
      .tablesort--asc {
        background-image: url('/themes/custom/palvelumanuaali/images/icons/arrow-sm-down-light-blue.svg');
      }
      .tablesort--desc {
        background-image: url('/themes/custom/palvelumanuaali/images/icons/arrow-sm-down-light-blue.svg');
        transform: rotate(180deg);
      }
    }

  }
  tbody {
    ol, ul {
      margin: 0;
    }
    tr {
      position: relative;
      &::after {
        content: "";
        // height: 2px;
        width: calc(100% - 16px);
        left: 8px;
        bottom: 0;
        position: absolute;
        display: block;
        border-bottom: 2px solid $blue10;
      }
      &:last-child {
        &::after {
          border-bottom: unset;
        }
      }
    }
    td {
        padding: $space $space $space $space-one-and-half;
        line-height: 24px;
        font-size: 14px;
        a {
          font-size: 14px;
          color: clr(alt-header-color);
          font-weight: 600;
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
        }
        div {
          line-height: 24px;
        }
        .languages-wrapper {
          display: flex;
          flex-wrap: wrap;
          .field__item {
            display: flex;
            p {
              margin: 0;
            }
          }
        }
    }
  }
}
