
table.sticky-header thead {
  z-index: $zi-above-content;
}

.table {
  margin: 1em 0;
  width: 100%;
  > tbody {
    border-top: 0;
  }
  tbody,
  thead,
  tr,
  td {
    border: 0;
  }
}

.table__heading-cell,
.table__cell {
  padding: 1em;

  &:last-child {
    border-right: none;
  }
}

.table__heading-cell {
  color: clr(accent-high);
  font-weight: 700;
  padding: 1.2em;
  text-align: left;
}

.table__row {
  /* Top Row - Non-BEM but always contained */
  &:first-child {
    th:first-child,
    td:first-child {
      border-radius: 5px 0 0;
    }

    th:last-child,
    td:last-child {
      border-radius: 0 5px 0 0;
    }
  }

  /* Bottom Row - Non-BEM but always contained */
  &:last-child {
    tbody & {
      th,
      td {
        border-bottom: none;
      }
    }

    td:first-child {
      border-radius: 0 0 0 5px;
    }

    td:last-child {
      border-radius: 0 0 5px;
    }
  }
}

.table__footer-cell,
.table__footer-cell:first-child {
  border-bottom: none;
}

/* TODO: BEM selectors should be applied to wysiwyg-created content */

.text-long {
  table {
    @extend .table;
  }

  th {
    @extend .table__heading-cell;
  }

  td {
    @extend .table__cell;
  }

  tr {
    @extend .table__row;
  }

  tfoot th {
    @extend .table__footer-cell;
  }
}


.view-display-id-favorites_block {
  margin-bottom: $space-triple;
  @include xl {
    margin-bottom: $space-quintuple;
  }
  table {
    width: 100%;
    background-color: clr(text-inverse);
    border-radius: 8px;
  }
  thead {
    border-bottom: 2px solid clr(background-border);
    th {
      padding: $space $space $space $space-one-and-half;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
    }

  }
  tbody {
    td {
        padding: $space $space $space $space-one-and-half;
        line-height: 24px;
        font-size: 14px;
        a {
          font-size: 14px;
          color: clr(alt-header-color);
          font-weight: 600;
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
        }
        div {
          line-height: 24px;
        }
        .languages-wrapper {
          display: flex;
          flex-wrap: wrap;
          .field__item {
            display: flex;
            p {
              margin: 0;
            }
          }
        }
    }
  }
  .views-field-title {
    width: 50%;
  }
  .views-empty {
    height: 300px;
    text-align: center;
  }
}

.view table {
  .views-empty {
    text-align: center;
    font-weight: bolder;
  }
}

.block-recently-viewed-services-table,
.view-display-id-last_updated_table_block {
  margin-bottom: $space-triple;
  @include xl {
    margin-bottom: $space-quintuple;
  }
  display: flex;
  flex-direction: column;
  >div:not(.contextual) {
    background-color: clr(text-inverse);
    border-radius: 8px;
    height: 100%;
  }
  table {
    width: 100%;
  }
  thead {
    border-bottom: 2px solid clr(background-border);
    th {
      padding: $space $space $space $space-one-and-half;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
    }

  }
  tbody {
    td {
      padding: $space $space $space $space-one-and-half;
      line-height: 24px;
      font-size: 14px;
      a {
        font-size: 14px;
        color: clr(alt-header-color);
        font-weight: 600;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .views-empty {
    height: 300px;
    text-align: center;
  }
}

.js td .dropbutton-multiple.dropbutton-wrapper {
  min-height: 24px;
}

.dropbutton-widget {
  a {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  a:before {
    display: inline-block;
    width: 20px;
    height: 100%;
    vertical-align: middle;
    margin-right: 16px;
    margin-top: 1px;
  }

  .edit_node-link,
  .edit-link {
    a:before {
      content: url('../../assets/images/icons/edit.svg');
    }
  }

  .break_lock-link a:before {
  }

  .translate-link a:before {
    content: url('../../assets/images/icons/translate.svg');
  }

  .set_outdated-link a:before {
    content: url('../../assets/images/icons/set-outdated.svg');
  }

  .delete_node-link,
  .delete-link {
    a:before {
      content: url('../../assets/images/icons/trash-can.svg');
    }
  }
}

.js td .dropbutton-multiple {
  margin-right: 0;
  padding-right: 0;
  .dropbutton-toggle {
    position: relative;
    margin-bottom: 2em;
  }
  &.open ul.dropbutton {
  }
  .dropbutton-widget {
    padding-right: 0;
    margin-left: 25%;
  }
  ul.dropbutton {
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(30, 64, 182, 0.2);
    background-color: #fff;
    margin-left: -90px;
    .secondary-action {
      padding: 0.5em 1.5em;
      min-width: 225px;
      &:hover {
        background-color: $blue10;
      }
    }

  }

  .dropbutton-arrow {
    border: unset;
    width: 24px;
    height: 24px;
    background: url('../../assets/images/icons/dots.svg') no-repeat center center;
    top: 0;
    right: unset;
    margin-top: 0;
  }
}


//override bootstrap
.table > :not(caption) > * > *,
table > :not(caption) > * > * {
  padding: 20px 18px 20px $space-double;
}


.node-form  {
  .table > :not(caption) > * > *,
  table > :not(caption) > * > * {
    padding: 0;
    background-color: transparent;

  }
}

.field--name-field-service-time-and-location  {
  .table > :not(caption) > * > *,
  table > :not(caption) > * > * {
    padding: 0;
    background-color: transparent !important;
  }
}

.field-service-time-and-location-values {
  display: block;
  >tbody {
    display: flex;
    flex-direction: column;
  }
  >tbody > tr {
    display: block;
    position: relative;
    > .table__cell {
      display: block;
    }
  }

}

.field--widget-entity-reference-paragraphs,
.field--widget-hel-tpm-general-inline-entity-form-complex-improved {
  table tbody td,
  table thead th {
    height: unset;
  }
  table {
    background-color: transparent;
  }
}

.node-service-edit-form .field--widget-municipality-specific-ief-widget,
.node-service-form .field--widget-municipality-specific-ief-widget {
  table, tr, td {
    width: auto;
  }
  thead {
    display: none;
  }
  .inline-entity-form-paragraph-label {
    grid-column: 2;
  }
  .table__cell {
    &:last-child()  {
      grid-column: 3;
    }
  }

  table {
    display: table;
    width: 100%;
    tr {
      border-radius: 8px;
      display: grid;
      grid-template-columns: 60px 1fr 1fr;
      background-color: $blue05;
      margin-bottom: 9px;
      box-shadow: 0 2px 1px 0 $blue40;
      height: 58px;
      @include xxl {
        grid-template-columns: 60px 3fr 1fr;
      }
    }

    td {
      display: flex;
      align-items: center;
      padding: 0;
    }
    a.tabledrag-handle {
      height: auto;
      margin: auto;
    }
    .handle {
      margin: 0;
      padding: 0;
      background-size: contain;
      background-image: url("../../assets/images/icons/union.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 4px;
      height: 24px;
    }

    .ief-entity-operations {
      justify-content: flex-end;
    }

    .ief-entity-operations > input.button {
      background: none;
      color: $blue100;
      padding: 0;
      margin: 0 1em;
      &:last-child {
        margin-right: $space-double;
      }
      &:disabled {
        color: $gray-light;
        cursor: default;
      }
    }
  }
  fieldset > div.container-inline input {
    margin-top: $space-one-half;
    @include button-color-blue;
    width: 100%;
    box-sizing: border-box;
    background-image: url("../../assets/images/icons/plus.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    line-height: 24px;
    background-position-x: calc(50% + 14ch - 0.5rem);
    border-radius: 8px;
    height: 58px;
    &:disabled {
      background-color: $near-white;
      background-image: none;
      color: $gray-light;
      cursor: default;
    }
  }
  &.field--name-field-municipality-specific fieldset > div.container-inline input {
      background-position-x: calc(50% + 19ch - 0.5rem);
  }
}

table {
  margin-top: $space;
  margin-bottom: $space;
  width: 100%;
  background-color: clr(text-inverse);
  border-radius: 8px;
  ul {
    list-style: none;
  }
  thead {
    border-bottom: 2px solid $blue20;
    tr {
      position: relative;
    }
    th {
      padding: $space $space $space $space-one-and-half;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 24px;
      font-weight: 700;
      position: relative;
      background: white;
      border-radius: 8px;
      &::after {
         content : "";
         position: absolute;
         right: 0;
         top: 8px;
         height: calc(100% - 16px);
         width: 2px;
         border-right: 2px solid $blue20;
      }
      a {
        color: clr(text);
        text-decoration: none;
        position: relative;
        width: 100%;
        display: inline-block;
        &::after {
          position: absolute;
          content: "";
          right: 0;
          height: 24px;
          width: 24px;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('../../assets/images/icons/arrow-sm-down-light-blue.svg');

        }

      }
      a[href*="desc"] {
        &::after {
          transform: rotate(180deg);
        }
      }
      &:last-child {
        border-right: unset;
        &::after {
           border-right: unset;
        }
      }
      &.is-active {
        &::before {
           content : "";
           position: absolute;
           right: 0;
           bottom: -1px;
           height: 100%;
           width: 100%;
           border-bottom: 4px solid clr(background-section);
        }
        a {
          &::after {
            background-image: url('../../assets/images/icons/arrow-sm-down.svg');
          }
        }
      }
      .tablesort {
        background-image: unset;
      }
    }

  }

  tbody {
    ol, ul {
      margin: 0;
    }
    tr {
      position: relative;
      &::after {
        content: "";
        // height: 2px;
        width: calc(100% - 16px);
        left: 8px;
        bottom: 0;
        position: absolute;
        display: block;
        border-bottom: 2px solid $blue10;
      }
      &:last-child {
        &::after {
          border-bottom: unset;
        }
      }
    }
    td {
        padding: $space $space $space $space-one-and-half;
        line-height: 24px;
        font-size: 14px;
        .highlight-wrapper {
          color: red;
        }
        a {
          font-size: 14px;
          color: clr(alt-header-color);
          font-weight: 600;
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
        }
        div {
          line-height: 24px;
        }
        .languages-wrapper {
          display: flex;
          flex-wrap: wrap;
          .field__item {
            display: flex;
            p {
              margin: 0;
            }
          }
        }
    }
  }
}

.field--name-field-contact-info,
.field--name-field-contact-info-external {
  fieldset {
    legend,
    legend > span {
      font-size: $small-font;
    }
  }
  tbody {
    tr {
      display: flex;
      border-bottom: 2px solid clr(form-border);
      border-radius: 8px;
      height: 48px;
      background: clr(background-dropdown);
      margin-bottom: $space;
      padding: $space-three-fourths $space-double $space-three-fourths 20px;
    }
    td {
      padding: 0;
      font-size: $small-font;
      &.inline-entity-form-contact_info-label {
        padding-left: $space-three-fourths;
        font-size: $small-caption;
        max-width: 40ch;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
      }
      &.table__cell {
        width: 100%;
      }
      &.ief-tabledrag-handle {
        width: 12px;
      }
      >.form-wrapper >.form-submit {
        background-color: transparent;
        color: clr(background-section);
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        padding: 0;
        &:hover {
          background: transparent;
          color: clr(background-color);
        }
        @include xxl {
          height: unset;
        }
      }
    }
  }
  a.tabledrag-handle {
    margin-left: 0;
    .handle {
      margin: 0;
      padding:0;
      background-size: contain;
      background-image: url("../../assets/images/icons/union.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 4px;
      height: 24px;
    }
  }

  .ief-entity-operations {
    height: 100%;
    gap: $space-triple;
    justify-content: end;
  }
}


.details-file-field {
    tbody {
      tr {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        border-bottom: 2px solid clr(form-border);
        border-radius: 8px;
        height: 48px;
        background: clr(background-dropdown);
        margin-bottom: $space;
        padding: $space-three-fourths $space-double $space-three-fourths 20px;
        &:last-child {
          margin-bottom: $space-one-half;
        }
      }
      td {
        padding: 0;
        font-size: $small-font;
        &.inline-entity-form-contact_info-label {
          padding-left: $space-three-fourths;
          font-size: $small-caption;
          max-width: 40ch;
          overflow: hidden;
          text-overflow: ellipsis;

        }
        >.form-submit {
          background-color: transparent;
          color: clr(background-section);
          font-weight: 700;
          font-size: 12px;
          line-height: 24px;
          padding: 0;
          &:disabled {
            display: none;
            color: transparent;
            background: transparent;
          }
          &:hover {
            background: transparent;
            color: clr(background-color);
          }
          @include xxl {
            height: unset;
          }
        }
      }
    }
    a.tabledrag-handle {
      margin-left: 0;
      margin-right: $space-one-and-half;
      .handle {
        margin: 0;
        padding: 0;
        background-size: contain;
        background-image: url("../../assets/images/icons/union.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 4px;
        height: 24px;
      }
    }
}
