div[data-description-tooltip="1"] {
  div[data-drupal-field-elements="description"],
  .form-item__description,
  .description {
    margin-bottom: auto;
    margin-top: auto;
    width: 16px;
    height: 16px;
    margin-left: $space-one-half;
    order: 3;
  }
}
