.unflag-popup-wrapper {
  position: fixed;
  bottom: 1rem;
  z-index: 999;
  width: 100%;
  .popup {
    position: relative;
    max-width: 600px;
    margin: auto;
    padding: 1.5rem 3rem;
    background-color: $blue05;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px #1E40B633;
    margin-bottom: 2rem;
    .popup-title {
      font-weight: 600;
      font-size: 1rem;
      line-height: 24px;
      text-align: center;
    }
    .close-button {
      @include close-button;
      cursor: pointer;
      background-size: 24px;
      height: 24px;
      width: 24px;
      display: block;
      position: absolute;
      right: 15px;
      top: 15px;
    }
    .actions {
      display: flex;
      justify-content: center;
      column-gap: 1.5rem;
      margin-top: 1rem;
    }
    .flag-cart a:after {
      content: "";
    }
  }
}