.styled-tooltip {
  $tooltip-font-size:                 $small-caption;
  $tooltip-max-width:                 400px;
  $tooltip-color:                     $black;
  $tooltip-bg:                        $blue05;
  $tooltip-border-radius:             8px;
  $tooltip-opacity:                   1;
  $tooltip-padding-y:                 $space-one-and-half;
  $tooltip-padding-x:                 $space-one-and-half;

  $tooltip-arrow-width:               0;
  $tooltip-arrow-height:              0;

  --#{$prefix}tooltip-zindex: #{$zindex-tooltip};
 --#{$prefix}tooltip-max-width: #{$tooltip-max-width};
 --#{$prefix}tooltip-padding-x: #{$tooltip-padding-x};
 --#{$prefix}tooltip-padding-y: #{$tooltip-padding-y};
 --#{$prefix}tooltip-margin: #{$tooltip-margin};
 @include rfs($tooltip-font-size, --#{$prefix}tooltip-font-size);
 --#{$prefix}tooltip-color: #{$tooltip-color};
 --#{$prefix}tooltip-bg: #{$tooltip-bg};
 --#{$prefix}tooltip-border-radius: #{$tooltip-border-radius};
 --#{$prefix}tooltip-opacity: #{$tooltip-opacity};
 --#{$prefix}tooltip-arrow-width: #{$tooltip-arrow-width};
 --#{$prefix}tooltip-arrow-height: #{$tooltip-arrow-height};
 text-align: left;

}
.tooltip-inner {
    text-align: left;
    line-height: 24px;
    font-family: $font-body;
}

.tooltip {
  box-shadow: 0px 8px 16px rgba(30, 64, 182, 0.2);
  border-radius: 8px;
  animation-delay: 1000ms;
}
