{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{%
  set classes = [
  'municipality-taxonomy-view-filters',
  'embedded-service-list-filters',
  'filter-ajax-watcher'
]
%}
{{ attach_library('palvelumanuaali/taxonomy-filters') }}
<form{{ attributes.addClass(classes) }}>
  {{ children }}
</form>
