.small-message-wrapper {
  &--taxonomy-card {
    width: 72px;
    height: 60px;
    right: 0;
    position: absolute;
  }
  &--view-card {
    width: 102px;
    height: 68px;
    position: absolute;
    right: 0;
  }
  &--service {
    width: 102px;
    height: 68px;
    position: absolute;
    right: 0;
    top: 2px;
  }
}

.logged-in {
  .small-message-wrapper--service {
    top: 5px;
    @include large {
        top: 65px;
    }
  }
}
