.view-filters {
  .form--inline {
    margin-top: $space;
    margin-bottom: $space;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    @include xl {
      margin-top: 0;
    }
    @include xxl {
      margin-top: $space-double;
    }
    &.search-form {
      margin-top: 0;
      margin-bottom: 0;
      gap: $space-one-half;
      @include xl {
        gap: $space-double;
      }
    }
  }
  .form-item,
  .form-actions {
    flex: 1;
    margin-bottom: 0;

  }
  .form-actions input {
    @include button-round-corners;
    @include button-color-blue;
  }
}

.owner-and-updatee-view-block {
  margin-bottom: $space-double;
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

.view-maintenance-and-administration,
.view-owner-and-responsible-updatee {
  grid-template-areas:
  "head  head  "
  "title filter"
  "view  view  ";
  display: grid;
  grid-template-columns: 180px 1fr;
  margin-bottom: $space-quadruple;
  >h2 {
    grid-area: head;
  }
  >.view-header {
        grid-area: title;
        display: flex;

        align-items: flex-end;
    >span {
      margin-bottom: $space;
      font-size: 18px;
      line-height: 24px;
      font-weight: 600;
    }
    .add-service-button {
      position: absolute;
      top: 90px;
      right: 0;
    }
  }
  >.view-filters {
        grid-area: filter;
        grid-gap: $space;
        >.views-exposed-form >.form--inline {
          margin-top: 0;
          margin-bottom: $space-one-half;
          gap: 0;
          >.form-item  {
            display: flex;
            justify-content: end;
            align-items: center;
            label {
              margin-bottom: 0;
              font-size: 16px;
              line-height: 24px;
              font-weight: 600;
              margin-right: $space-one-and-half;
            }
          }
        }
        .form-text {
          max-width: 380px;
        }
        .form-actions {
          position: absolute;
          right: 0;
          top: 12px;
          input.form-submit {
            color: transparent;
            background-color: transparent;
            background-image: url('../../assets/images/icons/sort-2.svg');
            background-repeat: no-repeat;
            background-position: center;
            width: 24px;
            height: 24px;
            padding-left: 0;
            padding-right: 0;
            margin-right: $space-one-and-half;
          }
        }
  }
  >.view-content  {
        grid-area: view;
  }
  .js-form-item-moderation-state {
    @include large {
      margin-right: $space;
    }
  }
}

.owner-and-updatee-view-block,
.group-page {
  .select--details-select {
    @extend .select--white-rounded;
    background: clr(text-inverse);
    border-radius: 8px;
    .form-select {
      height: 48px;
      text-align: left;
    }
  }
}

.group-page {
  .form--inline {
    .form-item-langcode {
      label {
        display: block !important;
      }
    }
  }

  .select2-results__options {
    padding-left: 0;
    padding-right: 0;
  }
  .select2-results__option,
  .select2-results__option--highlighted[aria-selected] {
    display: block;
    font-size: 0.875rem;
    padding: 0.6rem $space-two-and-half 0.6rem $space-triple;
    white-space: nowrap;
    color: clr(text);
    font-weight: 400;
    &:hover,
    &:focus {
      background: clr(background);
      font-weight: 400;
      color: clr(text);
    }
  }
  .select2-results__option[aria-selected="true"] {
    font-weight: 400;
    color: clr(text);
    &::before {
      left: 18px;
      width: 12px;
      height: 12px;
      font-size: 9px;
    }
  }
  .select2-search {
    display: none;
  }
  .select2-dropdown {
    border-radius: 8px;
    font-size: $small-caption;
    &--above {
      top: -8px;
    }
    &--below {
      top: 8px;
    }
  }
  .views-exposed-form  {
    .form-item-select {
      @include large {
        max-width: 330px;
      }
    }
  }
  .select--white-rounded,
  .select--details-select {
    select,
    .multi-select-button {
      padding:  12px 12px 12px 16px;
      height: unset;
      background-color: transparent;
      z-index: $zi-group-page-select;
    }
    .select2 {
      padding: 0;
      .select2-selection {
        height: 48px;
        padding: 12px 48px 12px 24px;
      }
    }
    .select2-selection--single  {
      .select2-selection__rendered{
        font-size: 14px;
        padding-left: 0;
        background-color: transparent;
      }
    }

  }
  .form--inline {
    position: relative;
    margin-left: auto;
    gap: 0;
    column-gap: 1rem;
    .form-item__select {
      text-align: left;
    }
    .form-item-filter {
      display: flex;
      max-width: 400px;
      margin-left: auto;
      margin-right: -16px;
      .form-item__label {
        margin-bottom: 0;
        height: 48px;
        display: flex;
        align-items: center;
        margin-right: $space-one-and-half;
      }

      .input.form-text {
        width: 100%;
      }
    }
    .form-actions {
      position: absolute;
      right: 0;
      input.form-submit {
        color: transparent;
        background-color: transparent;
        background-image: url('../../assets/images/icons/sort-2.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 24px;
        height: 48px;
        padding-left: 0;
        padding-right: 0;
        margin-right: $space-one-and-half;
      }
    }
  }
}

.view-group-services {
  .view-header {
    margin-top: $space;
    display: flex;
    justify-content: end;
  }
}

.view-group-title-view {
  h1 {
    margin-bottom: $space-two-and-half;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
  }
}

.view-notifications {
  @include xl {
    grid-column-start: 2;
  }
}

.view-ready-to-publish-for-organization-updatee {
  margin-bottom: $space-quadruple;
}

.view-organizatio-with-ready-to-publish-content  {
  margin-bottom: $space-quadruple;
  .view-empty {
    background: white;
    border-radius: 8px;
    text-align: center;
    font-weight: bolder;
    padding: 1rem;
  }
}

.organization-ready-to-publish-block,
.view-maintenance-and-administration,
.owner-and-updatee-view-block,
.ready-to-publish-for-organization-updatee-view-block {
  >h2 {
    margin-bottom: $space-two-and-half;
  }
}

.view-taxonomy-term {
  .view-header {
    >div {
      >p {
        @extend .col-lg-8;
        @extend .offset-lg-2;
        @extend .col-xl-6;
        @extend .offset-xl-3;
        text-align: center;
        margin-bottom: $space-two-and-half;
        @include xl {
          margin-bottom: $space-double;
        }
      }
      >.views-element-container {
        margin-top: $space-double;
      }
    }
  }
}

.search-page-header-block {
  grid-column-start: 1;
  grid-column-end: 4;
}

.municipality-taxonomy-view-filters.bef-exposed-form {
    height: 150px;
    border-bottom: 1px solid $blue40;
    @include xl {
      height: unset;
      border-bottom: unset;
    }
    .select-all label {
      cursor: pointer;
    }
    .select-all.highlight label {
      color: #fff;
    }
    fieldset {
      width: 100%;
    }
    .nesting-level-0 {
      @extend .col-xl-10;
      display: inline-flex;
      flex-direction: row;
      align-items: flex-start;
      overflow: scroll;
      padding-bottom: 0.8rem;
      margin-bottom: $space-double;
      @include xl {
        overflow: auto;
        margin: $space-two-and-half auto 0 auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        gap: 8px;
        flex-shrink: 0;
        flex-wrap: wrap;
        padding-bottom: unset;
      }
      .form-item-checkbox {
        margin: 0;
      }
      .nesting-level-1 .form-item-checkbox {
        background-color: $blue20;
        color: $blue150;
        margin-bottom: $space-one-half;
        &.highlight {
          background: clr(background-section);
        }
        label {
          padding: 5px 24px;
        }
      }

    }
    .nesting-level-1 {
      width: 100%;
      height: 100%;
      display: flex;
      @include large {
        display: block;
      }
      @include xl {
        text-align: center;
        transform: translateY(100%);
        margin-top: (2*$space);
      }

    }
    .bef-nested {
      position: relative;
      width: 100%;
      ul > li {
        display: inline-block;
      }
      ul > li > ul  {
        position: absolute;
        left: 0;
        top: $space-quintuple;
        display: none;
        width: 100%;
        height: 52px;
        @include xl {
          height: 100%;
          top: -4.5 * $space;
        }
      }

      ul:has( li>div.highlight ) {
        display: flex;
        @include xl {
          margin-bottom: $space-four-and-half;
        }
      }

      .form-item-checkbox {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        &.highlight ~ ul  {
           display: flex;
           flex-wrap: nowrap;
           overflow: scroll;
           @include xl {
             display: block;
             overflow: auto;
           }
        }
      }
    }


  .form-item-checkbox {
    @extend .checkbox-pill;
    padding: 0;
    input {
      left: 0;
      @include large {
        left: inherit;
      }
    }
    label {
      padding: 8px 24px;
      width: max-content;
      max-width: 40ch;
      @include large {
        max-width: fit-content;
      }
    }
  }
}

.view-taxonomy-term,
.view-search-municipality-services {
  @include large {
    min-height: 700px;
  }
  header {
    margin-bottom: $space;
  }
  .view-results-amount-wrapper {
    display: flex;
    gap: $space;
    align-items: center;
  }
  .result-amount {
    display: none;
    @include xl {
      display: block;
      font-size: 15px;
      font-weight: 600;
      line-height: 24px;
    }
  }
  .result-amount-mobile {
    display: block;

    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    @include xl {
      display: none;
    }
  }
  .result-number {
    @extend .view-result-number;
  }

  .bef-exposed-form {
    height: 150px;
    border-bottom: 1px solid $blue40;
    @include xl {
      height: unset;
      border-bottom: unset;
    }

    .select-all label {
      cursor: pointer;
    }
    .select-all.highlight label {
      color: #fff;
    }
    fieldset {
      width: 100%;
    }
    .bef-nested {
      position: relative;
      width: 100%;
      ul > li {
        display: inline-block;
      }
      ul > li > ul  {
        position: absolute;
        left: 0;
        top: $space-quintuple;
        display: none;
        width: 100%;
        height: 52px;
        @include xl {
          height: 100%;
          top: -4.5 * $space;
        }
      }

      ul:has( li>div.highlight ) {
        display: flex;
        @include xl {
          margin-bottom: $space-four-and-half;
        }
      }

      .form-item-checkbox {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        &.highlight ~ ul  {
           display: flex;
           flex-wrap: nowrap;
           overflow: scroll;
           @include xl {
             display: block;
             overflow: auto;
           }
        }
      }
    }

  }
  .form-item-checkbox {
    @extend .checkbox-pill;
    padding: 0;
    input {
      left: 0;
      @include large {
        left: inherit;
      }
    }
    label {
      padding: 8px 24px;
      width: max-content;
      max-width: 40ch;
      @include large {
        max-width: fit-content;
      }
    }
  }
  .nesting-level-0 {
    @extend .col-xl-10;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: scroll;
    padding-bottom: 0.8rem;
    margin-bottom: $space-double;
    @include xl {
      overflow: auto;
      margin: $space-two-and-half auto 0 auto;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      align-content: flex-start;
      gap: 8px;
      flex-shrink: 0;
      flex-wrap: wrap;
      padding-bottom: unset;
    }
    .form-item-checkbox {
      margin: 0;
    }
    .nesting-level-1 .form-item-checkbox {
      background-color: $blue20;
      color: $blue150;
      margin-bottom: $space-one-half;
      &.highlight {
        background: clr(background-section);
      }
      label {
        padding: 5px 24px;
      }
    }
    .nesting-level-1 {
      width: 100%;
      height: 100%;
      display: flex;
      @include large {
        display: block;
      }
      @include xl {
        text-align: center;
        transform: translateY(100%);
        margin-top: (2*$space);
      }

    }
  }
  .pager {
    padding: 0;
    margin-top: $space;
    display: flex;
    align-items: center;
  }

  .taxonomy-card {
    /* TODO:
    Add selectors to display taxonomy cards in different mode
     &.row-identifier {} for full width
     &.small-card-identifier {} for 1/3  or 1/4 width
    */
    &:hover,
    &:focus,
    &:focus-within {
      transition-duration: 100ms;
      @include xl {
        transform: translateY(-3px);
     }
    }
    @include xl {
      width: calc(33% - 16px);
      flex-basis: calc(33% - 16px);
      flex-grow: 1;
      max-width: calc(33% - 11px);
    }
    @media (min-width: 1640px) {
      width: calc(25% - 18px);
      flex-basis: calc(25% - 18px);
      flex-grow: 1;
      max-width: calc(25% - 16px);
    }
  }
}

.taxonomy-card-list .view-content,
.service-search .view-content {
  display: flex;
  flex-direction: column;
  grid-gap: $space-one-half;
  @include medium {
      flex-direction: row;
      flex-wrap: wrap;
      gap: $space-one-and-half;
  }
  @include xl {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: flex-start;
    flex-wrap: wrap;
  }
}

.taxonomy-card-list .view-empty {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  @include xl {
    font-size: 18px;
  }
}

.view-result-number {
  display: flex;
  padding: 4px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  color: clr(background-section);
  line-height: 24px;
  border-radius: 8px;
  background-color: clr(text-inverse);
  @include xl {
    font-size: 15px;

  }
}

/* Add extra margin between view header and the actual content. */
.view-header .view-content {
  margin-bottom: $space-quadruple;
}

.basic-page {
    .field--name-field-view-embed {
      .view-content {
        width: 100%;
    }
  }
}
