/*
 * Generic header styles:
 * All arguments are optional. If not defined, the defaults below will be used
*/

$color-heading: clr(accent);

@mixin heading-xl(
  $font-family: $font-heading,
  $font-size: 2.75rem,
  $line-height: 1.27,
  $color: $color-heading,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: 600,
  $margin: 0 0 0.5em
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  margin: $margin;
  width: auto;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@mixin heading-large(
  $font-family: $font-heading,
  $font-size: 2.375rem,
  $line-height: 1.26,
  $color: $color-heading,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: 600,
  $margin: 0 0 0.5em
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  margin: $margin;
  width: auto;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@mixin heading-medium(
  $font-family: $font-heading,
  $font-size: 2rem,
  $line-height: 1.5,
  $color: $color-heading,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: 600,
  $margin: 0 0 0.5em
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  margin: $margin;
  width: auto;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@mixin heading-small(
  $font-family: $font-heading,
  $font-size: 1.5rem,
  $line-height: 1.33,
  $color: $color-heading,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: 600,
  $margin: 0 0 0.5em
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  margin: $margin;
  width: auto;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@mixin heading-xs(
  $font-family: $font-heading,
  $font-size: 1.125rem,
  $line-height: 1.33,
  $color: $color-heading,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: 600,
  $margin: 0 0 0.5em
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  margin: $margin;
  width: auto;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@mixin heading-xxs(
  $font-family: $font-heading,
  $font-size: 1rem,
  $line-height: 1.5,
  $color: $color-heading,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: 600,
  $margin: 0 0 0.5em
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  margin: $margin;
  width: auto;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

.h1 {
  @include heading-xl;

  &--page-title {
    @include heading-medium;
    text-align: center;
    margin-top: $space-triple;
    margin-bottom: $space-double;
  }
}

.h2 {
  @include heading-large;
}

.h3 {
  @include heading-medium;
  &--margin-bottom-ninety {
      margin-bottom: $space-quintuple;
    @include xl {
      margin-bottom: $space-sextuple;
    }
  }
}

.h4 {
  @include heading-small;
  &--margin-bottom-triple-half {
      margin-bottom: $space-two-and-half;
    @include xl {
      margin-bottom: $space-three-and-half;
    }
  }

}

.h5 {
  @include heading-xs;
  &--margin-bottom {
    margin-bottom: $space;
  }
  &--margin-bottom-extra {
      margin-bottom: $space-one-and-half;
  }
  &--margin-bottom-triple-half {
      margin-bottom: $space-two-and-half;
    @include xl {
      margin-bottom: $space-three-and-half;
    }
  }
}

.h6 {
  @include heading-xxs;
}

/* TODO: BEM selectors should be applied to wysiwyg-created content */

.text-long {
  h1 {
    @extend .h1;
  }

  h2 {
    @extend .h2;
  }

  h3 {
    @extend .h3;
  }

  h4 {
    @extend .h4;
  }

  h5 {
    @extend .h5;
  }

  h6 {
    @extend .h6;
  }
}

.page-heading {
  @include heading-small;
  @include medium {
    font-size: 34px;
  }

  @include xl {

    @include heading-large;
    font-weight: 600px;
    margin-bottom: $space-double;
  }
}


.group-label  {
  margin-bottom: $space-one-and-half;
  @include large {
    margin-bottom: $space-double;
  }
}

.welcome-text {
  .h1 {
    font-size: 32px;
    font-weight: 400;
    span {
      color: clr(background-section);
    }
  }
}
