/*
 * Generic header styles:
 * All arguments are optional. If not defined, the defaults below will be used
*/

$color-heading: clr(accent);

//h1 44px/56px
@mixin heading-xl(
  $font-family: $font-heading,
  $font-size: 2.75rem,
  $line-height: 1.27,
  $color: $color-heading,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: 600,
  $margin: 0 0 0.5em,
  $font-size-mobile: 1.75rem,
  $line-height-mobile:  1.14
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size-mobile;
  line-height: $line-height-mobile;
  margin: $margin;
  width: auto;
  @include large {
    font-size: $font-size;
    line-height: $line-height;
  }
  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}
 // (h2) 38px
@mixin heading-large(
  $font-family: $font-heading,
  $font-size: 2.375rem,
  $line-height: 1.26,
  $color: $color-heading,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: 600,
  $margin: 0 0 0.5em,
  $font-size-mobile: 1.5rem,
  $line-height-mobile: 1.33
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size-mobile;
  line-height: $line-height-mobile;
  margin: $margin;
  width: auto;
  @include large {
    font-size: $font-size;
    line-height: $line-height;
  }
  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

//h3 32px
@mixin heading-medium(
  $font-family: $font-heading,
  $font-size: 2rem,
  $line-height: 1.5,
  $color: $color-heading,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: 600,
  $margin: 0 0 0.5em,
  $font-size-mobile: 1.25rem,
  $line-height-mobile:  1.4
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size-mobile;
  line-height: $line-height-mobile;
  margin: $margin;
  width: auto;
  @include large {
    font-size: $font-size;
    line-height: $line-height;
  }
  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

//h4 24px
@mixin heading-small(
  $font-family: $font-heading,
  $font-size: 1.5rem,
  $line-height: 1.33,
  $color: $color-heading,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: 600,
  $margin: 0 0 0.5em,
  $font-size-mobile: 1rem,
  $line-height-mobile:  1.5
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size-mobile;
  line-height: $line-height-mobile;
  margin: $margin;
  width: auto;
  @include large {
    font-size: $font-size;
    line-height: $line-height;
  }
  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

//h5 18px
@mixin heading-xs(
  $font-family: $font-heading,
  $font-size: 1.125rem,
  $line-height: 1.33,
  $color: $color-heading,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: 600,
  $margin: 0 0 0.5em,
  $font-size-mobile: 0.81rem,
  $line-height-mobile:  1rem
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size-mobile;
  line-height: $line-height-mobile;
  margin: $margin;
  width: auto;
  @include large {
    font-size: $font-size;
    line-height: $line-height;
  }
  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}
//H6 16px/24px
@mixin heading-xxs(
  $font-family: $font-heading,
  $font-size: 1rem,
  $line-height: 1.5,
  $color: $color-heading,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: 600,
  $margin: 0 0 0.5em,
  $font-size-mobile: 0.75rem,
  $line-height-mobile:  1rem
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size-mobile;
  line-height: $line-height-mobile;
  margin: $margin;
  width: auto;
  @include large {
    font-size: $font-size;
    line-height: $line-height;
  }
  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

.h1 {
  @include heading-xl;
  &--page-title {
    @include heading-medium;
    text-align: center;
    margin-top: $space-triple;
    margin-bottom: $space-double;
    .placeholder {
      @include heading-medium;
      vertical-align: unset;
    }
  }
  &--margin-bottom-three-half {
    margin-bottom: $space-three-and-half;
  }
}

.h2 {
  @include heading-large;
}

.h3 {
  @include heading-medium;
  &--margin-bottom-ninety {
      margin-bottom: $space-quintuple;
    @include xl {
      margin-bottom: $space-sextuple;
    }
  }
  &--margin-bottom-double {
    margin-bottom: $space-double;
  }
}

.h4 {
  @include heading-small;
  &--margin-bottom-triple-half {
      margin-bottom: $space-two-and-half;
    @include xl {
      margin-bottom: $space-three-and-half;
    }
  }
  &--service-location {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 0;
    @include xl {
      font-size: 18px;
    }
  }
  &--margin-bottom-double {
    margin-bottom: $space-double;
  }
}

.h5 {
  @include heading-xs;
  @include large {
    font-size: 1.125rem;
  }
  &--margin-bottom {
    margin-bottom: $space;
  }
  &--margin-bottom-extra {
      margin-bottom: $space-one-and-half;
  }
  &--margin-bottom-triple-half {
      margin-bottom: $space-two-and-half;
    @include xl {
      margin-bottom: $space-three-and-half;
    }
  }
  &--margin-bottom-two {
    margin-bottom: $space-double;
  }
  &--blue-desktop {
    color: clr(text);
    @include large {
      color: clr(alt-header-color);
    }
  }
}

.h6 {
  @include heading-xxs;
}

/* TODO: BEM selectors should be applied to wysiwyg-created content */

.text-long {
  h1 {
    @extend .h1;
  }

  h2 {
    @extend .h2;
  }

  h3 {
    @extend .h3;
  }

  h4 {
    @extend .h4;
  }

  h5 {
    @extend .h5;
  }

  h6 {
    @extend .h6;
  }
}

.page-heading {
  @extend .h2;
}


.group-label  {
  margin-bottom: $space-one-and-half;
  @include xxl {
    margin-bottom: $space-double;
  }
}

.welcome-text {
  .h1 {
    font-size: 32px;
    font-weight: 400;
    span {
      color: clr(background-section);
    }
  }
}






.tab--title,
.group--title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: $space-two-and-half;
}

.field-group--title {
  font-size: 18px; 
  line-height: 24px;
  font-weight: 600;
  margin-bottom: $space-one-and-half;
  >.field-group--title {
    margin-bottom: 0;
  }
  &-small {
    font-size: 16px;
  }
}

.field--title {
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: $space-one-half;
}

.long-text {
  h5 {
    @extend .h5;
  }
}
