$gutter: $space;
$main-gutter: $space-septuple;

$main-width-large: calc(100% - (#{$sidebar-md-width} ));
$main-content-width: calc(100% - (#{$sidebar-md-width} + #{$main-gutter} * 2 ));

$main-width-xl: calc(100% - (#{$sidebar-width} ));
$main-content-width-xl: calc(100% - (#{$sidebar-width} + #{$main-gutter} * 2 ));


.sliding-popup-bottom {
  width: 100%;
}

.eu-cookie-compliance-banner {
  width: 100%;
  color: clr(text-inverse);
  background-color: clr(footer-color);
}

.eu-cookie-compliance-content {
  max-width: 100%;
  @include large {
    width: $main-content-width;
    max-width: 80%;
  }
  @include xl {
    width: $main-content-width-xl;
  }
}

.eu-cookie-compliance-banner {
  padding: $space-double $space-one-and-half;
  @include xl {
    padding: $space-double;
  }
}

.popup-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  justify-content: space-around;
  @include xl {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.eu-cookie-compliance-message {
  max-width: 100%;
  margin-bottom: $space-two-and-half;
  @include large {
    max-width: 60%;
    margin-bottom: 0;
  }
  @include xl {
    max-width: 60%;
  }
  p {
    font-size: $small-caption;
    line-height: 24px;
  }
  h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }
  a {
    font-weight: 600;
    color: clr(text-inverse);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.eu-cookie-compliance-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: $space-double;
  @include large {
    margin: 0;
    gap: $space;
  }
}

.eu-cookie-compliance-categories {
  padding-top: 0;
  @include xl {
    display: flex;
    align-items: center;
  }
}

.eu-cookie-compliance-category {
  display: none;
}

.eu-cookie-compliance-categories-buttons {
  margin: 0;
}

  .eu-cookie-compliance-buttons.eu-cookie-compliance-has-categories {
    margin-top: 0;
  }
