.form-item {
  color: clr(text);
  margin-bottom: 1em;
  max-width: 32em;

  @include clearfix;

  &--no-margin {
    margin-bottom: 0;
  }
}

.form-item__label {
  display: block;
  font-weight: 600;

  @include xs {
    display: block;
    margin-right: 2%;
    padding: 0.6em 0;
  }
}

.form-item__textfield {
  background: clr(background-dropdown);
  border: 3px solid clr(form-border);
  border-radius: 8px;
  padding: 12px 16px 12px 16px;
  width: 100%;
  &:focus {
    border-color: clr(accent-high);
  }

  &::placeholder {
    color: clr(gray);
  }
}

.form-item__textarea {
  padding: 16px 16px 48px 16px;
}

.form-item__description {
  margin-top: 0.3em;
}

.form-fieldset {
  border: none;
  margin-bottom: 2em;
  padding: 0;

  .form-item {
    margin-left: 1em;
    max-width: 31em;
  }
}

.views-exposed-form {
  position: relative;
}
