.form-item__textfield,
.form-text {
  background: clr(background-dropdown);
  box-shadow: inset 0px 0px 0px 2px clr(form-border);
  box-sizing: border-box;
  border: 0;
  border-radius: 8px;
  font-size: 14px;
  line-height: 24px;
  padding: 12px 16px 12px 16px;

  width: 100%;
  color: clr(text);
  &:focus {
    border-color: clr(accent-high);
  }

  &::placeholder {
    color: clr(gray);
  }
}

.form-item__textarea {
  padding: 16px 16px 48px 16px;
}

.form-item__description {
  margin-top: 0.3em;
}

.form-fieldset {
  border: none;
  // margin-bottom: 2em;
  padding: 0;
  &--no-margin {
    margin-bottom: 0;
  }
  .form-item {
    // margin-left: 1em;
  }
}

.views-exposed-form {
  position: relative;
}
