// Sass map to define colors. Each set should have a "Dark" variation when required.
// e.g. `default` and `default-dark`. Or `purple` and `purple-dark`.
$button-colors: (
  primary: (
    text: clr(text-inverse),
    bg: clr(primary),
    text-hover: clr(primary),
    bg-hover: clr(highlight),
  ),
  primary-dark: (
    text: clr(text-inverse),
    bg: clr(primary),
    text-hover: clr(text),
    bg-hover: clr(highlight-high),
  ),
  secondary: (
    text: clr(text-inverse),
    bg: clr(secondary),
    text-hover: clr(secondary),
    bg-hover: clr(highlight),
  ),
  secondary-dark: (
    text: clr(text-inverse),
    bg: clr(secondary),
    text-hover: clr(text),
    bg-hover: clr(highlight-high),
  ),
  blue: (
    text: clr(text-inverse),
    bg: clr(background-section),
    text-hover: clr(text-inverse),
    bg-hover: clr(alt-header-color),
  ),
  no-color: (
    text: clr(background-section),
    bg: unset,
    text-hover: clr(background-section),
    bg-hover: unset,
  ),
);

// Mixin to define colors for one or more schemes.
// Simply pass the color scheme to the mixin to get the colors defined in the map.
// e.g. @include buttonColors(default) will get all of the colors defined in the "default" section.
@mixin buttonColors(
  $scheme,
  $pallate: map-get($button-colors, $scheme),
  $map: $button-colors
) {
  color: map-get($pallate, text);
  background-color: map-get($pallate, bg);

  &:visited {
    color: map-get($pallate, text);
  }

  &:hover {
    color: map-get($pallate, text-hover);
    background-color: map-get($pallate, bg-hover);
  }
}

// The button-base mixin contains styles that apply to all buttons
// regardless of color or size.
@mixin button-base {
  border: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  text-decoration: unset;
  a {
    font-weight: 700;
    text-decoration: unset;
  }
}

@mixin button-blue-bordered-base {
  @include button-base;
  @include button-medium;
  @include button-round-corners;
  border: 2px solid clr(background-section);
}

// Button color variations
// Note how we include dark mode options for each
@mixin button-color-primary {
  @include buttonColors(primary);

  @media (prefers-color-scheme: dark) {
    @include buttonColors(primary-dark);
  }
}

@mixin button-color-secondary {
  @include buttonColors(secondary);

  @media (prefers-color-scheme: dark) {
    @include buttonColors(secondary-dark);
  }
}

@mixin button-color-blue {
  @include buttonColors(blue);

  @media (prefers-color-scheme: dark) {
    @include buttonColors(blue);
  }
}

@mixin button-no-color{
  @include buttonColors(no-color);

  @media (prefers-color-scheme: dark) {
    @include buttonColors(no-color);
  }
}

@mixin background-white {
  background-color: clr(text-inverse);
  border-color: clr(light-border);
  color: clr(alt-header-color);
  &:hover {
    border-color: clr(alt-header-color);
  }
}


// Button size variations
@mixin button-medium {
  line-height: 1.4;
  font-size: 12px;
  padding: 10px 13px;
  @include xxl {
    padding: $space-three-fourths $space-double;
  }
}

@mixin button-large {
  line-height: 2;
  padding: $space $space-double;
}

@mixin button-small {
  padding: 8px;
  line-height: 1;
}

@mixin full-width {
  width: 100%;
}


//button shape variations
@mixin button-round-corners {
  border-radius: 8px;
}

@mixin button-round-top {
  border-radius: 8px 8px 0 0;
}


//button symbol variations
@mixin arrow-right {
  &::after {
    @include icons();
    content: "\EA12";
    margin-left: $space;
  }
}

@mixin arrow-left {
  &::before {
    @include icons();
    content: "\EA11";
    margin-right: $space;
  }
}

//theming

.button {
  @include button-base;
  @include button-color-primary;
  @include button-medium;

  &--alt {
    @include button-color-secondary;
    @include button-large;
  }

  &--arrow {
    @include button-small;
    @include button-round-top;

    float: right;
  }

  &--reset {
    background: unset;
    border: unset;
    color: clr(background-section);
    font-size: 12px;
    font-weight: 700;
  }

  &--no-color {
    @include button-no-color;
    border: 2px solid clr(background-section);
    color: clr(background-section);
    &:hover {

    }
    &:active {

    }
    &:disabled {

    }
  }

  &--round-corners {
    @include button-round-corners;
  }

  &--blue-bordered {
    @include button-blue-bordered-base;
  }

  &--full-width {
    @include full-width;
  }

  &--background-white {
    @include background-white;
  }

  &--arrow-right {
    @include arrow-right;
  }

  &--arrow-left {
    @include arrow-left;
  }
}

#shorten-link {
  @include button-base;
  @include button-medium;
  @include button-round-corners;
  @include button-no-color;
  border: 2px solid clr(background-section);
  padding-right: $space-double;
  .button {
    border: unset;
    background: unset;
    padding: 0;
    color: clr(background-section);
    font-weight: bold;
  }
  &::after {
    @include icons;
    content: "\EA0B";
    color: clr(background-section);
    margin-left: $space;
    font-weight: bold;
  }
}

#block-hel-print-pdf-block {
    @include button-base;
    @include button-medium;
    @include button-round-corners;
    @include button-no-color;
    border: 2px solid clr(background-section);
    padding-right: $space-double;
    display: none !important;
  .button {
      border: unset;
      background: unset;
      padding: 0;
      color: clr(background-section);
      font-weight: bold;
  }
  &::after {
      @include icons;
      content: "\EA0C";
      color: clr(background-section);
      margin-left: $space;
      font-weight: bold;
  }
}

#loginDropdownButton {
  @include button-color-blue;
  @include button-round-corners;
  border: 2px solid $blue20;
  padding: 12px 32px 12px 32px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  display: flex;
  .login-text {
    line-height: 24px;
    margin-right: $space;
  }
  .icon {
    overflow: visible;
    margin-top: -1px;
  }
}

#languageSwitcherButton {
  padding: 0;
  font-size: 9px;
  margin-left: 10px;
  text-transform: uppercase;
  @include large {
    margin-left: unset;
    padding: 0 .75rem .375rem .75rem;
    font-size: 12px;
    font-weight: 600;
  }
  @include xxl {
    font-size: 15px;
  }
}

.toolbar-vertical {
  #searchDropdownButton {
    top: 60px;
  }
}

#searchDropdownButton {
  @include button-medium;
  @include button-round-corners;
  position: absolute;
  top: 20px;
  right: 0;
}

.flag-cart {
  @include button-base;
  @include button-medium;
  @include button-round-corners;
  @include button-no-color;
  border: 2px solid clr(background-section);
  display: flex;
  align-items: center;
  &::after {
      @include icons;
      content: "\EA0E";
      margin-left: 8px;
  }
  &.action-unflag {
    &::after {
        @include icons;
        content: "\EA0F";
    }
  }
  a {
    text-decoration: none;
  }
}

.flag-lists {
  @include button-base;
  @include button-medium;
  @include button-round-corners;
  @include button-no-color;
  border: 2px solid clr(background-section);
  display: flex;
  align-items: center;
  &::after {
      @include icons;
      content: "\EA0E";
      margin-left: 8px;
  }
  &.action-unflag {
    &::after {
        @include icons;
        content: "\EA0F";
    }
  }
  a {
    text-decoration: none;
  }
}

#view-mode-switcher-link{
  a {
    @include button-base;
    @include button-medium;
    @include button-round-corners;
    @include button-color-blue;
    border: 2px solid clr(background-section);
    display: flex;
    align-items: center;
    &::after {
      @include icons;
      content: "\EA10";
      margin-left: 8px;
    }
  }
}

/**
there is possibility to add classes button--blue-bordered,
 --full-width and --arrow-right straight to the field configs,
 but they are added here for now
**/
.field--name-field-instructions-markup {
    grid-row: 5;
  @include xl {
    grid-column: 2/3;
    grid-row:2;
  }
  a {
    @include button-blue-bordered-base;
    @include button-large;
    @include background-white;
    @include arrow-right;
    padding-top: 18px;
    padding-bottom: 18px;
    line-height: 24px;
    width: 100%;
  }
}

.node-form {
  >.form-actions {
    >.button {
        @include button-medium;
        @include button-color-blue;
        @include button-round-corners;
    }
  }
}


#block-kirjautuminen {
  .button {
    @include button-color-blue;
    @include button-round-corners;
    font-size: 12px;
    line-height: 24px;
    padding: $space-one-half $space-one-and-half $space-one-half $space-one-and-half;
  }
}


.local-actions-block {
  .button {
      @include button-round-corners;
      @include button-color-blue;
  }
}
