// Sass map to define colors. Each set should have a "Dark" variation when required.
// e.g. `default` and `default-dark`. Or `purple` and `purple-dark`.
$button-colors: (
  primary: (
    text: clr(text-inverse),
    bg: clr(primary),
    text-hover: clr(text-inverse),
    bg-hover: clr(alt-header-color),
  ),
  primary-dark: (
    text: clr(text-inverse),
    bg: clr(primary),
    text-hover: clr(text-inverse),
    bg-hover: clr(alt-header-color),
  ),
  secondary: (
    text: clr(text-inverse),
    bg: clr(secondary),
    text-hover: clr(secondary),
    bg-hover: clr(highlight),
  ),
  secondary-dark: (
    text: clr(text-inverse),
    bg: clr(secondary),
    text-hover: clr(text),
    bg-hover: clr(highlight-high),
  ),
  blue: (
    text: clr(text-inverse),
    bg: clr(background-section),
    text-hover: clr(text-inverse),
    bg-hover: clr(alt-header-color),
  ),
  no-color: (
    text: clr(background-section),
    bg: unset,
    text-hover: clr(alt-header-color),
    bg-hover: unset,
  ),
);

// Mixin to define colors for one or more schemes.
// Simply pass the color scheme to the mixin to get the colors defined in the map.
// e.g. @include buttonColors(default) will get all of the colors defined in the "default" section.
@mixin buttonColors(
  $scheme,
  $pallate: map-get($button-colors, $scheme),
  $map: $button-colors
) {
  color: map-get($pallate, text);
  background-color: map-get($pallate, bg);

  &:visited {
    color: map-get($pallate, text);
  }

  &:hover {
    color: map-get($pallate, text-hover);
    background-color: map-get($pallate, bg-hover);
  }
}

// The button-base mixin contains styles that apply to all buttons
// regardless of color or size.
@mixin button-base {
  border: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  text-decoration: unset;
  a {
    font-weight: 700;
    text-decoration: unset;
  }
  &:disabled {
    border: 2px solid clr(gray);
    color: clr(gray);
  }
}

@mixin button-blue-bordered-base {
  @include button-base;
  @include button-medium;
  @include button-round-corners;

  border: 2px solid clr(background-section);
}
@mixin button-no-color-with-round-border {
  @include button-no-color;
  @include button-round-corners;
  border: 2px solid clr(background-section);
  color: clr(background-section);
  &:hover {
    border: 2px solid clr(alt-header-color);
    color: clr(alt-header-color);
  }
  &:active {
    border: 2px solid clr(footer-color);
    color: clr(footer-color);
  }
  &:disabled {
    border: 2px solid clr(gray);
    color: clr(gray);
  }
}


// Button color variations
// Note how we include dark mode options for each
@mixin button-color-primary {
  @include buttonColors(blue);

  @media (prefers-color-scheme: dark) {
    @include buttonColors(blue);
  }
}

@mixin button-color-secondary {
  @include buttonColors(secondary);

  @media (prefers-color-scheme: dark) {
    @include buttonColors(secondary-dark);
  }
}

@mixin button-color-blue {
  @include buttonColors(blue);

  @media (prefers-color-scheme: dark) {
    @include buttonColors(blue);
  }
}

@mixin button-no-color{
  @include buttonColors(no-color);

  @media (prefers-color-scheme: dark) {
    @include buttonColors(no-color);
  }
}

@mixin background-white {
  background-color: clr(text-inverse);
  border-color: clr(light-border);
  color: clr(alt-header-color);
  &:hover {
    border-color: clr(alt-header-color);
  }
}


@mixin button-small-medium {
  padding: 14px 16px 14px 15px;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

// Button size variations
@mixin button-medium {
  line-height: 21px;
  font-size: 14px;
  padding: 10px 13px;
  @include xxl {
    padding: $space-three-fourths $space-double;
    height: 48px;
    box-sizing: border-box;

  }
}

// Button size variations
@mixin button-medium-2 {
  line-height: 16px;
  font-size: 12px;
  padding: 12px 16px;
  @include xl {
    padding: $space-one-half $space $space-one-half $space-one-and-half;
    line-height: 20px;
  }
  @include xxl {
    font-size: 14px;
    padding: $space-three-fourths $space-double;
    box-sizing: border-box;
  }
}



@mixin button-large {
  line-height: 2;
  padding: $space $space-double;
}

@mixin button-small {
  padding: 8px;
  line-height: 1;
}

@mixin full-width {
  width: 100%;
}


//button shape variations
@mixin button-round-corners {
  border-radius: 8px;
}

@mixin button-round-top {
  border-radius: 8px 8px 0 0;
}

//button symbol variations
@mixin arrow-right {
  &::after {
    @include icons();
    content: "\EA12";
    margin-left: $space;
  }
}

//button symbol variations
@mixin arrow-right-background {
  &::after {
    background-image: url("/themes/custom/palvelumanuaali/images/icons/arrow-right-2.svg");
    content: "";
    display: block;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    min-width: 24px;
  }
}

//button symbol variations
@mixin  questionmark-left-background {
  &::before {
    background-image: url("/themes/custom/palvelumanuaali/images/icons/c-question.svg");
    content: "";
    display: block;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    min-width: 24px;
  }
}

@mixin arrow-left {
  &::before {
    @include icons();

    content: "\EA11";
    margin-right: $space;
  }
}

@mixin border-2-blue {
  &:disabled {
    border: 2px solid $gray-light;
    color: $gray-light;
  }
}

//theming

.button {
  @include button-base;
  @include button-color-blue;
  @include button-medium;
  @include button-round-corners;
  &--alt {
    @include button-color-secondary;
    @include button-large;
  }

  &--arrow {
    @include button-small;
    @include button-round-top;

    float: right;
  }

  &--reset {
    background: unset;
    border: unset;
    color: clr(background-section);
    font-size: 12px;
    font-weight: 700;
  }

  &--no-color {
    @include button-no-color;

    border: 2px solid clr(background-section);
    color: clr(background-section);
    &:hover {
      border: 2px solid clr(alt-header-color);
      color: clr(alt-header-color);
    }
    &:active {
      border: 2px solid clr(footer-color);
      color: clr(footer-color);
    }
    &:disabled {
      border: 2px solid clr(gray);
      color: clr(gray);
    }
  }

  &--no-color-no-border {
    @include button-no-color;
    color: clr(background-section);
    border: 0;
    box-shadow: unset;
    &:hover {
      color: clr(alt-header-color);
    }
    &:active {
      color: clr(footer-color);
    }
    &:disabled {
      color: clr(gray);
    }
  }

  &--dropdown-button {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    &::after {
      content: "";
      background-image: url("/themes/custom/palvelumanuaali/images/icons/arrow-sm-down.svg");
      background-repeat: no-repeat;
      background-position-y: center;
      width: 24px;
      height: 24px;
      margin-left: $space-one-half;
      display: block;
    }
    &[aria-expanded="true"] {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &--round-corners {
    @include button-round-corners;
  }

  &--blue-bordered {
    @include button-blue-bordered-base;
  }

  &--full-width {
    @include full-width;
  }

  &--background-white {
    @include background-white;
  }

  &--arrow-right {
    @include arrow-right;
  }

  &--arrow-left {
    @include arrow-left;
  }
  &--margin-top-double {
    margin-top: $space-double;
  }
  &--padding-left-right-double {
    padding-left: $space-double;
    padding-right: $space-double;
  }
}

#shorten-link {
  @include button-base;
  @include button-medium;
  @include button-round-corners;
  @include button-no-color;

  border: 2px solid clr(background-section);
  padding-right: $space-double;
  .button {
    border: unset;
    background: unset;
    padding: 0;
    color: clr(background-section);
    font-weight: bold;
  }
  &::after {
    @include icons;

    content: "\EA0B";
    color: clr(background-section);
    margin-left: $space;
    font-weight: bold;
  }
}

#block-hel-print-pdf-block {
    @include button-base;
    @include button-medium;
    @include button-round-corners;
    @include button-no-color;

    border: 2px solid clr(background-section);
    padding-right: $space-double;
    display: none !important;
  .button {
      border: unset;
      background: unset;
      padding: 0;
      color: clr(background-section);
      font-weight: bold;
  }
  &::after {
      @include icons;

      content: "\EA0C";
      color: clr(background-section);
      margin-left: $space;
      font-weight: bold;
  }
}

#loginDropdownButton {
  @include button-color-blue;
  @include button-round-corners;

  border: 2px solid $blue20;
  padding: 12px 32px 12px 32px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  display: flex;
  .login-text {
    line-height: 24px;
    margin-right: $space;
  }
  .icon {
    overflow: visible;
    margin-top: -1px;
  }
}

#languageSwitcherButton {
  padding: 0;
  font-size: 9px;
  margin-left: 10px;
  text-transform: uppercase;
  border: 0;
  @include large {
    margin-left: unset;
    padding: 0 .75rem 0 .75rem;
    font-size: 15px;
    font-weight: 600;
    height: 24px;
  }
  .links {
    margin-right: $space;
    height: 24px;
    width: 24px;
    vertical-align: top;
  }
  .language-code {
    line-height: 24px;
  }
}

.toolbar-vertical {
  #searchDropdownButton {
    top: 60px;
  }
}

#searchDropdownButton {
  @include button-medium;
  @include button-round-corners;

  position: absolute;
  top: 20px;
  right: 0;
}

.flag-cart {
  @include button-no-color;
  @include button-round-corners;
  border: 2px solid clr(background-section);
  height: 40px;
  @include xxl {
    height: 48px;
  }
    a {
      text-decoration: none;
      @include button-base;
      @include button-medium-2;
      &::after {
          @include icons;
          content: "\EA0E";
          margin-left: 8px;
          vertical-align: middle;
          line-height: 18.5px;
      }
    }
    a {
      &.action-unflag {
        &::after {
            @include icons;
            content: "\EA0F";
        }
      }
    }
}

.flag-lists {
  @include button-base;
  @include button-medium;
  @include button-round-corners;
  @include button-no-color;

  border: 2px solid clr(background-section);
  display: flex;
  align-items: center;
  &::after {
      @include icons;
      content: "\EA0E";
      margin-left: 8px;
  }
  &.action-unflag {
    &::after {
        @include icons;
        content: "\EA0F";
    }
  }
  a {
    text-decoration: none;
  }
}

#view-mode-switcher-link{
  a {
    @include button-base;
    @include button-medium;
    @include button-round-corners;
    @include button-color-blue;

    border: 2px solid clr(background-section);
    display: flex;
    align-items: center;
    &::after {
      @include icons;
      content: "\EA10";
      margin-left: 8px;
    }
  }
}

/**
there is possibility to add classes button--blue-bordered,
 --full-width and --arrow-right straight to the field configs,
 but they are added here for now
**/
.field--name-field-instructions-markup {
    grid-row: 5;
  @include xl {
    grid-column: 2/3;
    grid-row:2;
  }
  a {
    text-decoration: none;
    @include button-small-medium;
    @include background-white;
    @include arrow-right-background;
    @include questionmark-left-background;
    @include button-round-corners;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    line-height: 24px;
    width: 100%;
    position: relative;
    z-index: 20;
    gap: 15px;
    &:hover {
      box-shadow: 0px 8px 16px 0px rgba(30, 64, 182, 0.20);
      transition-delay: 100ms;
      @include xl {
        transform: translateX(-3px);
      }
    }
  }
}

.node-form {
  >.form-actions {
    >.button {
      @include button-medium;
      @include button-color-blue;
      @include button-round-corners;
    }
  }
}


#block-kirjautuminen {
  .button {
    @include button-color-blue;
    @include button-round-corners;

    font-size: 12px;
    line-height: 24px;
    padding: $space-one-half $space-one-and-half $space-one-half $space-one-and-half;
  }
}


.local-actions-block {
  .button {
    @include button-round-corners;
    @include button-color-blue;
    line-height: 24px;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 64px 12px 32px;
    position: relative;
    &::after {
      content: "";
      width: 24px;
      height: 24px;
      background-image: url("/themes/custom/palvelumanuaali/images/icons/plus.svg");
      background-repeat: no-repeat;
      background-position-y: center;
      display: block;
      position: absolute;
      right: 12px;
      top: 12px;
    }
  }
}

.add-service-button {
  @include button-round-corners;
  @include button-color-blue;
  line-height: 25px;
  font-size: 14px;
  font-weight: 700;
  padding: 12px 64px 12px 32px;
  position: relative;
  &::after {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("/themes/custom/palvelumanuaali/images/icons/plus.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    display: block;
    position: absolute;
    right: 12px;
    top: 12px;
  }
}


.node-form,
.node-edit-form {
  .field-add-more-submit,
    .paragraphs-icon-button {
      @include button-medium;
      @include button-no-color;
      @include button-round-corners;
      @include border-2-blue;
    }
}

.field--widget-hel-tpm-editorial-paragraphs-custom .field-add-more-submit,
.field--name-field-service-time-and-location input[data-drupal-selector*="edit-field-service-time-and-location-add-more-add-more-button-service-time-and-place"] {
    margin-top: $space-one-half;
    @include button-color-blue;

    width: 100%;
    box-sizing: border-box;
    background-image: url("/themes/custom/palvelumanuaali/images/icons/plus.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    line-height: 24px;
}

input[data-drupal-selector="edit-field-contact-info-actions-ief-add"],
input[data-drupal-selector="edit-field-contact-info-external-actions-ief-add"]{
  @include button-no-color-with-round-border;

}

.field--type-link > div > .form-item > .form-submit,
.field--type-file > .form-wrapper > .form-wrapper .form-submit {
  @include button-no-color-with-round-border;
  margin-top: 1em;
}

.eu-cookie-compliance-secondary-button,
.eu-cookie-compliance-default-button,
.eu-cookie-compliance-save-preferences-button {
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  white-space: nowrap;
  @extend .button;
  @extend .button--padding-left-right-double;
  &:hover {
    background-image: none;
  }
}
