.accordion--default {
  .accordion-button{
    &::after {
      background-image: url("../../assets/images/icons/minus-blue.svg");
      width: 24px;
      height: 24px;
      padding: 2px;
    }
    &.collapsed{
        &::after {
          background-image: url("../../assets/images/icons/plus-blue.svg");
      }
    }
  }
}

.service .accordion-flush .accordion-item {
  .accordion-body,
  .accordion-button {
    border: unset;
    box-shadow: unset;
  }
}


.ckeditor-accordion-container > .styled {
  border: 0 !important;

  .ckeditor-accordion-toggler {
    background-color: $blue05;
  }
}

.ckeditor-accordion-container {
  .styled {
    border: 0;
    dt {
      margin-top: $space;
      border-radius: 8px;
      border-top: 2px solid clr(light-border);
      border-bottom: 2px solid clr(light-border);
      border-left: 2px solid clr(light-border);
      border-right: 2px solid clr(light-border);
      transition-duration: 600ms;
      transition-delay: 0.2ms;
      transition-property: border-bottom-right-radius, border-bottom-left-radius;
      transition-timing-function: ease;
      &.active {
        transition-duration: 0ms;
        border-bottom:0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        .ckeditor-accordion-toggle {
            background-image: url("../../assets/images/icons/minus-blue.svg");
        }
        .ckeditor-accordion-toggler {
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
        }
      }
      .ckeditor-accordion-toggler {
        border-bottom: 0;
        background-color: $blue05;
        border-radius: 8px;
        color: clr(alt-header-color);
        text-decoration: none;
        padding: $space $space-one-and-half $space $space-double;
        &:hover {
          background-color: $blue05;
          color: clr(alt-header-color);
          text-decoration: none;
        }
      }
      .ckeditor-accordion-toggle {
        padding: 0;
        background-repeat: no-repeat;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color:clr(alt-header-color);
        font-weight: 600;
        left: unset;
        top: unset;
        right: 24px;
        background-color: transparent;
        background-image: url("../../assets/images/icons/plus-blue.svg");
        background-position: center;
        border: 0;
        &:before,
        &:after {
          display: none;
        }
      }
    }
    dd {
      padding: $space-one-half $space-one-and-half $space $space-double ;
      background-color: $blue05;
      border-bottom: 2px solid clr(light-border);
      border-left: 2px solid clr(light-border);
      border-right: 2px solid clr(light-border);
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      color: clr(text);
      transition: 0ms;
    }
  }
}
