.service .accordion-flush .accordion-item {
  background-color: clr(background-border);
  border-radius: 8px;
  border-top: 2px solid clr(light-border);
  border-bottom: 2px solid clr(light-border);
  border-left: 2px solid clr(light-border);
  border-right: 2px solid clr(light-border);
  .accordion-button {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color:clr(alt-header-color);
    font-weight: 600;
    padding: $space $space-double $space $space-double;
    &::after {
      background-image: url("/themes/custom/palvelumanuaali/images/icons/minus.svg");
    }
    .field--name-field-municipality {
      margin-bottom: 0;
    }
    &.collapsed {
        &::after {
          background-image: url("/themes/custom/palvelumanuaali/images/icons/plus.svg");
      }
    }
  }
  .accordion-body,
  .accordion-button {
    background-color: transparent;
    border: unset;
    box-shadow: unset;
  }

  .accordion-body {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-left: $space-double;
    padding-right: $space-double;
  }
}
