@mixin link {
  color: clr(accent);
  text-decoration: none;
  &:hover {
    color: clr(accent-high);
    text-decoration: underline;
  }
}

.link {
  @include link;
}

.language-link {
  line-height: 24px;
  font-size: 12px;

  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 32px;

  position: relative;
  margin-bottom: $space;
  width: unset;
  text-align: left;

  &:hover {
    background: clr(background);
  }
  &:last-child {
    margin-bottom: 0;
  }

  &.is-active {
    &:hover,
    &:focus,
    &:active {
      background-color: unset;
    }

    &::before {
      content: "";
      width: 24px;
      height: 24px;
      position: absolute;
      left: $space-one-and-half;
      background-image: url('../../assets/images/icons/d-check.svg');
    }
  }
}

a {
  text-decoration: none;
  color: $blue100;
  &:hover {
    color: $blue130;
  }
}

.ext-link {
  position:relative;
  margin-right: $space;
  &::after {
    background-image: url("../../assets/images/icons/ext.svg");
    content: "";
    display: block;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    min-width: 14px;
    position: absolute;
    right: -15px;
    top:1px;
    background-size: cover;
  }
}
