.card {

  &.grid__item {
    background-color: clr(sidebar-color);
    border-radius: 8px 8px 4px 4px;
    border-bottom: 4px $blue100 solid;
  }
}

.card__content {
  margin-left: $space-double;
  margin-right: $space-double;
  margin-top: $space-two-and-half;
  position: relative;
}

.card__heading {
  @include heading-xs;
  @include no-bottom;

  &-link {
    @include link;
  }
}

.card__subheading {
  @include heading-medium($font-size: 1rem);
  @include no-bottom;

  color: clr(text);
}

.card__body {
  margin: 0.7em 0 1em;
}

.card__link {
  @include link;
}

.card__button {
  @include button-base;
  @include button-color-primary;
  @include button-medium;
}

.card__button-link {
  float: right;
}

/* Variations */
.card--bg {
  background-color: clr(highlight-high);
  padding: 1em;
}

.card--view-card {
  background-color: clr(sidebar-color);
  border-radius: 8px;
  margin-bottom: $space-one-half;
  .card__content {
    padding: $space-one-and-half $space-two-and-half $space-double $space-two-and-half;
    margin: 0;
  }
  .card__caption {
    color: clr(alt-header-color);
    font-size: $small-caption;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    margin-bottom: $space-one-half;
  }
  .card__heading {
    @include heading-xxs();
  }
  // this should be changed to separate 'pill' atom to handle different colors
  .pill {
    position: absolute;
    margin-top: $space-one-and-half;
    margin-right: $space-two-and-half;
    top: 0;
    right: 0;
  }
  .card__date {
    font-size: $small-caption;
    margin: 0;
  }
}
