.card {
  border: 0;
  &.grid__item {
    background-color: clr(sidebar-color);
    border-radius: 8px 8px 4px 4px;
    border-bottom: 4px $blue100 solid;
  }
}

.card__content {
  margin-left: $space-double;
  margin-right: $space-double;
  margin-top: $space-two-and-half;
  position: relative;
}

.card__heading {
  @include heading-xs;
  @include no-bottom;

  &-link {
    @include link;
  }
}

.card__subheading {
  @include heading-medium($font-size: 1rem);
  @include no-bottom;

  color: clr(text);
}

.card__body {
  margin: 0.7em 0 1em;
}

.card__link {
  @include link;
}

.card__button {
  @include button-base;
  @include button-color-primary;
  @include button-medium;
}

.card__button-link {
  float: right;
}

/* Variations */
.card--bg {
  background-color: clr(highlight-high);
  padding: 1em;
}
.card--bg-light-blue {
  background-color: clr(background-dropdown);
}

.card--square-left {
  border-radius: 0px 16px 16px 0px;
}

.card--border-left-blue {
  border-left: 4px solid $blue80;
}

.card--border-left-yellow {
  border-left: 4px solid $yellow;
}

.card--bottom-gutter {
  margin-bottom: $space;
}

.card--padded {
  padding: $space-double $space-two-and-half $space-one-and-half $space-two-and-half;
  .card__content {
    margin: 0;
  }
}

.card--view-card {
  background-color: clr(sidebar-color);
  border-radius: 8px;
  margin-bottom: $space-one-half;
  .card__content {
    padding: $space-one-and-half $space-two-and-half $space-double $space-two-and-half;
    margin: 0;
  }
  .card__caption {
    color: clr(alt-header-color);
    font-size: $small-caption;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    margin-bottom: $space-one-half;
    max-width: 55%;
    @include medium {
      max-width: unset;
    }
  }
  .card__heading {
    @include heading-xxs();
  }
  // this should be changed to separate 'pill' atom to handle different colors
  .pill {
    position: absolute;
    margin-top: $space-one-and-half;
    margin-right: $space-two-and-half;
    top: 0;
    right: 0;
  }
  .card__date {
    font-size: $small-caption;
    margin: 0;
  }
}

.card--service-card {
  .service-time-and-place {
    display: flex;
    flex-wrap: wrap;
    .field {
      margin-bottom: 0;
    }
  }
  .address {
    display: flex;
    color: clr(accent);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.33;
    margin: 0 0 0.5em;
    span {
      margin-left: 5px;
    }
  }

  .field--name-field-service-location {
    width: 100%;
    order: 1;
    margin-bottom: 0.5rem;
  }

  .field--name-field-dates {
    width: 50%;
    order: 2;
    display: flex;
    &.icon {
      width: 24px;
      margin-right: $space;
      order: unset;
    }
  }

  .field--name-field-service-languages {
    width: 50%;
    order: 3;
    display: flex;
    p {
      margin-bottom: 0
    }
    &.icon {
      width: 24px;
      margin-right: $space;
      order: unset;
      display: block;
    }
    >.field__item {
      display: flex;
    }
    .service-language {
      display: flex;
    }
  }

  .term {
    display: flex;
  }

  .field--name-field-accessibility {
    order: 4;
    width: 100%;
    margin-top: $space-double;
    .field__label {
      font-weight: 600;
    }

    .field__items {
      display: flex;
      flex-wrap: wrap;
    }

    .field__item {
      display: flex;
      margin-bottom: 0;
      p {
        margin-bottom: 0;
      }
    }
    .field--name-name {
      word-wrap: break-word;
    }
  }

  .accordion {
    width: 100%;
    order: 4;
    margin-top: $space-double;

    .accordion-button {
      padding-left: 0;
      font-weight: 600;
      background-color: unset;
      border-bottom: unset;
      &::after {
        @include icons;
        margin-left: 5px;
        background-image: unset;
      }
      svg {
        transform: rotate(180deg);
      }
      &.collapsed {
        svg {
          transform: unset;
        }
      }
    }
    .accordion-collapse {
      border-bottom: unset;
    }
  }
}

.card--service-accessibility {
 padding-top: $space-two-and-half;
 padding-bottom: 2rem;

 .card__content {
   .field--name-field-accessibility {
     .field__label {
       margin-bottom: $space-double;
       h4 {
        font-weight: 600;
       }
     }
   }
 }

 .icon {
   margin-right: $space;
 }

 .field__items {
   display: flex;
   flex-wrap: wrap;
 }

 .field__item {
   margin-bottom: 20px;
   color: clr(alt-header-color);
   text-decoration: none;
   font-weight: 700;
   a {
     color: clr(alt-header-color);
     text-decoration: none;
     font-weight: 700;
   }
 }
}

.card--service-notification {
  padding-top: $space-two-and-half;
  .views-field-label {
    margin-bottom: $space-one-and-half;
    .field-content {
      display: flex;
      h4 {
        font-weight: 600;
      }
    }
    .icon {
      margin-right: $space;
    }
  }
  .views-field-publish-end-date {
    font-size: 14px;
    font-weight: 600;
  }
}
