$card-font-base: 16px;
$card-font-base-small: 14px;
$card-font-small: 14px;
$card-font-small-mobile: 12px;
$card-font-small-heading-mobile: 12px;
$card-font-small-heading: 15px;

.card {
  border: 0;
  &.grid__item {
    background-color: clr(sidebar-color);
    border-radius: 8px 8px 4px 4px;
    border-bottom: 4px $blue100 solid;
    &:hover {
      box-shadow: 0px 8px 16px 0px rgba(30, 64, 182, 0.20);
      transition-duration: 100ms;
      border-bottom: 4px clr(alt-header-color) solid;
    }
  }
  &.padded {
    padding-bottom: 40px;
  }
}

.card__content {
  margin-left: $space-double;
  margin-right: $space-double;
  margin-top: $space-two-and-half;
  position: relative;
  height: 100%;
  .button--arrow {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.card__heading {
  @include heading-xs;
  @include no-bottom;

  &-link {
    @include link;
  }
}

.card__subheading {
  @include heading-medium($font-size: 1rem);
  @include no-bottom;

  color: clr(text);
}

.card__body {
  margin: 0.7em 0 1em;
}

.card__link {
  @include link;
  height: 100%;
  &:hover {
    text-decoration: none;
    .button--arrow {
      background-color: clr(alt-header-color);
    }
  }
}

.card__button {
  @include button-base;
  @include button-color-primary;
  @include button-medium;
}

.card__button-link {
  float: right;
}

/* Variations */
.card--bg {
  background-color: clr(highlight-high);
  padding: 1em;
}
.card--bg-light-blue {
  background-color: clr(background-dropdown);
}

.card--bg-blue {
  background-color: clr(background);
}

.card--square-left {
  border-radius: 0px 16px 16px 0px;
}

.card--border-left-blue {
  border-left: 4px solid $blue100;
}

.card--border-left-light-blue {
  border-left: 4px solid $blue80;
}

.card--border-left-yellow {
  border-left: 4px solid $yellow;
}

.card--border-left-green {
  border-left: 4px solid $green-success;
}

.card--border-left-red {
  border-left: 4px solid $red-light;
}

.card--bottom-gutter {
  margin-bottom: $space;
}

.card--bottom-gutter-large {
  margin-bottom: $space-double;
  @include large {
    margin-bottom: $space-three-and-half;
  }
}

.card--padded {
  padding: $space-double $space-two-and-half $space-one-and-half $space-two-and-half;
  .card__content {
    margin: 0;
  }
}

.card--padded-xl {
  padding: $space-double $space-two-and-half $space-one-and-half $space-two-and-half;
  @include xl {
    padding: $space-two-and-half $space-four-and-half $space-two-and-half $space-two-and-half;
  }
  .card__content {
    margin: 0;
    >.field__item {
      margin-bottom: 0;
    }
  }
}

.card--padded-xxl {
  padding: $space-double $space-two-and-half $space-one-and-half $space-two-and-half;
  @include xl {
    padding: 60px $space-four-and-half 60px $space-four-and-half;
  }
  .card__content {
    margin: 0;
    >.field__item {
      margin-bottom: 0;
    }
  }
}



.card--padded-centered {
  margin-left: $space;
  margin-right: $space;
  padding-top: $space;
  padding-bottom: $space-double;
  @include large {
    margin-left: auto;
    margin-right: auto;
    padding-top: $space-one-and-half;
    padding-bottom: $space-one-and-half;
  }
}

.card--default-hover {
  &:hover {
    box-shadow: 0px 8px 16px 0px rgba(30, 64, 182, 0.20);
    transition-duration: 100ms;
  }
}

.card--arrow-icon-hover {
  &:hover,
  &:focus,
  &:focus-within {
    .arrow-icon {
      background-color: clr(alt-header-color);
    }
  }
}


.card--view-card {
  background-color: clr(sidebar-color);
  border-radius: 8px;
  margin-bottom: $space-one-half;
  @include xl {
    margin-bottom: $space;
  }
  .card__content {
    padding: $space;
    margin: 0;
    @include xl {
      padding: $space-double $space-two-and-half $space-one-and-half $space-two-and-half;

    }
  }
  .card__body {
      min-height: 50px;
      margin: $space 0 $space-one-and-half;
      @include xl {
        max-width: 67ch;
      }
      @media (min-width:1640px) {
        max-width: 75ch;
    }
  }
  .card__caption {
    @extend .small-uppercase-card-caption;
    margin: 0;
    margin-bottom: $space-one-half;
    max-width: 55%;
    @include medium {
      max-width: 70%;
    }
  }
  .card__heading {
    margin-right: 122px;
    @include large {
      margin-right: 130px;
    }
  }

  // this should be changed to separate 'pill' atom to handle different colors
  .pill {
    position: absolute;
    margin-top: $space-one-and-half;
    margin-right: $space-two-and-half;
    top: 0;
    right: 0;
  }
  .card__date {
    font-size: $small-caption;
    font-weight: 600;
    margin: 0;
  }
  .flag.action-flag,
  .flag.action-unflag {
    margin-right: 28px;
    margin-top: 20px;
  }
}

.taxonomy-card {
  /* TODO:
  Add selectors to display taxonomy cards in different mode
   &.row-identifier {} for full width
   &.small-card-identifier {} for 1/3  or 1/4 width
  */
  &:hover {
    transition-delay: 100ms;
    @include xl {
      z-index: $zi-above-content;
    }
  }
  @include medium {
    width: calc(50% - 16px);
    flex-basis: calc(50% - 16px);
    flex-grow: 1;
    max-width: calc(50% - 11px);
  }
  @include xl {
    width: calc(33% - 16px);
    flex-basis: calc(33% - 16px);
    flex-grow: 1;
    max-width: calc(33% - 11px);
  }
  @media (min-width: 1640px) {
    width: calc(25% - 18px);
    flex-basis: calc(25% - 18px);
    flex-grow: 1;
    max-width: calc(25% - 16px);
  }
  >.card {
    height: 100%;
    &:hover,
    &:focus,
    &:focus-within  {
      box-shadow: 0px 8px 16px 0px rgba(30, 64, 182, 0.20);
      transition-duration: 100ms;
    }
  }
}
.field--name-field-date {
  display: flex;
  order: 5;
  margin-bottom: $space;
  .field__item {
    time {
      &:nth-child(2) {
        width: 100%;
        display: inline;
      }
    }
  }
}
.card--service-card {
  .field__item {
    margin-bottom: 0;
  }
  .service-time-and-place {
    display: flex;
    flex-wrap: wrap;
    > article {
      width: 100%;
      margin-bottom: $space-one-and-half;
      @include xl {
        margin-bottom: 30px;
      }
    }
  }
  .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-right: $space;
    order: unset;
    display: block;
    margin-bottom: 0 !important;
  }
  .address {
    display: flex;
    color: clr(accent);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.33;
    margin: 0 0 0.5em;
    span {
      margin-left: 5px;
    }
  }

  .field--name-field-address {
    width: 100%;
    order: 1;
    margin-bottom: 0 !important;
  }

  .field--name-field-dates,
  .field--name-field-weekday-and-time,
  .field--name-field-date-selection {
    width: 100%;
    order: 5;
    display: flex;
    margin-bottom: $space-one-and-half;
    @include xl {
      margin-bottom: 30px;
    }
    &.icon {
      min-width: 24px;
      width: 24px;
      order: unset;
      margin-right: 16px;
    }
    .field__items {
      font-size: $card-font-base-small;
      @include xl {
        font-size: $card-font-base;
      }
      a {
        font-size: $card-font-base-small;
        @include xl {
          font-size: $card-font-base;
        }
      }
      .field-items-wrapper {
        display: block;
        margin-bottom: $space-one-half;
      }
      .field__item.collapse {
        &:not(.show) {
           display: none;
        }
      }
      .field__item.with-comma {
        margin-right: 2px;
        >div {
          margin-right: -2px;
        }
      }
    }
    .field__items,
    .field__items .field__item,
    .date-recur-date,
    .date-recur-interpretaton {
      display: inline;
    }
    .date-recur-occurrences {
      padding-left: 0;
      li {
        padding-left: 0;
        &::before {
          display: none;
        }
      }
    }
  }

  .field--name-field-time-additional-info {
    order: 6;
    width: 100%;
    margin-bottom: $space;
    display: flex;
    @include large {
      margin-bottom: $space-one-and-half;
    }
    &.icon {
      min-width: 24px;
      width: 24px;
      margin-right: $space;
      order: unset;
      display: block;
      margin-bottom: 0 !important;
    }
    .field__label {
      margin-bottom: $space-one-half;
    }
    .text-wrapper {
      @extend .text-small;
    }
  }

  .field--name-field-location-additional-info {
    width: 100%;
    order: 2;
    margin-bottom: $space;
    display: flex;
    @include large {
      margin-bottom: $space-one-and-half;
    }
    &.icon {
      min-width: 24px;
      width: 24px;
      margin-right: $space;
      order: unset;
      display: block;
      margin-bottom: 0 !important;
    }
  }

  .field--name-field-service-language {
    width: 100%;
    order: 4;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: $space;
    @include large {
      margin-bottom: $space-one-and-half;
    }
    p {
      margin-bottom: 0;
      margin-left: 1px;
    }
    &.icon {
      min-width: 24px;
      width: 24px;
      margin-right: $space;
      order: unset;
      display: block;
      margin-bottom: 0 !important;
    }
    >.languages-wrapper {
      display: inline;
      flex-wrap: wrap;
      width: 100%;
      >.field__item {
         display: inline;
         margin-bottom: 0;
         font-size: $card-font-base-small;
         @include xl {
           font-size: $card-font-base;
         }
      }
    }
    .service-language {
      display: inline;
      margin-right: -2px;
    }
    .field--name-field-language,
    .field--name-field-level {
      display: inline;
      margin-bottom: 0;
    }
  }

  .term {
    display: inline;
    margin-right: -3px;
    >p {
      display: inline;
    }
    .field {
      margin-bottom: 0;
      display: inline;
    }
  }

  .accessibility-wrapper {
   order: 3;
   margin-bottom: $space-one-and-half;
   margin-left: 40px;
   @include xl {
      margin-bottom: 30px;
   }
  }

  .field--name-field-accessibility-details {
    order: 3;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    font-size: $card-font-base-small;
    @include xl {
      font-size: $card-font-base;
    }
    &.icon {
      min-width: 24px;
      width: 24px;
      margin-right: $space;
      order: unset;
      display: block;
      margin-bottom: 0 !important;
    }
  }

  .field--name-field-accessibility {
    order: 3;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    .field__label {
      font-weight: 600;
      margin-bottom: $space-one-half;
      font-size: $card-font-small-heading-mobile;
      @include xl {
        font-size: $card-font-small-heading;
      }
    }
    &.icon {
      min-width: 24px;
      width: 24px;
      margin-right: $space;
      order: unset;
      display: block;
      margin-bottom: 0 !important;
    }
    .field__items {
      display: flex;
      flex-wrap: wrap;
      font-size: $card-font-base-small;
      @include xl {
        font-size: $card-font-base;
      }
    }
    .field__item {
      display: flex;
      margin-bottom: 0;
      p {
        margin-bottom: 0;
      }
    }
    .field--name-name {
      word-wrap: break-word;
    }
  }

  .accordion {
    width: 100%;
    order: 4;
    margin-top: $space-double;

    .accordion-button {
      padding-left: 0;
      font-weight: 600;
      background-color: unset;
      border-bottom: unset;
      &::after {
        @include icons;
        margin-left: 5px;
        background-image: unset;
      }
      svg {
        transform: rotate(180deg);
      }
      &.collapsed {
        svg {
          transform: unset;
        }
      }
    }
    .accordion-collapse {
      border-bottom: unset;
    }
  }
}

.card--service-accessibility {
 padding-top: $space-two-and-half;
 padding-bottom: 2rem;

 .card__content {
   .field--name-field-accessibility {
     .field__label {
       margin-bottom: $space-double;
       h4 {
        font-weight: 600;
       }
     }
   }
 }

 .icon {
   margin-right: $space;
 }

 .field__items {
   display: flex;
   flex-wrap: wrap;
 }

 .field__item {
   margin-bottom: 20px;
   color: clr(alt-header-color);
   text-decoration: none;
   font-weight: 700;
   a {
     color: clr(alt-header-color);
     text-decoration: none;
     font-weight: 700;
   }
 }
}

.card--global-notification {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  .card__content {
    align-self: stretch;
    font-size: $small-caption;
    color: $blue150;
    p {
      margin-bottom: 0;
      @include large {
        margin-right: $space-double;
      }
    }
    a {
      text-decoration-line: underline;
      color: $blue100;
    }
  }
  .message__content {
    width: 100%;
    margin-top: 0;
    @include large {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 880px;
      margin: auto;
    }
  }
  .message__close {
    position: absolute;
    right: 16px;
    top: 16px;
  }
  .field--name-field-message-level {
    float: left;
    width: 100%;
    @include large {
      width: unset;
      margin-left: 60px;
    }
  }
  .field--name-label {
    margin-top: $space-one-third;
    margin-bottom: $space-one-and-half;
    font-weight: 600;
  }
  .icon {
    margin-right: $space;

    &--medium-large {
      width: 24px;
      @include large {
        width: 40px;
      }
    }
  }
  .field-publish-end-date {
    font-size: 14px;
    font-weight: 600;
  }
}

.card--service-notification {
  .views-field-label {
    margin-bottom: $space-one-and-half;
    .field-content {
      display: flex;
      h4 {
        font-weight: 600;
      }
    }
    .icon {
      margin-right: $space;
    }
  }
  .views-field-publish-end-date {
    font-size: 14px;
    font-weight: 600;
  }
}

.card--taxonomy-card {
  @include xl {
    height: 100%;
  }
  .card__link {
    @include xl {
      display: flex;
      align-items: stretch;
    }
  }
  .card__caption {
    @extend .small-uppercase-card-caption;
    color: clr(accent-pink);
    max-width: 90%;
  }
  .card__heading {
    @extend .card-heading;
    max-width: calc(100% - 35px);
  }
  .card__content {
    margin: $space;
    height: auto;
    @include xl {
      margin: $space-double;
      display: flex;
      flex-direction: column;
    }
  }
  .card__body {
    display: block;
    @include xl {
      margin-top: $space;
      margin-bottom: $space-one-and-half;
    }
    .field__item {
      @extend .small-font;
      word-break: break-word;
      @include xl {
        overflow: hidden;
        width: 100%;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
      }
    }
  }
  .icon-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    >.icon {
      position: relative;
      margin: 0;
      min-width: 24px;
    }
    .field__item {
      @extend .small-font;
      color: clr(footer-color);
      font-weight: 600;
    }
    .field--name-field-service-languages .field__items {
      overflow: hidden;
      width: 100%;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    .field--name-field-service-languages .field__item {
      display: inline-block;
      .service-language {
        display: flex;
      }
    }
  }
  .price-and-language-wrapper {
    display: flex;
    flex-direction: column;
    gap: $space;
    @include xl {
      margin-top: auto;
    }
  }

  .flag.action-flag,
  .flag.action-unflag {
    margin-right: 12px;
    margin-top: 12px;
  }

  .prefix {
    margin-left: 2px;
  }
}

body:not(.edit-create-form) .field--name-field-linklist-card {
  width: 100%;
}

.link-card-with-image {
  background-color: clr(sidebar-color);
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: $space-double;
  min-width: 310px;
  min-height: 300px;
  @include medium {
    min-width: unset;
    width: calc(50% - 16px);
    flex-basis: calc(50% - 16px);
    flex-grow: 1;
    margin-bottom: unset;
    max-width: 325px;
  }
  @include xl {
    width: calc(33% - 16px);
    flex-basis: calc(33% - 16px);
    flex-grow: 1;
  }
  @media (min-width: 1640px) {
    width: calc(25% - 18px);
    flex-basis: calc(25% - 36px);
    flex-grow: 1;
  }
  a {
    text-decoration-line: none;
  }
  img {
    width: 100%;
  }
  .arrow-icon {
    background-image: url("../../assets/images/icons/arrow-right-1.svg");
    background-color: clr(background-section);
    width: 62px;
    height: 62px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.card-text-wrapper {
  padding: 18px 22px;
  margin-bottom: 48px;
  .field--name-field-title {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 600;
    color: clr(alt-header-color);
  }
  .field--name-field-short-description {
    font-size: 16px;
    font-weight: 600;
    color: clr(text);
  }
}
