.menu {
  @include list-reset;
  &--additional-menu {
    display: block;
    padding: $space-one-and-half $space-one-and-half $space-double $space-one-and-half;

    .menu__item {
      display: flex;
      margin-bottom: $space-one-half;
      .menu__link {
        @include button-medium;
        @include button-no-color;
        @include button-round-corners;
        display: flex;
        justify-content: flex-start;
        font-size: 12px;
        font-weight: 700;
        color: $blue130;
        border: 1px solid $blue40;
        width: 100%;
        align-items: center;
        padding: 10px 13px;
        @include xxl {
          font-size: 14px;
          padding: 0.75rem $space-double;
        }
      }
      &:nth-child(1) {
        .menu__link {
          &::before {
            content: "";
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
            width: 22px;
            height: 22px;
            background-image: url("/themes/custom/palvelumanuaali/images/icons/info.svg");
            margin-right: 18px;
          }
        }
      }
      &:nth-child(2) {
        .menu__link {
          &::before {
            content: "";
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
            width: 24px;
            height: 20px;
            background-image: url("/themes/custom/palvelumanuaali/images/icons/flag.svg");
            margin-right: 16px;
          }
        }
      }
      &:last-child {
        .menu__link {
          @include button-medium;
          @include button-color-blue;
          @include button-round-corners;
          border: unset;

          &::before {
            content: "";
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            background-image: url("/themes/custom/palvelumanuaali/images/icons/plus.svg");
            margin-right: 18px;
          }
        }
      }
    }

  }
  &--favorites {
    .menu__link {
      color: clr(text);
      display: flex;
      height: 24px;
    }
    &:first-child {
      a {
        &::before {
          content: "";
          display: block;
          background-repeat: no-repeat;
          background-image: url("/themes/custom/palvelumanuaali/images/icons/heart.svg");
          @extend .icon--small;
          @extend .icon--margin-right;
          @extend .icon--mobile-margin-left-auto;
        }
      }
    }
  }
}

.menu__link {
  text-decoration: none;
}

.additional-links-menu-nav {
  display: none;
  @include large {
    display: block;
  }

  &--open {
    display: block;
  }
}



//this should be split to dropdown molecule
.dropdown-menu {
  background-color: clr(background-dropdown);
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(30, 64, 182, 0.2);
  border: 0;
  padding:24px;
  text-align: center;
  @include large {
    margin-top: $space-one-and-half;
  }
  a {
    font-size: $small-font;
    text-decoration: unset;
    color: clr(text);
    clear: both;
    display: block;
  }
}

.dropdown-item {
  &.is-active {
    font-weight: bold;
    color: clr(alt-header-color);
  }
}


.local-actions-block {
  list-style: none;
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  li {
    &:first-child {
      padding-left: 0;
    }
  }
}

nav.language-switcher-language-url {
  .dropdown-menu {
    padding-left: 0;
    padding-right: 0;
  }
  .language-link {
    padding-left: $space-three-and-half;
    padding-right: $space-one-and-half;
  }
}
