.menu {
  @include list-reset;
  &--additional-menu {
    display: block;
    margin: $space-one-and-half $space-one-and-half $space-double $space-one-and-half;
    background: $blue20;
    border-radius: 16px;
    padding: $space-one-and-half $space-one-and-half $space-double $space-one-and-half;

    .menu__item {
      margin-bottom: 1rem;
      text-align: center;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .menu__link {
      font-size: 13px;
      color: clr(alt-header-color);
      margin-bottom: $space;
      font-weight: bold;
      &::after {
        Content: ">";
      }
    }
  }
  &--favorites {
    .menu__link {
      color: clr(text);
    }
  }
}

.menu__link {
  text-decoration: none;
}

.additional-links-menu-nav {
  display: none;
  @include large {
    display: block;
  }

  &--open {
    display: block;
  }
}



//this should be split to dropdown molecule
.dropdown-menu {
  background-color: clr(background-dropdown);
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(30, 64, 182, 0.2);
  border: 0;
  padding:24px;
  text-align: center;
  a {
    font-size: $small-font;
    text-decoration: unset;
    color: clr(text);
    clear: both;
    display: block;
  }
}

.dropdown-item {
  &.is-active {
    font-weight: bold;
    color: clr(alt-header-color);
  }
}
