@mixin datepicker-font{
  text-align: center;
  font-size: $small-font;
  line-height: 2;
  text-transform: uppercase;
  text-align: center;
}

@mixin datepicker-header-color{
  font-weight: 600;
  letter-spacing: 1px;
  color: clr(alt-header-color);
}

.ui-widget.ui-datepicker {
  border: 2px solid #AFCEFD;
  border-radius: 8px;
  padding: $space-three-fourths $space-one-and-half $space $space-one-and-half;
  .ui-datepicker-header{
    background-color: transparent;
    border: unset;
    padding: 0;
    position: relative;
  }

  .ui-datepicker-prev {
    left: -8px;
    &.ui-state-hover {
      left: -8px;
    }
  }

  .ui-datepicker-next {
    right: -8px;
    &.ui-state-hover {
      right: -8px;
    }
  }

  .ui-datepicker-next,
  .ui-datepicker-prev {
    height: 24px;
    width: 24px;
    &.ui-state-hover {
      background: unset;
      border: 0;
      top: 2px;
      box-shadow:inset 0px 0px 0px 1px clr(alt-header-color);
      cursor: pointer;
    }
  }

  .ui-datepicker-prev .ui-icon {
    background-image: unset;
    margin: 0;
    top: 0;
    right: unset;
    left: unset;
    width: 24px;
    height: 24px;
    &::after {
      content: "";
      background-image: url('/themes/custom/palvelumanuaali/images/icons/arrow-sm-down-dark-blue.svg');
      background-repeat: no-repeat;
      background-position: center;
      width: 24px;
      height: 24px;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform:rotate(90deg);
    }
  }
  .ui-datepicker-next .ui-icon {
    background-image: unset;
    top: 0;
    margin: 0;
    right: unset;
    left: unset;
    width: 24px;
    height: 24px;
    &::after {
      content: "";
      background-image: url('/themes/custom/palvelumanuaali/images/icons/arrow-sm-down-dark-blue.svg');
      background-repeat: no-repeat;
      background-position: center;
      width: 24px;
      height: 24px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transform:rotate(270deg);
    }
  }
  .ui-datepicker-title {
    line-height: 24px;
  }
  .ui-datepicker-title .ui-datepicker-month,
  .ui-datepicker-title .ui-datepicker-year {
    @include datepicker-font();
    @include datepicker-header-color;
  }
  table {
    border: 0;
    margin: 0;
  }
  th {
    border: 0;
    @include datepicker-font;
    @include datepicker-header-color;
    &::after {
      display: none;
    }
  }
  thead {
    border: 0;

  }
  tr {
    &::after {
      display: none;
    }
  }
  td {
    padding: 0;
  }
  tbody {
    a {
      border: 0;
      background: unset;
      @include datepicker-font;
      cursor: pointer;
      &.ui-state-active,
      &:hover   {
        background-color: $blue100;
        color: clr(text-inverse);
      }
    }
  }

}
