// Storybook styling
.icons-demo {
  display: flex;
  flex-wrap: wrap;

  .icon {
    height: 100px;
    padding: $space;
    width: 100px;

    @media (prefers-color-scheme: dark) {
      fill: clr(accent-high);
    }
  }

  pre {
    background-color: clr(muted);
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
  }
}

.icons-demo__item {
  border: 1px solid clr(muted);
  margin: $space-one-fourth;
}

.icon--large {
  width: 337px;
  height: 339px;
}

.icon--medium-large {
  height: 40px;
  width: 40px;
}

.icon--medium {
  height: 32px;
  width: 32px;
}

.icon--normal {
  height: 28px;
  width: 28px;
}

.icon--small {
  height: 24px;
  width: 24px;
}

.icon--smaller {
  height: 16px;
  width: 16px;
}

.icon--tiny {
  height: 14px;
  width: 14px;
}

.icon--rotate {
  transform: rotate(180deg);
}

.icon--margin-bot-2 {
  margin-bottom: 2px;
}

.show {
  .icon--dropdown {
    transform: rotate(180deg);
  }
}

.icon--white {
  color: clr(text-inverse);
}

.icon--absolute-right {
  position: absolute;
  top: 12px;
  right: 12px;
}

.icon--absolute-right-forty {
  position: absolute;
  top: 40px;
  right: 40px;
}

.icon--absolute-left-forty {
  position: absolute;
  top: 40px;
  left: 40px;
}

.icon--absolute-left {
  position: absolute;
  left: 20px;
}

.icon--margin-right {
  margin-right: $space;
}

.icon--absolute-right-regular {
  position: absolute;
  top: $space;
  right: $space;
  z-index: 20;
}

.icon--absolute-left-regular {
  position: absolute;
  top: $space;
  left: $space;
  z-index: 20;
}

.icon--margin-right-double {
  margin-right: $space-double;
}

.icon--margin-right-twelve {
  margin-right: 12px;
}

.icon--margin-right-twenty-six {
  margin-right: 26px;
}


.icon--mobile-margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.icon--mobile-margin-left-auto {
  margin-left: auto;
}

.icon--margin-left {
  margin-left: $space-one-and-half;
}

.link__arrow {
  height: 24px;
  width: 24px;
}

.icon__question-mark {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $space-double;
}

.icon--favorite {
  background-image: url("/themes/custom/palvelumanuaali/images/icons/favorite-outline.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.icon--favorite-filled {
  background-image: url("/themes/custom/palvelumanuaali/images/icons/favorite-filled.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
