// Storybook styling
.icons-demo {
  display: flex;
  flex-wrap: wrap;

  .icon {
    height: 100px;
    padding: $space;
    width: 100px;

    @media (prefers-color-scheme: dark) {
      fill: clr(accent-high);
    }
  }

  pre {
    background-color: clr(muted);
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
  }
}

.icons-demo__item {
  border: 1px solid clr(muted);
  margin: $space-one-fourth;
}

.icon--medium {
  height: 32px;
  width: 32px;
}

.icon--small {
  height: 24px;
  width: 24px;
}

.icon--tiny {
  height: 14px;
  width: 14px;
}

.show {
  .icon--dropdown {
    transform: rotate(180deg);
  }
}

.icon--white {
  color: clr(text-inverse);
}

.icon--absolute-right {
  position: absolute;
  top: 12px;
  right: 12px;
}

.icon--absolute-right-forty {
  position: absolute;
  top: 40px;
  right: 40px;
}

.icon--absolute-left-forty {
  position: absolute;
  top: 40px;
  left: 40px;
}

.icon--absolute-left {
  position: absolute;
  left: 20px;
}

.icon--margin-right {
  margin-right: $space;
}

.icon--mobile-margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.icon--mobile-margin-left-auto {
  margin-left: auto;
}

.icon--margin-left {
  margin-left: $space-one-and-half;
}

.link__arrow {
  height: 24px;
  width: 24px;
}

.icon__question-mark {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $space-double;
}
