.view-solr-service-search .view-filters {
  position: relative;

  fieldset[data-drupal-selector="edit-langcode"] {
    flex: auto;
    grid-column: 1/3;
    grid-row: 3;
    input {
      display: none;
    }

    .form-radios {
      width: 100%;
      display: flex;
      gap: $space;
      flex-wrap: wrap;
      .form-item {
        display: block;
        flex: unset;
      }
      .form-item:nth-last-of-type(2) label {
        display: flex;
        justify-content: left;
      }
      label {
        font-weight: 600;
        margin-left: 0;
        height: 40px;
        .text {
          padding: 8px 10px 8px 0px;
          font-size: 15px;
        }
        .count {
          padding: 6px 10px;
          color: $blue100;
          background: #fff;
          border: 2px solid $blue40 !important;
          border-radius: 8px;
        }
        .count.active {
          background: $blue100;
          color: #fff;
        }

      }
    }
  }
  .dropdownMultiselect {
    display: none;
  }

  .search-autocomplete-wrapper {
    >.js-form-type-textfield {
      @include xl {
        margin: auto;
      }
    }
  }
  .filters-wrapper {
    @include xl {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .exposed-filters {
    max-width: $max-width;
    width: 100%;
    .main-filters {
      display: flex;
      flex-wrap: wrap;
      min-height: 76px;
      gap: $space-one-half;
      .form-item {
        @include xl {
          margin-bottom: 0;
        }
      }

    }
    .secondary-filters {
      &.collapsing,
      &.show {
        display: flex;
        flex-wrap: wrap;
        @include xl {
          margin-left: 60px;
        }
      }
    }

  }
  .control-wrapper {
    display: flex;
    justify-content: space-between;

    input[data-drupal-selector="edit-reset"] {
      display: none;
    }
    .collapse-toggler,
    .form-submit  {
      font-size: $small-caption;
      font-weight: 700;
      text-decoration: none;
      background: unset;
      padding: 0;
      margin: 0;
      color: clr(background-section);
    }

    .collapse-toggler {
      position: relative;
      padding-right: 24px;
      display: block;
      &:before {
        background-image: url("../../assets/images/icons/arrow-sm-down.svg");
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: 1px;
        position: absolute;
        width: 100%;
        height: 100%;
        content:"";
      }
    }
    .collapse-toggler[aria-expanded="true"]  {
      &:before {
        transform: rotateX(180deg);
        background-position-y: 0px;
      }
    }
  }

  .bef--secondary {
    @include xl {
      display: block;
    }
    summary {
      font-size: 12px;
      color: $blue100;
      font-weight: 700;
      display: flex;
      align-items: center;
      height: 32px;
      &::marker {
        content: '';
      }
    }
    .additional-filters {
      @include large {
        margin-left: $space-double;
      }
    }
    .reset-wrapper,
    .additional-filters {
      @include xl {
        margin-left: $space-double;
      }
      a {
        text-decoration: none;
      }
    }

    .details-wrapper {
      display: flex;
      padding-top: 28px;
      padding-bottom: 28px;
      @extend .col-md-12;
      .form-item {
        margin-bottom: 0;
      }

      .form-item__label {
        @extend .visually-hidden;
      }
    }
  }
}

.view-solr-service-search {
  .view-filters {
    .js-form-type-select {
      flex-grow: unset;
    }

    /* Search sort element's position and size. */
    .form-item-sort-bef-combine {
      float: right;
      display: flex;
      flex-direction: column;
      flex: unset;
      margin-top: $space-double;
      gap: 8px;
      @include xl {
        margin-top: calc(-1 * $space-two-and-half);
        flex-direction: row;
        gap: 0;
      }
      > label {
        align-self: flex-end;
        justify-self: right;
        padding-right: $space;
        font-size: 15px;
        display: inline-block;
        line-height: 24px;
        margin-bottom: auto;
        margin-top: auto;
        grid-row: 1 / 2;
      }
      .select2 {
        background-color: clr(text-inverse);

      }
      /* Select element for search sort. */
      .form-item__dropdown {
        align-self: flex-end;
        grid-row: 1 / 2;
        min-width: 220px;
        @include large {
          min-width: unset;
        }
        .select2-container--palvelumanuaali {
          box-shadow: inset 0px 0px 0px 2px clr(form-border);
          padding: 0;
          &:active,
          &:hover {
            box-shadow: inset 0px 0px 0px 2px clr(background-section);
          }
          .select2-selection--single {
            @extend .multi-select-button;
            height: unset;
            text-overflow: ellipsis;
            padding: 8px 44px 8px $space-one-and-half;
              &::after {
                background-position: top 9px right 8px;
              }
          }
          .select2-selection--single .select2-selection__rendered {
            background: transparent !important;
            font-size: 12px !important;
            line-height: 24px !important;
            padding: 0 !important;
            @include xl-zoom {
              font-size: 14px !important;
            }
          }
          .select2-selection__arrow {
            display: none;
          }
        }
        .select2-container--open {
          box-shadow: inset 0px 0px 0px 2px clr(background-section);
        }
      }
    }
  }

}

.search-page {
  .text-search-wrapper {
    .form-actions {
      position: relative;
    }
    input[data-drupal-selector="edit-reset"] {
      display: none;
      position: absolute;
      top: 0;
      left: -36px;
      padding: 0 !important;
      color: transparent;
      @extend .button--reset;
      @extend .icon--small;
      margin: 12px 0 12px 0 !important;
      background-size: contain;
      background-image: url("../../assets/images/icons/close.svg");
      background-repeat: no-repeat;
      background-position: center;
      &:hover {
        background-color: transparent;
        color: transparent;
      }
    }
  }
  .select2-search__field {
    display: none;
  }
  .select2-results__options {
    padding-left: 0;
    padding-right: 0;
  }
  .select2-results__option,
  .select2-results__option--highlighted[aria-selected] {
    display: block;
    font-size: 0.875em;
    padding: 0.6em $space-two-and-half 0.6em $space-triple;
    white-space: nowrap;
    color: clr(text);
    font-weight: 400;
    &:hover,
    &:focus {
      background: clr(background);
      font-weight: 400;
      color: clr(text);
    }
  }
  .select2-results__option[aria-selected="true"] {
    font-weight: 400;
    color: clr(text);
    &::before {
      left: 18px;
      width: 12px;
      height: 12px;
      font-size: 9px;
    }
  }
  .select--white-rounded {
    select,
    .select2,
    .multi-select-button {
      z-index: 0;
      padding: 6px 12px 6px 16px;
      @include xl-zoom {
        padding: 8px 12px 8px 16px;
      }
    }
  }
}
