.container-inline.hel-tpm-general-configurable-search-result-elements .form-item {
  margin: 0 3px;
}
.container-inline.hel-tpm-general-configurable-search-result-elements label {
  display: block;
}
