// Sass map to define colors. Each set should have a "Dark" variation when required.
// e.g. `default` and `default-dark`. Or `purple` and `purple-dark`.
$pill-colors: (
  primary: (
    text: clr(text-inverse),
    bg: clr(primary),
    text-hover: clr(primary),
    bg-hover: clr(highlight),
  ),
  primary-dark: (
    text: clr(text-inverse),
    bg: clr(primary),
    text-hover: clr(primary),
    bg-hover: clr(highlight),
  ),
  secondary: (
    text: clr(text-inverse),
    bg: clr(secondary),
    text-hover: clr(secondary),
    bg-hover: clr(highlight),
  ),
  secondary-dark: (
    text: clr(text-inverse),
    bg: clr(secondary),
    text-hover: clr(secondary),
    bg-hover: clr(highlight),
  ),
  warning: (
    text: clr(text-inverse),
    bg: clr(warning),
    text-hover: clr(secondary),
    bg-hover: clr(highlight),
  ),
  warning-dark: (
    text: clr(text-inverse),
    bg: clr(warning),
    text-hover: clr(secondary),
    bg-hover: clr(highlight),
  ),
  gray: (
    text: clr(text-inverse),
    bg: clr(gray),
    text-hover: clr(secondary),
    bg-hover: clr(highlight),
  ),
  gray-dark: (
    text: clr(text-inverse),
    bg: clr(gray),
    text-hover: clr(secondary),
    bg-hover: clr(highlight),
  ),
);

// Mixin to define colors for one or more schemes.
// Simply pass the color scheme to the mixin to get the colors defined in the map.
// e.g. @include pillColors(default) will get all of the colors defined in the "default" section.
@mixin pillColors(
  $scheme,
  $pallate: map-get($pill-colors, $scheme),
  $map: $pill-colors
) {
  color: map-get($pallate, text);
  background-color: map-get($pallate, bg);

}

// The pill-base mixin contains styles that apply to all pills
// regardless of color or size.
@mixin pill-base {
  border: none;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  line-height: 24px;
  width: min-content;
}

// Pill color variations
// Note how we include dark mode options for each
@mixin pill-color-primary {
  @include pillColors(primary);

  @media (prefers-color-scheme: dark) {
    @include pillColors(primary-dark);
  }
}

@mixin pill-color-secondary {
  @include pillColors(secondary);

  @media (prefers-color-scheme: dark) {
    @include pillColors(secondary-dark);
  }
}

@mixin pill-color-warning {
  @include pillColors(warning);

  @media (prefers-color-scheme: dark) {
    @include pillColors(warning-dark);
  }
}

@mixin pill-color-gray {
  @include pillColors(gray);

  @media (prefers-color-scheme: dark) {
    @include pillColors(gray-dark);
  }
}

// Pill size variations
@mixin pill-medium {
  line-height: 1.4;
  padding: $space-three-fourths $space-double;
}

@mixin pill-large {
  line-height: 2;
  padding: $space $space-double;
}

@mixin pill-small {
  padding: 0px $space;
  font-size: $small-caption;
  letter-spacing: 1px;
}


//pill shape variations
@mixin pill-round-corners {
  border-radius: 8px;
}

@mixin pill-round-top {
  border-radius: 8px 8px 0 0;
}

.pill {
  @include pill-base;
  @include pill-color-primary;
  @include pill-small;

  &--warning {
    @include pill-color-warning;
    @include pill-small;
  }

  &--gray {
    @include pill-small;
    @include pill-color-gray;
  }
  &--padding-small-text {
    padding: $space-one-fourth $space;
  }
  &--small-message {
    border-radius: 4px;
    background: var(--Primary-Blue-5, #F7F9FD);
    box-shadow: 0px 4px 8px 0px rgba(30, 64, 182, 0.24);
    left: 0%;
    transform: translate(-50%, 0);
    width: max-content;
    display: none;
    transition-timing-function: linear;
    @include large {
      left: 50%;
    }
  }
  &--small-message-base {
    border-radius: 4px;
    background: var(--Primary-Blue-5, #F7F9FD);
    box-shadow: 0px 4px 8px 0px rgba(30, 64, 182, 0.24);
    left: 50%;
    transform: translate(-50%, 0);
    width: max-content;
    transition-timing-function: linear;
  }
  &--small-message-url {
    margin-bottom: 0;
    bottom: -40px;
  }
  &--small-message-taxonomy {
    position: absolute;
    right: 0;
    bottom: -32px;
    z-index: $zi-pill-small-message;
    left: -3%;
  }
  &--small-message-service {
    position: absolute;
    right: unset;
    bottom: -32px;
    z-index: $zi-pill-small-message;
    transform: unset;
    left: -7%;
  }
}

.checkbox-pill {
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background: clr(text-inverse);
  color: clr(alt-header-color);
  border: 2px solid transparent;
  box-sizing: border-box;
  &:hover,
  &:focus-within {
    cursor: pointer;
    border: 2px solid clr(background-section);
  }
  input {
    @extend .visually-hidden;
  }
  &.highlight {
    background: clr(background-section);
    .form-item__label {
      color: clr(text-inverse)
    }
    &:hover {
      outline: unset;
    }
  }
  .form-item__label {
    color: clr(alt-header-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    &:hover {
      cursor: pointer;
    }
  }
}

.tag-pill {
  border-radius: 16px;
  font-size: 14px;
  padding: 4px 8px;
  margin-right: 4px;
  margin-bottom: 8px;
  line-height:24px;
  display:inline-block;
  &--primary {
    background-color: $blue10;
    color: $blue130;
    a {
      color: $blue130;
    }
  }
  &--alt {
    background-color: $blue150;
    color: clr(text-inverse);
    a {
      color: clr(text-inverse);
    }
  }
  .field__item {
    margin-bottom: 0;
  }

}

