.field--widget-hel-tpm-editorial-date-recur-custom {
  .dates {
    display: grid;
    grid-template-columns: 5fr 0.5fr 5fr;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    .date {
      .form-item {
        float: left;
        width: 45%;
        margin-right: 2%;
        margin-left: 2%;
      }
      input {
        background-color: #fff;
      }
    }
  }
  .hel-tpm-editorial-date-recur-custom-widget {
    .date-preview {
      float: left;
    }
    .weekdays.container-inline {
      .form-item--checkboxes {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }
      .form-item {
        width: auto;
      }
      .form-item-checkbox {
        margin-right: $space-one-half;
        margin-bottom: 0;
        height: 32px;
        input {
          opacity: 0;
          position: absolute;
          &:checked +label {
            background-color: $blue100;
            color: $white;
          }
        }
        label {
          width: 32px;
          height: 32px;
          background-color: $blue10;
          color: $blue100;
          border-radius: 50%;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: start;
          font-weight: 700;
          font-size: 12px;
          letter-spacing: 1px;
          text-transform: uppercase;
          padding-left: 8px;
          &:hover {
            background-color: $blue100;
            color: $white;
            cursor: pointer;
          }
        }
      }
    }
  }


  .hyphen-wrapper {
    position: relative;
    .hyphen {
      font-weight: 600;
      display: block;
      position: absolute;
      top: 40%;
      left: 10px;
    }
  }
  .field--type-date-recur {
    legend {
      width: 100%;
    }
    .form-item--checkboxes {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.field--widget-hel-tpm-service-dates-date-range {
  > div {
    width: 100%;
  }
  .custom-date-range-end-date-disabled {
    h4 {
      width: 100%;
    }
    div[class*='-value-time'] {
      .form-item__label {
        position: absolute;
        top: 3px;
      }
      input {
        width: 85px;
      }
    }
  }
}

.field--widget-hel-tpm-service-dates-custom-date-and-time-range-widget,
.field--widget-hel-tpm-service-dates-date-range {
  .table__row {
    td {
      input.form-submit {
        margin-top: $space-double;
      }
    }
  }
  fieldset {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $space-double;
    .form-item {
      margin-bottom: $space;
      @include large {
        margin-bottom: unset;
      }
    }
    h4 {
      width: 100%;
      @include large {
        order: 1;
        width: 50%;
      }
      font-size: 12px;
      font-weight: 600;
    }
    div {
      display: flex;
      gap: $space;
      @include large {
      order: 2;
      width: 50%;
      }
    }
    div[class*='-value-time'] {
      width: 100px;
    }
    div[class*='-value-date'] {
      width: 160px;
    }

  }
}

.field--name-field-start-and-end-date  {
  fieldset {
    div[class*='-value-date'] {
      width: 230px;
    }
  }
}



.hel-tpm-service-dates-weekday-and-time-field-elements {
  >.label {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 17px;
    @extend .form-required-on-publish;
    &:nth-child(1) {
      width: 82px;
    }
    &:nth-child(2) {
      width: 150px;
    }
  }
  .date-preview {
    float: left;
  }
    .form-item--checkboxes {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .form-item {
      width: auto;
    }
    .ui-timepicker-input{
      padding: 4px 8px;
      width: 7ch;
      margin-bottom: $space;
      @include large {
        margin-bottom: 0;
      }
    }
    .weekday-row {
      margin-bottom: $space;
      width: 100%;
      @include large {
        margin-bottom: $space-one-and-half;
        height: 40px;
      }
      > div {
        margin-right: $space-two-and-half;
      }
      .form-wrapper {
        > div {
          &:first-child {
            &::after {
              content: "-";
              margin-left: 4px;
              margin-right: 4px;
            }
          }
        }
      }
    }

    .form-item-checkbox {
      margin-right: $space-one-half;
      margin-bottom: 0;
      height: 32px;
      input {
        opacity: 0;
        position: absolute;
        & + label {

        }
        &:checked + label {
          background-color: $blue100;
          color: $white;
        }
        &:disabled +label {
          border-color: $gray-light;
          color: $gray-light;
          &:hover {
            cursor: default;
            background-color: inherit;
          }
        }
        &:checked:disabled +label {
          background-color: $gray-light;
          color:clr(text-inverse);
          &:hover {
            cursor: default;
          }
        }

      }
      &:nth-child(3) {
        label {
          color: transparent;
          &:hover {
            color: transparent;
          }
         }
      }

      .add-time-button {
        & + label {
          background-color: $blue100;
          @include round-icon-button;
          background-image: url("../../assets/images/icons/plus.svg");
          text-indent: -9999px;
          &:hover {
            color: transparent;
          }
        }
        &:checked +label {
          @include round-icon-button;
          background-image: url("../../assets/images/icons/minus.svg");
        }
        &:disabled +label {
          border-color: $gray-light;
          background-color: $gray-light;
          color: transparent;
          &:hover {
            cursor: default;
            background-color: $gray-light;
          }
        }
        &:checked:disabled +label {
          background-color: $gray-light;
          color: transparent;
        }
      }
      label {
        width: 32px;
        height: 32px;
        color: clr(alt-header-color);
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: start;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-left: 8px;
        justify-content: center;
        @include round-icon-button-transparent;
        &:hover {
          background-color: $blue100;
          color: $white;
          cursor: pointer;
        }
      }
    }
}

.field--widget-hel-tpm-editorial-date-recur-custom {
  .hel-tpm-editorial-date-recur-custom-widget {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    > .form-submit {
      order: 2;
      @include close-button;
      width: 16px;
      height: 16px;
      margin-bottom: 38px;
    }
    .dates {
      order: 1;
      max-width: 95%;
      .hyphen-wrapper {
        margin-top: 24px;
      }
      .date {
        margin-bottom: 0;
      }
      .form-item {
        margin-left: 0;
      }
    }
    >.container-inline {
      order: 3;
      width: 100%;
      .js-form-type-number {
        display: block;
        margin-top: $space;
      }
    }

    .ends {
      order: 4;
      .form-item--radio {
        flex-direction: column;
      }
      .ends-date-item {
        .form-item {
          display: inline-block;
        }
      }
    }
  }
}

.field--name-field-dates {
  .field-add-more-submit {
    margin-top: $space;
  }
}

.field--name-field-service-languages {
  .field__items {
    .field__item {
      margin-bottom: unset;
    }
  }
}

.field--name-field-service-time-and-location,
.field--name-field-service-time-and-location > .ajax-new-content {
  margin-bottom: $space-triple !important;
  input[data-drupal-selector*="edit-field-service-time-and-location-add-more-add-more-button-service-time-and-place"] {
    width: 100%;
  }
  textarea {
    background-color: clr(text-inverse);
  }
  .field--name-field-service-location {
    margin-bottom: $space-double;
  }
  .field--name-field-service-languages {
    margin-bottom: $space-two-and-half;
  }

  .field-service-time-and-location-values > tbody > tr > .table__cell {
    margin-bottom: $space;
  }

  .field-service-time-and-location-values > tbody > tr > .table__cell > div > div > div > .paragraphs-dropbutton-wrapper,
  .field-service-time-and-location-values > tbody > tr > .table__cell > .ajax-new-content > div > div > div > .paragraphs-dropbutton-wrapper {
    > input {
      @include close-button;

      display: block;
      position: absolute;
      right: 24px;
      top: 24px;
      width: 20px;
      height: 20px;
      padding: 4px;
    }
  }

  .form-text,
  .select--white-rounded select,
  .form-number {
    background-color: clr(text-inverse);
  }
}

.field--name-field-date-selection {
  .form-item--radio {
    flex-direction: column;
  }
  .form-item--radio-button {
    label {
      margin-left: 0;
      &::before {
        content:'';
        display: block;
        width: 24px;
        height: 24px;
        border: 1px solid clr(background-section);
        margin-right: 20px;
        border-radius: 2px;
        background: clr(text-inverse);
      }
    }
  }
  input[type="radio"] {
    display: none;
    &:disabled +label {
      &::before {
        border: 1px solid $gray-light;
      }
    }
  }
  input[type="radio"]:checked + label::before {
    background-image: url('../../assets/images/icons/check-black.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 11px;

  }
}

.field--name-field-service-languages,
.field--name-field-links {
  .paragraphs-subform {
    display: flex;
    order: 1;
    margin: 0;
  }
  .paragraph-type-top {
    order: 2;
    align-items: end;
  }
  .paragraphs-dropbutton-wrapper {
    line-height: 32px;
    input[data-drupal-selector*="top-links-remove-button"] {
      @include close-button;
      width: 16px;
      height: 16px;
      padding: 0;
      line-height: 30px;
    }

    input[data-drupal-selector*="subform-field-service-languages-add-more-add-more-button-service-language"] {
      width: 259px;
      height: 48px;
      font-size: $small-caption;
    }

    input[data-drupal-selector*="inline-entity-form-field-links-add-more-add-more-button-link"] {
      @include round-icon-button;
      background-image: url("../../assets/images/icons/plus.svg");
    }
  }
}


.fieldset-internal-files-and-attachments,
.field--name-field-service-other-info,
.field--name-field-links-and-attachments {
  .field--name-field-internal-links,
  .field--name-field-link {
    margin-bottom: $space-double;
    .table__cell {
      > input,
      > .ajax-new-content > input {
        @include close-button;

        display: block;
        height: 48px;
        width: 36px;
        background-size: 16px;
        margin-top: 30px;
      }
    }
  }
  .field--type-file {
    > .form-wrapper > .form-wrapper {
      padding: 0;
    }

  }

}

.details-file-field {
  list-style: none;
  display: flex;
  flex-direction: column;
  td:first-child {
    width: 80%;
  }
  summary {
    margin-bottom: $space-one-half;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
  }
  >.form-wrapper {
  }
  >.table{
  }
    fieldset {
      legend,
      legend > span {
        font-size: $small-font;
      }
    }


}

.field--name-field-client-consent {
  label.option {
    width: unset;
  }
}

.field--name-field-internal-files,
.field--name-field-file {
  > .field__items{
    .file,
    a {
      display: block;
      width: 100%;
    }
    .field__item {
      display: block;
      position: relative;
      background-color: clr(background);
      border-radius: 8px;
      &:hover {
        background-color: clr(background-border);
      }
    }
    a {
      border-radius: 8px;
      color: clr(text);
      text-decoration: none;
      font-size: 14px;
      padding: $space 0 $space $space-three-and-half;
      margin-bottom: $space-one-half;
      position: relative;
    }
  }
}


.basic-page .field--name-field-internal-files,
.basic-page .field--name-field-file {
  .field__item {
    background-color: clr(text-inverse);
  }
}

.form-text,
.select--white-rounded select,
.form-number {
  @extend .disabled-form-element;
}

.field--name-field-linklist-card {
  display: flex;
  flex-direction: column;
  margin-bottom: $space-quadruple;
  @include medium {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }
  @include xl {
    gap: 3rem;
  }
}
