.field--widget-hel-tpm-editorial-date-recur-custom {
  .dates {
    display: grid;
    grid-template-columns: 5fr 0.5fr 5fr;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    .date {
      .form-item {
        float: left;
        width: 45%;
        margin-right: 2%;
        margin-left: 2%;
      }
      input {
        background-color: #fff;
      }
    }
  }
  .hel-tpm-editorial-date-recur-custom-widget {
    .date-preview {
      float: left;
    }
    .weekdays.container-inline {

      .form-item--checkboxes {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }
      .form-item {
        width: auto;
      }
      .form-item-checkbox {
        margin-right: $space-one-half;
        margin-bottom: 0;
        height: 32px;
        input {
          opacity: 0;
          position: absolute;
          &:checked +label {
            background-color: $blue100;
            color: $white;
          }
        }
        label {
          width: 32px;
          height: 32px;
          background-color: $blue10;
          color: $blue100;
          border-radius: 50%;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: start;
          font-weight: 700;
          font-size: 12px;
          letter-spacing: 1px;
          text-transform: uppercase;
          padding-left: 8px;
          &:hover {
            background-color: $blue100;
            color: $white;
            cursor: pointer;
          }
        }
      }
    }
  }

  .hyphen-wrapper {
    position: relative;
    .hyphen {
      font-weight: 600;
      display: block;
      position: absolute;
      top: 40%;
      left: 10px;
    }
  }
  .field--type-date-recur {
    legend {
      width: 100%;
    }
    .form-item--checkboxes {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.field--widget-hel-tpm-editorial-date-recur-custom {
  .hel-tpm-editorial-date-recur-custom-widget {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    > .form-submit {
      order: 2;
      @include close-button;
      width: 16px;
      height: 16px;
      margin-bottom: 38px;
    }
    .dates {
      order: 1;
      max-width: 95%;
      .hyphen-wrapper {
        margin-top: 24px;
      }
      .date {
        margin-bottom: 0;
      }
      .form-item {
        margin-left: 0;
      }
    }
    >.container-inline {
      order: 3;
      width: 100%;
      .js-form-type-number {
        display: block;
        margin-top: $space;
      }
    }

    .ends {
      order: 4;
      .form-item--radio {
        flex-direction: column;
      }
      .ends-date-item {
        .form-item {
          display: inline-block;
        }
      }
    }
  }
}

.field--name-field-dates {
  .field-add-more-submit {
    margin-top: $space;
  }
}

.field--name-field-service-time-and-location,
.field--name-field-service-time-and-location > .ajax-new-content {
  margin-bottom: $space-triple !important;
  input[data-drupal-selector*="edit-field-service-time-and-location-add-more-add-more-button-service-time-and-place"] {
    width: 100%;
  }
  .field--name-field-service-location {
    margin-bottom: $space-double;
  }
  .field--name-field-service-languages {
    margin-bottom: $space-two-and-half;
  }
  .field--name-field-separate-time {
    margin-bottom: $space-double;
  }
  .field-service-time-and-location-values > tbody > tr > .table__cell {
    margin-bottom: $space;
  }

  .field-service-time-and-location-values > tbody > tr > .table__cell > div > div > div > .paragraphs-dropbutton-wrapper,
  .field-service-time-and-location-values > tbody > tr > .table__cell > .ajax-new-content > div > div > div > .paragraphs-dropbutton-wrapper {
    > input {
      @include close-button;

      display: block;
      position: absolute;
      right: 24px;
      top: 24px;
      width: 20px;
      height: 20px;
      padding: 4px;
    }
  }

  .form-text,
  .select--white-rounded select,
  .form-number {
    background-color: clr(text-inverse);
  }
}

.field--name-field-service-languages,
.field--name-field-links {
  .paragraphs-subform {
    display: flex;
    order: 1;
    margin: 0;
  }
  .paragraph-type-top {
    order: 2;
    align-items: end;
  }
  .paragraphs-dropbutton-wrapper {
    line-height: 32px;
    input[data-drupal-selector*="top-links-remove-button"] {
      @include close-button;
      width: 16px;
      height: 16px;
      padding: 0;
      line-height: 30px;
    }

    input[data-drupal-selector*="subform-field-service-languages-add-more-add-more-button-service-language"] {
      width: 259px;
      height: 48px;
      font-size: $small-caption;
    }

    input[data-drupal-selector*="inline-entity-form-field-links-add-more-add-more-button-link"] {
      @include round-icon-button;
      background-image: url("/themes/custom/palvelumanuaali/images/icons/plus.svg");
    }
  }
}


.fieldset-internal-files-and-attachments,
.field--name-field-service-other-info,
.field--name-field-links-and-attachments {
  .field--name-field-internal-links,
  .field--name-field-link {
    margin-bottom: $space-double;
    .table__cell > input,
    .table__cell >.ajax-new-content > input {
      @include close-button;

      display: block;
      height: 48px;
      width: 36px;
      background-size: 16px;
      margin-top: auto;
    }
  }
  .field--type-file {
    > .form-wrapper > .form-wrapper {
      padding: 0;
    }

  }

}

.details-file-field {
  list-style: none;
  display: flex;
  flex-direction: column;
  td:first-child {
    width: 80%;
  }
  summary {
    margin-bottom: $space-one-half;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
  }
  >.form-wrapper {
  }
  >.table{
  }
    fieldset {
      legend,
      legend > span {
        font-size: $small-font;
      }
    }


}

.field--name-field-client-consent {
  label.option {
    width: unset;
  }
}

.field--name-field-internal-files,
.field--name-field-file {
  > .field__items{
    .file,
    a {
      display: block;
      width: 100%;
    }
    .field__item {
      display: block;
      position: relative;
      background-color: clr(background);
      border-radius: 8px;
      &:hover {
        background-color: clr(background-border);
      }
    }
    a {
      border-radius: 8px;
      color: clr(text);
      text-decoration: none;
      font-size: 14px;
      padding: $space 0 $space $space-three-and-half;
      margin-bottom: $space-one-half;
      position: relative;
      z-index: 200;
    }
  }
}


.basic-page .field--name-field-internal-files,
.basic-page .field--name-field-file {
  .field__item {
    background-color: clr(text-inverse);
  }
}
