.field--widget-hel-tpm-editorial-paragraphs-custom {

  tbody tr {
    td {
      margin-bottom: 0.5em;
      padding: 10px;
      box-shadow: inset 0px 0px 0px 2px clr(form-border);
      box-sizing: border-box;
      background-color: $blue05;
      border-radius: 8px;
    }
  }
  .paragraph-top-custom {
    .paragraphs-icon-button-edit {
      padding: 8px 10px;
    }
     input.button--small {
     }
     .paragraph-summary {
       @include medium {
         grid-column: 1/4;
       }
     }
    input[value="Remove"] {
      background-image: url('/themes/custom/palvelumanuaali/images/icons/trash-1.svg');
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      color: transparent;
      padding: 0;
      height: 24px;
      width: 24px;
      margin-left: 24px;
    }
  }
  .paragraphs-collapsed-description {
    &::after {
      background: unset;
    }
  }
}
