/* Create a mixin for paragraph styles that can be implemented
 * in components with other classnames.
*/
@mixin paragraph($margin: 0 0 1em) {
  margin: $margin;
}

.paragraph {
  @include paragraph;
}

.blockquote {
  font-style: italic;
  border-left: solid 3px clr(accent);
  margin-left: 1em;
  padding-left: 1em;
}

.hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: currentColor;
}

/* TODO: BEM selectors should be applied to wysiwyg-created content */

.text-long {
  p {
    @extend .paragraph;
  }

  blockquote {
    @extend .blockquote;
  }

  hr {
    @extend .hr;
  }
}

.no-spacing {
  letter-spacing: 0;
}

.black-font {
  color: clr(text);
}

.small-font {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  @include xl-zoom {
    font-size: $small-caption;
    line-height: 24px;
    font-weight: 400;
  }
}

.wb {
  &--bw-mb {
    @media only screen and (max-width: $large) {
      word-break: break-word;
    }
  }
}

.text-align-center {
  text-align: center;
}

.small-uppercase-card-caption {
  font-size: 10px;
  color: clr(alt-header-color);
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 300% */
  letter-spacing: 1px;
  text-transform: uppercase;
  @include xl {
    font-size: 12px;
  }
}

.card-heading {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px; /* 166.667% */
  letter-spacing: 0.12px;
  color: clr(text);
  @include xl-zoom {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: normal;
  }
}

.font-small-caption {
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 177.778% */
  letter-spacing: 1px;
  text-transform: uppercase;
  @include large {
    /* Desktop/Small Caption */
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 200% */
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.font-primary-blue {
  color: clr(alt-header-color);
}

.font-primary-black {
  color: clr(text);
}

.font-weight-bold {
  font-weight: 600;
}

.text-small {
  font-size: 14px;
  line-height: 22px;
  span {
    font-size: 14px;
    line-height: 22px;
  }
  @include xl-zoom {
    line-height: 24px;
    span {
      line-height: 24px;
    }
  }
}
.text-normal {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  span {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
  }
  @include xl-zoom {
    font-weight: 500;
    span {
      font-weight: 500;
    }
  }
}
.text-large {
  font-size: 15px;
  line-height: 28px;
  span {
    font-size: 15px;
    line-height: 28px;
  }
  @include large {
    font-size: 18px;
    line-height: 32px;
    span {
      font-size: 18px;
      line-height: 32px;
    }
  }
}

.blue-info-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1%;
  color: clr(footer-color);
}

.blue-info-text-small {
  @extend .font-size--tiny;
  @extend .font-weight--bold--dsk;
  @extend .font-spacing--one-desktop;
  @extend .font-color--dark-blue;
}

