.form-item--checkboxes,
.form-item--checkbox__item {
  @include list-reset;
}

.form-item-checkbox {
  display: flex;
  align-items: center;
  input {
    margin-right: $space-one-half;
    width: 16px;
    height: 16px;
  }
  label {
    max-width: 30ch;
    word-break: break-word;
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }
}


.form-item--checkboxes {
  display: flex;
  flex-wrap: wrap;
  .form-item-checkbox {
    @include large {
      margin-right: $space;
    }
    @include xl {
      margin-right: $space-one-and-half;
    }
  }
}
