// Color variables - it is better to use the colors in
// components/00-base/01-colors/_01-colors-used.scss rather than
// these colors directly.

// Grayscale
$white: white;
$near-white: #f2f2f2;
$gray-lightest: #e5e5e5;
$gray-lighter: #ccc;
$gray-light: #ABABAB;
$gray: #636363;
$gray-dark: #4c4c4c;
$gray-darker: #333;
$black: #212121;

// Status
$yellow-light: #F1AB24;
$red-light: #E44B2A;
$green-light: #6BC921;

// Project
$purple: #610c63;
$blue: #005de0;

$blue10: #EDF1FA;
$blue20: #E7EDFD;
$blue40: #AFCEFD;
$blue80: #7198FF;
$blue100: #325DF4;
$blue130: #1E40B6;
$blue150: #13276F;
