.ief-popup-wrapper {
  .form-wrapper {
    flex-wrap: nowrap !important;
  }

  .form-select  {
      background: clr(background-dropdown);
      box-shadow: inset 0px 0px 0px 2px clr(form-border);
      box-sizing: border-box;
      border: 0;
      border-radius: 8px;
      font-size: 14px;
      line-height: 24px;
      height: 48px;
      padding: 12px 16px 12px 16px;

      width: 100%;
      color: clr(text);
      &:focus {
        border-color: clr(accent-high);
      }

      &::placeholder {
        color: clr(gray);
      }

  }

  >.form-wrapper {
    @include xl {
      max-width: 40%;
    }
    @include xxl {
      max-width: 650px;
    }
  }

  .ui-dialog-titlebar {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 0;

    padding: $space-one-and-half 29px 0 $space-one-and-half;

    background-color: clr(text-inverse);

  }

  .form-item {
    margin-bottom: $space-double;
    &-checkbox {
      margin-bottom: $space-two-and-half;
    }
  }

  .field--name-status {
    .form-item {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .field--name-field-municipality {
    .form-item {
      margin-bottom: 0;
    }
  }

  .ui-dialog-content {
    border-radius: 0;

    padding: $space-two-and-half $space-three-and-half $space-two-and-half  $space-one-and-half !important;

  }

  .ief-popup-actions {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: 0;

    padding: 0 $space-one-and-half $space-one-and-half $space-one-and-half;

    background-color: clr(text-inverse);

    display: flex;
    justify-content: space-between;

    input {
      margin: 0;
    }

    .ief-popup-cancel {
      order: 1;
      @include button-medium;
      @include button-no-color;
      @include button-round-corners;
      border: 2px solid $blue100;
    }

    .ief-entity-submit{
      order: 2;
      @include button-round-corners;
    }
  }



}
