.field-group {
  &--border-bottom {
    padding-bottom: $space-double;
    border-bottom: 1px solid $blue20;
  }

  &--margin-bottom-three-half {
    margin-bottom: $space-three-and-half;
  }
}

.group-border {
  border-bottom: 1px solid clr(alt-header-color);
  margin-bottom: $space-double;
  padding-bottom: $space-double;
}

.group-left {
  margin-bottom: $space-double;
  @include xl {
    width: 350px;
    float:left;
  }
  @include xxl {
    width: 400px;
  }
  + .group-right {
    @include xl {
      margin-left: unset;
    }
    @include xxl {
      margin-left: unset;
    }
  }
}
.group-right {
  margin-bottom: $space-double;
  order: 3;
  @include xl {
    width: calc(100% - 382px);
    float: right;
  }
  @include xxl {
    width: calc(100% - 432px);
  }
}


.group-label.margin-right-full {
  @include xl {
    margin-right: calc(100% - 382px);
  }
  @include xxl {
    margin-right: calc(100% - 432px);
  }
}

.group-label.width--service-group-header {
  @include xl {
    width: 350px;
    float: left;
    margin-top: -9px;
  }
  @include xxl {
    width: 400px;
  }
}

.service-group {
  @extend .m-hght--service-grp;
  display: flex;
  flex-direction: column;
  width: 100%;
  @include xl {
    display: inline-block;
  }
}
