/* Menu media */
$main-menu-medium: $medium;

.sidebar-main-nav {
  position: unset;
  @include large {
    position: relative;
  }
}
/* Nav */
.main-nav {
  // display: none;
  @include large {
    display: block;
  }

  &--open {
    display: block;
    left: 0;
    overflow-y: scroll;
    top: 134px;
    right: 0;
    width: 100%;
    margin-bottom: $space-double;
  }
}

/* UL */
.main-menu {
  @include list-reset;

  position: relative;
  z-index: $zi-main-menu;

  @include medium {
    border-bottom: none;
  }
}

/*
 * Sub Navigation
 */

/* UL (Nested) */
.main-menu--sub {
  border-bottom: none;
  width: 100%;

  /* See main-menu.js */
  &-open {
    height: auto;
  }
  &--nested {
    height: 0;
    overflow: hidden;
    @include medium {
      background-color: clr(highlight-high);
      display: none;
      height: auto;
      left: 0;
      overflow: visible;
      padding: $space 0;
      position: absolute;
      top: 55px;
      width: 315px;
      z-index: $zi-above-content;
      font-size: 0.9rem;
      opacity: 0.6;
    }
    &:hover {
      @include medium {
        opacity: 1;
        background-color: clr(accent-high);
        transition: all 0.2s;

        .main-menu__link--sub {
          color: clr(highlight);

          &.active,
          &:active,
          &:hover {
            color: clr(background);
            background-color: clr(accent-high);
          }
        }
      }
    }
  }
}

.main-menu--sub-2 {
  @include medium {
    display: none; /* Never shown on large screens */
  }
}
