/* LI */
.main-menu__item {
  display: flex;
  flex-wrap: wrap;
  @include medium {
    border-top: none;

    /* Only top level */
    &:not(.main-menu__item--sub):hover {
      transition: all 0.2s;
    }
  }


  &--nested {
    border-top: 1px solid;
    &:hover {
      .main-menu__link::after {
        color: clr(text);
      }
    }
  }

}

/* Expand Button */
.expand-sub {
  @include medium {
    display: none;
  }
}

/*
 * Sub Navigation
 */

/* LI (Nested) */
.main-menu__item--sub {

  &--nested {
    @include medium {
      display: block;

      &:not(:first-child) {
        border-top: 1px solid clr(highlight);
      }
    }
  }
}

.main-menu > .main-menu__item {
  >.main-menu--sub {
    @include xl {
      display: none;
    }
  }
  &--active {
    >.main-menu--sub {
      @include xl {
        display: flex;
      }
      > li:first-child {
        @include xl {
          margin-left: 240px;
        }
      }
    }
  }
}
