/* LI */
.main-menu__item {
  display: flex;
  flex-wrap: wrap;
  @include medium {
    border-top: none;

    /* Only top level */
    &:not(.main-menu__item--sub):hover {
      transition: all 0.2s;

      & > .main-menu--sub {
        // display: block;
      }
    }
  }


  &--nested {
    border-top: 1px solid;
    &:hover {
      .main-menu__link::after {
        color: clr(text);
      }
    }
  }

}

/* Expand Button */
.expand-sub {
  @include medium {
    display: none;
  }
}

/*
 * Sub Navigation
 */

/* LI (Nested) */
.main-menu__item--sub {

  &--nested {
    @include medium {
      display: block;

      &:not(:first-child) {
        border-top: 1px solid clr(highlight);
      }
    }
  }
}
