.main-nav--open {
  @media only screen and (max-width: $large) {
    padding-top: $space-double;
  }
}
.main-menu {

  >.main-menu__item--with-sub {
    padding-bottom: 20px;
    @include large {
      padding-bottom: $space-one-and-half;
      &:last-child {
        padding-bottom: 0;

      }
    }
    @include xxl {

    }
  }
}

/* A */
.main-menu__link {
  color: clr(background-section);
  display: block;
  padding: 0 $space-triple $space-one-and-half $space-three-and-half;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  line-height: 16px;
  letter-spacing: 1px;

  &--with-sub {
    width: 80%;
  }

  @include large {
    border-bottom: none;
    display: inline-block;
    padding: 0 $space 12px $space-one-and-half;
    position: relative;
    width: auto;
    font-size: 10px;
    line-height: 20px;
    &--sub::after {
      display: none;
    }
  }
  @include xxl {
    padding: 0 $space 36px $space-double;
    font-size: 12px;
    line-height: 24px;
  }
}

/*
 * Sub Navigation Links
 */

/* A (Nested) */
.main-menu__link--sub {
  color: clr(accent);
  padding-left: $space-triple;
  padding-bottom: 20px;
  margin-left: $space-double;
  text-transform: unset;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: unset;
  @include large {
    display: block;
    padding: 0 $space-one-third 12px $space-one-and-half;
    margin-left: $space-one-and-half;
  }
  @include xxl {
    padding: 0 $space-one-third $space-one-and-half $space-one-and-half;
    margin-left: $space-double;
    font-size: 15px;
    line-height: 24px;
  }
}

.main-menu--sub-2 {

}

.main-menu__link--sub-2 {
  padding-left: $space-quadruple;
}
