.main-nav {
  &--open {
    @media only screen and (max-width: $large) {
      padding-top: $space-double;
    }
  }
}
.main-menu {
  >.main-menu__item--with-sub {
    padding-bottom: 20px;
    @include large {
      padding-bottom: $space-one-and-half;
      &:last-child {
        padding-bottom: 0;

      }
    }
  }
}

/* A */
.main-menu__link {
  color: clr(footer-color);
  display: block;
  padding: 0 $space-triple $space $space-one-and-half;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 200% */
  letter-spacing: 1px;
  text-transform: uppercase;

  &--with-sub {
    width: 80%;
    font-size: $small-font;
    text-transform: uppercase;
  }

  @include large {
    border-bottom: none;
    display: inline-block;
    padding: 0 $space 12px $space-two-and-half;
    position: relative;
    width: auto;
    &--sub {
      line-height: 20px;
      &::after {
        display: none;
      }
    }
  }
  @include xxl {
    padding: 0 $space 36px $space-two-and-half;
    line-height: 24px;
  }
}

.main-menu__item--sub {
  &:hover, &:focus, &:focus-within {

  }
}

/*
 * Sub Navigation Links
 */

/* A (Nested) */
.main-menu__link--sub {
  color: clr(text);
  padding: $space-three-fourths $space-two-and-half;
  text-transform: unset;
  font-style: normal;
  font-weight: 600;
  letter-spacing: unset;
  width: calc(100% + 2rem);
  margin-left: -16px;
  &:focus, &:hover {
    color: clr(alt-header-color);
    background-color: clr(background-dropdown);
    background-image: url('/themes/custom/palvelumanuaali/images/icons/arrow-right-2.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 24px) center;
  }
  @include large {
    display: block;
    padding: $space-three-fourths $space-double $space-three-fourths $space-two-and-half;
    margin-left: 0;
  }
}

.main-menu__link--sub-2 {
  padding-left: $space-quadruple;
}
