

.main-nav {
  &--open {
    @media only screen and (max-width: $xl) {
      padding-top: $space-quadruple;
    }
  }
}
.main-menu {
  >.main-menu__item--with-sub {
    padding-bottom: 20px;
    @include large {
      padding-bottom: 0;
      &:last-child {
        padding-bottom: 0;

      }
    }
  }
}

/* A */
.main-menu__link {
  color: clr(footer-color);
  display: block;
  padding: 0 $space-triple $space $space-one-and-half;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 200% */
  letter-spacing: 1px;
  text-transform: uppercase;
  @extend .header-text-dsk;
  &--with-sub {
    width: 80%;
    text-transform: uppercase;
  }
  &--active {
    @include xl {
      text-decoration-line: underline;
      text-decoration-color: $blue100;
      text-decoration-thickness: 4px;
      text-underline-offset: 5px;
    }
  }

  @include xl {
    border-bottom: none;
    display: inline-block;
    padding: 30px $space 30px $space-two-and-half;
    width: auto;
    &:hover {
      text-decoration-line: underline;
      text-decoration-color: $blue100;
      text-decoration-thickness: 4px;
      text-underline-offset: 5px;
    }
    &--sub {
      line-height: 20px;
      &::after {
        display: none;
      }
    }
    &--with-sub {
      font-size: $small-font;
    }
  }
  @include xxl {
    line-height: 24px;
  }
}

.main-menu__item--sub {
  &:hover, &:focus, &:focus-within {

  }
}

/*
 * Sub Navigation Links
 */

/* A (Nested) */
.main-menu__link--sub {
  color: clr(text);
  padding: $space-three-fourths $space-two-and-half;
  text-transform: unset;
  font-style: normal;
  font-weight: 600;
  letter-spacing: unset;
  width: calc(100% + 2rem);
  margin-left: -16px;
  @extend .header-text-dsk;
  &:focus, &:hover {
    color: clr(alt-header-color);
    background-color: clr(background-dropdown);
    background-image: url('../../assets/images/icons/arrow-right-2.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 24px) center;
  }
  @include large {
    width: auto;
    display: block;
    padding: $space-double $space-double $space-double $space-two-and-half;
    margin-left: 0;
    &:focus, &:hover {
      color: clr(alt-header-color);
      background-color: clr(background-dropdown);
      background-image: unset;
      background-repeat: no-repeat;
      background-position: calc(100% - 24px) center;
    }
  }
}

.main-menu__link--sub-2 {
  padding-left: $space-quadruple;
}
.header-text-dsk {
  @include large {
    text-transform: unset;
    font-style: normal;
    font-weight: 600;
    letter-spacing: unset;
    font-size: 15px;
    color: clr(text);
  }
}
