/* A */
.main-menu__link {
  color: clr(background-section);
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  padding: $space $space-triple $space $space-double;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;


  &--with-sub {
    width: 80%;
  }

  @include medium {
    border-bottom: none;
    display: inline-block;
    padding: $space;
    position: relative;
    width: auto;

    &--sub::after {
      display: none;
    }
  }
}

/*
 * Sub Navigation Links
 */

/* A (Nested) */
.main-menu__link--sub {
  color: clr(accent);
  padding-left: $space-triple;
  text-transform: unset;
  @include medium {
    display: block;
    padding: $space-one-third $space;
    margin-left: $space-one-and-half;
  }
}

.main-menu--sub-2 {

}

.main-menu__link--sub-2 {
  padding-left: $space-quadruple;
}
