/* Toggle */
.toolbar-vertical {
  .toggle-expand {
    top: 55px;
  }
}

.toggle-expand {
  @include link;

  @include xl {
    display: none;
  }
  position: absolute;
  top: 15px;
  margin-left: $space;
  display: inline-block;
  padding: $space;
  text-decoration: none;
}

.toggle-expand__text {
  display: block;
  font-size: 0.9rem;
  font-weight: bold;

  .toggle-expand--open & {
    color: clr(background);
  }
}

/* SVG icon */
.toggle-expand__icon {
  height: 24px;
  width: 24px;
  margin: 0 auto;
}

.toggle-expand-close__icon {
  height: 24px;
  width: 24px;
  margin: 0 auto;
}



.toggle-expand__open {
  display: grid;
  text-align: center;
  height: 24px;
  .toggle-expand--open & {
    display: none;
  }
}

.toggle-expand__close {
  display: none;
  text-align: center;

  .toggle-expand--open & {
    display: grid;
  }
}
