{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - content: The content of this block.
 *
 * @see template_preprocess_block()
 */
#}

<h1 class="h2 margin-bottom-half page-header" aria-label="{{ "Search for services suitable for you"|t }}">
  {{"Search for services suitable for you"|t}}
</h1>
