.clipboard-status {
  position: absolute;
  z-index: 999;
  left: 50%;
  padding: 1.5rem 3rem;
  background-color: #F7F9FD;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px #1E40B633;
  margin-bottom: 2rem;
  opacity: 0;
}
