/*
 * General Layout
*/

$gutter: $space;
$main-gutter: $space-septuple;

$main-width-large: calc(100% - (#{$sidebar-md-width} ));
$main-content-width: calc(100% - (#{$sidebar-md-width} + #{$main-gutter} * 2 ));

$main-width-xl: calc(100% - (#{$sidebar-width} ));
$main-content-width-xl: calc(100% - (#{$sidebar-width} + #{$main-gutter} * 2 ));

body {
  height: 100%;
}

.dialog-off-canvas-main-canvas {
  height: 100%;
}

.layout-container {
  position: relative;
  @include large {
    position: inherit;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

/*
 * Layout Using Flexbox (IE11+).
 * Remove this and uncomment Grid code below to use CSS Grid.
*/
.layout-column {
  // margin-left: $space;
  // margin-right: $space;
  min-height: 100%;
  width: 100%;
  min-height: 100vh;
}

.node-service-edit-form .right-column {
  margin-left: 0;
  margin-right: 0;
  @include large {
    margin-left: 0;
    margin-right: 0;
  }
}


.search-page {
  .main {
    margin-bottom: 5em;
    @include xxl {
      margin: auto;
    }
  }
}

.main {
  display: block;
  position: relative;
  padding: 0;
  margin-bottom: 10em;
  @media only screen and (max-width: $large) {
    margin-top: 0 !important;
    margin-left: $space;
    margin-right: $space;
  }

  @include xs {
    padding: 0;
  }

  @include large {
    padding-top: $space-triple;
    margin-right: $space-quadruple;
    margin-left: $space-quadruple;
  }
  @include xl {
    margin: auto;
  }
}

.main-sidebar {
  @include large {
    background-color: clr(sidebar-color);
    height: 100vh;
    top: 0;
    position: sticky;
    order: 1;
    width: $sidebar-md-width;
    margin-bottom: 0;
    border-top-right-radius: 47px;
  }
  @include xxl {
    width: $sidebar-width;
  }
}

.main-content {
  .block--main-block {
    margin-top: $space-double;
  }
  @include large {
    order: 2;
    &--with-sidebar {
      .region-content {
        #block-system-main-block {
          max-width: 1464px;
        }
      }
    }
  }
  @include xl {
    &--with-sidebar {
      .region-content {
        margin-right: $space-quadruple;
        margin-left: $space-quadruple;
      }
    }
  }

  @include xxl {
    &--with-sidebar {
        .region-content {
          margin:auto;
           #block-system-main-block {
             margin: auto;
           }
        }
      }
    }
}

/* User edit page. */
.user-edit {
  .main-content {
    @include xxl {
      &--with-sidebar {
        .region-content {
          #block-system-main-block {
            margin-left: 0;
          }
        }
      }
    }
  }
}


.taxonomy-view-page,
.edit-create-form {
  .main-content {

    @include xl {
      &--with-sidebar {
        .region-content {
          margin-right: $space-double;
          margin-left: $space-double;
        }
      }
    }
    @media (min-width:1640px) {
      &--with-sidebar {
        .region-content {
          margin-right: $space-quadruple;
          margin-left: $space-quadruple;
        }
      }
    }
    @include xxl {
      &--with-sidebar {
          .region-content {
            margin:auto;
             #block-system-main-block {
               margin: auto;
             }
          }
        }
      }
  }
}

.date {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: clr(alt-header-color);
  margin-bottom: $space;
}
