/*
 * General Layout
*/

$gutter: $space;
$main-gutter: $space-septuple;
$main-width: calc(100% - (#{$sidebar-width} ));
$main-content-width: calc(100% - (#{$sidebar-width} + #{$main-gutter} *2 ));

.layout-container {
  @include large {
    display: flex;
    flex-wrap: wrap;
  }
}

/*
 * Layout Using Flexbox (IE11+).
 * Remove this and uncomment Grid code below to use CSS Grid.
*/
.right-column {
  margin-left: $space;
  margin-right: $space;
  @include large {
    margin-left: 0;
    margin-right: 0;
    order: 2;
    width: $main-width;
  }
}
.main {
  @include wrapper;

  padding: 0;
  margin-bottom: 4em;

  @include xs {
    padding: 0;
  }

  @include large {
    display: flex;
  }
}

.main-sidebar {
  display: flex;
  flex-direction: column;
  margin-bottom: $space-double;
  background-color: clr(sidebar-color);
  @include large {
    order: 1;
    width: $sidebar-width;
    margin-bottom: 0;
    border-top-right-radius: 47px;
  }
}

.main-content {
  width: 100%;


  @include large {
    order: 2;
    &--with-sidebar {
      margin-right: $space-quadruple;
      margin-left: $space-quadruple;
      width: 100%;
    }
  }

  @include grid-xl {
    &--with-sidebar {
      margin-right: $main-gutter;
      margin-left: $main-gutter;
    }
  }
}

.date {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: clr(alt-header-color);
  margin-bottom: $space;
}

/*
 * Layout Using CSS Grid (NO IE11 support)
 * Remove Flexbox code above and uncomment this section to use CSS Grid.
*/

/* .main {
  @include wrapper;

  margin-bottom: 4em;

  &--with-sidebar {
    @include large {
      display: grid;
      grid-gap: $gutter;
      grid-template-areas: "content sidebar";
      grid-template-columns: $main-width #{$sidebar-width};
    }
  }
}

.main-sidebar {
  grid-area: sidebar;
  margin-bottom: $space-double;
}

.main-content {
  grid-area: content;
  width: 100%;
} */
