{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - content: The content of this block.
 *
 * @see template_preprocess_block()
 */
#}

<div class='nav page-controls'>
  <div class='button-wrapper'>
    <button class='button btn-prev' type="button" id="prevBtn">
      {% include "@atoms/images/icons/_icon.twig" with {
        icon_base_class: 'icon',
        icon_name: 'arrow-left',
        icon_modifiers: ['small'],
      } %}
      {{'Previous'|t}}
    </button>
    <button class='button btn-next' type="button" id="nextBtn">
      <span id="nextBtnText" class='text-wrapper'>{{'Next'|t}}</span>
      {% include "@atoms/images/icons/_icon.twig" with {
        icon_base_class: 'icon',
        icon_name: 'arrow-right',
        icon_modifiers: ['small'],
      } %}
    </button>
  </div>
</div>
