html {
  box-sizing: border-box;
}

body {
  background-color: clr(background);
  color: clr(text);

  @include body-copy;
  &.no-scroll {
    overflow: hidden;
    height: 100%;
    margin: 0;
    @include large {
      overflow: inherit;
      height: inherit;
      margin: inherit;
    }
  }
}

.main {
  display: block; /* Fix for IE weirdness */
  max-width: $content-max-width;
  min-height: calc(100vh - 400px);
  @include medium {
    min-height: calc(100vh - 75px);
  }
  @include large {
    min-height: calc(100vh - 150px);
  }
  .main-content {
    @include make-col();
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.hide {
  &-mobile {
    display: none;
    @include large {
      display: block;
    }
  }
  &-desktop {
    display: block;
    @include large {
      display: none;
    }
  }
  //desktop-extra-large
  &-dxl {
    @include xl {
      display: none;
    }
  }
  //tablet
  &-tblt {
    @media only screen and (max-width: $xl) {
      display: none;
    }
  }
}



.hide-lg {
  @include large {
    display: none;
  }
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}




.content-column ol,
article ol, {
  counter-reset: my-awesome-counter;
  list-style: none;
  margin-bottom: $space-one-and-half;
}

.content-column ol >li,
article ol >li {
  counter-increment: my-awesome-counter;
  position: relative;
  padding-left: $space-two-and-half;
  margin-bottom: $space-one-and-half;
}

.content-column ol li::before,
article ol li::before {
  content: counter(my-awesome-counter);
  color: clr(text-inverse);
  font-size: 1rem;
  position: absolute;

  --size: 32px;

  left: -18px;
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  background: clr(background-section);
  border-radius: 50%;
  text-align: center;
}


.content-column ul,
article ul {
  margin-bottom: $space-one-and-half;
 >li {
   margin-bottom: $space-one-and-half;
   padding-left: $space-one-and-half;
   position: relative;
   &::before {
     color: $blue130;
     content: "";
     width: 8px;
     height: 8px;
     display: block;
     background: $blue130;
     border-radius: 54%;
     position: absolute;
     left: -15px;
     top: 10px;
     text-align: center;
   }
 }
}


.field__label--flex {
  display: flex;
  flex-wrap: wrap;
}

.right-column,
.layout-column {
  @include large {
    position: relative;
  }
}

.placeholder {
  background-color: transparent;
  opacity: 1;
}

.display-inline-flex {
  display: inline-flex;
}

.display {
  &--grid {
    display: grid;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.margin-bottom-one-space {
  margin-bottom: $space;
}

.margin-bottom-double-space {
  margin-bottom: $space-double;
}

.margin-bottom-triple-space {
  margin-bottom: $space-double;
  @include xl {
    margin-bottom: $space-triple;
  }
}

.margin-bottom-quadruple-space {
  margin-bottom: $space-double;
  @include xl {
    margin-bottom: $space-quadruple;
  }
}

.margin-bottom-quintuple-space {
  margin-bottom: $space-double;
  @include xl {
    margin-bottom: $space-quintuple;
  }
}

.add-gap-3 {
  gap: 3px;
}

//Boxsizing
.bs {
  &--bb{
    box-sizing: border-box;
  }
}

//Width
.width {
  &--full {
    width: 100%;
  }
  &--min-content {
    width: min-content;
  }
}

//Border-color
.border-color {
  &--light-blue {
    border-color: clr(light-border);
  }
  &--hover-blue {
    &:hover {
      border-color: clr(background-section);
    }
  }
}

//Border-width
.border-width {
  &--two {
    border-width: 2px;
  }
}

//Border-radius
.border-radius {
  &--eight {
    border-radius: 8px;
  }
}

//Border-style
.border-style {
  &--solid {
    border-style: solid;
  }
}

//Background-color
.background-color {
  &--offwhite-blue {
    background-color: clr(background-dropdown);
  }
  &--transparent {
    background-color: transparent;
  }
  &--white {
    background-color: clr(text-inverse);
  }
}

//Padding
.padding {
  &--space-space-double {
    padding: $space $space-double;
  }
  &--right-left-space-double {
    padding-right: $space-double;
    padding-left: $space-double;
  }
  &--right-quadruple {
    padding-right: $space-quadruple;
  }
  &--view-summary {
    padding: $space-one-half 12px;
  }
}

//Margin
.margin {
  &--left-right-auto {
    margin-left: auto;
    margin-right: auto;
  }
  &--bottom-zero {
    margin-bottom: 0!important;
  }
  &--bottom-two-and-half {
    margin-bottom: $space-two-and-half;
  }
  &--top-one-space {
    margin-top: $space;
  }
  &--top-two-half,
  &--top-two-and-half {
    margin-top: $space-two-and-half;
  }
  &--right-one-space {
    margin-right: $space;
  }
  &--right-two {
    margin-right: $space-double
  }
  &--right-one-and-half {
    margin-right: $space-one-and-half;
  }
  &--mobile-only {
    &--bottom-one-and-half {
      margin-bottom: $space-one-and-half;
      @include large {
        margin-bottom: 0;
      }
    }
    &--bottom-fourteen {
      margin-bottom: 14px;
      @include large {
        margin-bottom: 0;
      }
    }
    &--top-one-space {
      margin-top: 6px;
      @include large {
        margin-top: 0;
      }
    }
  }
  &--desktop {
    &--top-three-fourths {
      @include large {
        margin-top: $space-three-fourths;
      }
    }
  }
  //desktop-extra-large
  &--dxl {
    //left-right-auto
    &--lra {
      @include xl {
        margin-left: auto;
        margin-right: auto;
      }
    }
    //right-auto
    &--ra {
      @include xl {
        margin-right: auto;
      }
    }
  }
}

//Font
.font-size {
  &--default {
    font-size: 16px;
    line-height: 24px;
  }
  &--small {
    font-size: 14px;
    line-height: 24px;
  }
  &--h4 {
    font-size: 24px;
    line-height: 32px;
  }
  &--select-label {
    font-size: 15px;
    font-style: normal;
  }
}

.font-weight {
  &--bold {
    font-weight: 600;
  }
  &--normal {
    font-weight: 400;
  }
}

.font-color {
  &--blue {
    color:clr(alt-header-color);
  }
  &--not-collapsed-blue {
    &:not(.collapsed) {
      color:clr(alt-header-color);
    }
  }
  &--light-blue {
    color:clr(background-section);
  }
}

.font-spacing {
  &--spaced {
    letter-spacing: 0.16px;
  }
}

//Position
.position {
  &--relative {
    position: relative;
  }
  &--absolute {
    position: absolute;
  }
  &--right-zero {
    right: 0;
  }
  &--d {
    &--unst {
      @include large {
        position: unset;
      }
    }
  }
}

//Display
.d {
  &--inline-block {
    display: inline-block;
  }
  &--inline {
    display: inline;
  }
  &--block {
    display: block;
  }
  &--flex {
    display: flex;
    &--dsk {
      @include xl {
        display: flex;
      }
    }
  }
}

//Justify
.justify{
  &--space-between {
    justify-content: space-between;
  }
}

//Align Content
.align-content {
  &--end {
    align-content: end;
  }
}

//Break-word
.add {
  &--break-word {
    word-break: Break-word;
    overflow-wrap: Break-word;
  }
  &--hyphen {
    hyphens: auto;
  }
}


//Grid

.grid {
  &--list-style-none {
    list-style: none;
  }
  &--3 {
    grid-template-columns: minmax(0,1fr);
    @include medium {
      grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    }
    @include xl {
      grid-template-columns: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr);
    }
  }
  &--row-gap-24 {
    row-gap: 24px;
  }
  &--column-gap-24 {
    column-gap: 24px;
  }
  &--row-2 {
    grid-row: 2;
  }
  &--row-2-4 {
    grid-row: 2/4;
  }
}


.child-div--spaced {
  >div {
    margin-bottom: $space-one-and-half;
  }
}

.fd--no-border {
  .form-item__dropdown {
    border: unset;
  }
}

.overflow {
  &--mobile-scroll {
    overflow: scroll;
    @include large {
      overflow: auto;
    }
  }
}

//text-align
.ta {
  &--center {
      text-align: center;
  }
}

//z-index
.zi {
  &--high {
    z-index: 10;
  }
}
