html {
  box-sizing: border-box;
}

body {
  background-color: clr(background);
  color: clr(text);

  @include body-copy;
}

.main {
  display: block; /* Fix for IE weirdness */
  max-width: $content-max-width;
  .main-content {
    @include make-col();
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.hide-mobile {
  display: none;
  @include large {
    display: block;
  }
}

.hide-lg {
  @include large {
    display: none;
  }
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}




.content-column ol,
article ol, {
  counter-reset: my-awesome-counter;
  list-style: none;
  margin-bottom: $space-one-and-half;
}

.content-column ol >li,
article ol >li {
  counter-increment: my-awesome-counter;
  position: relative;
  padding-left: $space-two-and-half;
  margin-bottom: $space-one-and-half;
}

.content-column ol li::before,
article ol li::before {
  content: counter(my-awesome-counter);
  color: clr(text-inverse);
  font-size: 1rem;
  position: absolute;

  --size: 32px;

  left: -18px;
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  background: clr(background-section);
  border-radius: 50%;
  text-align: center;
}


.content-column ul,
article ul {
  margin-bottom: $space-one-and-half;
 >li {
   margin-bottom: $space-one-and-half;
   padding-left: $space-one-and-half;
   position: relative;
   &::before {
     color: $blue130;
     content: "";
     width: 8px;
     height: 8px;
     display: block;
     background: $blue130;
     border-radius: 54%;
     position: absolute;
     z-index: 100;
     left: -15px;
     top: 10px;
     text-align: center;
   }
 }
}


.field__label--flex {
  display: flex;
  flex-wrap: wrap;
}

.right-column {
  @include large {
    position: relative;
  }
}

footer.footer{
  @include large {
    position:  absolute;
    bottom: 0;
  }
}

.placeholder {
  background-color: transparent;
  opacity: 1;
}

.display-inline-flex {
  display: inline-flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.margin-bottom-one-space {
  margin-bottom: $space;
}

.margin-bottom-double-space {
  margin-bottom: $space-double;
}

.margin-bottom-triple-space {
  margin-bottom: $space-double;
  @include xl {
    margin-bottom: $space-triple;
  }
}

.margin-bottom-quadruple-space {
  margin-bottom: $space-double;
  @include xl {
    margin-bottom: $space-quadruple;
  }
}

.margin-bottom-quintuple-space {
  margin-bottom: $space-double;
  @include xl {
    margin-bottom: $space-quintuple;
  }
}


.add-gap-3 {
  gap: 3px;
}

//Boxsizing
.bs {
  &--bb{
    box-sizing: border-box;
  }
}

//Width
.width {
  &--full {
    width: 100%;
  }
}

//Border-color
.border-color {
  &--light-blue {
    border-color: clr(light-border);
  }
  &--hover-blue {
    &:hover {
      border-color: clr(background-section);
    }
  }
}

//Border-width
.border-width {
  &--two {
    border-width: 2px;
  }
}

//Border-radius
.border-radius {
  &--eight {
    border-radius: 8px;
  }
}

//Border-style
.border-style {
  &--solid {
    border-style: solid;
  }
}

//Background-color
.background-color {
  &--offwhite-blue {
    background-color: clr(background-dropdown);
  }
  &--transparent {
    background-color: transparent;
  }
}

//Padding
.padding {
  &--space-space-double {
    padding: $space $space-double;
  }
  &--right-left-space-double {
    padding-right: $space-double;
    padding-left: $space-double;
  }
}

//Margin
.margin {
  &--bottom-zero {
    margin-bottom: 0!important;
  }
}

//Font
.font-size {
  &--default {
    font-size: 16px;
    line-height: 24px;
  }
  &--small {
    font-size: 14px;
    line-height: 24px;
  }
}

.font-weight {
  &--bold {
    font-weight: 600;
  }
  &--normal {
    font-weight: 400;
  }
}

.font-color {
  &--blue {
    color:clr(alt-header-color);
  }
  &--not-collapsed-blue {
    &:not(.collapsed) {
      color:clr(alt-header-color);
    }
  }
}

.font-spacing {
  &--spaced {
    letter-spacing: 0.16px;
  }
}


// Grid

.grid {
  &--row-2 {
    grid-row: 2;
  }
  &--row-2-4 {
    grid-row: 2/4;
  }
}

.child-div--spaced {
  >div {
    margin-bottom: $space-one-and-half;
  }
}

.fd--no-border {
  .form-item__dropdown {
    border: unset;
  }
}
