html {
  box-sizing: border-box;
}

body {
  background-color: clr(background);
  color: clr(text);

  @include body-copy;
}

.main {
  display: block; /* Fix for IE weirdness */
  max-width: $content-max-width;
  .main-content {
    @include make-col();
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.hide-mobile {
  display: none;
  @include large {
    display: block;
  }
}

.hide-lg {
  @include large {
    display: none;
  }
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}




.content-column ol,
article ol, {
  counter-reset: my-awesome-counter;
  list-style: none;
  margin-bottom: $space-one-and-half;
}

.content-column ol >li,
article ol >li {
  counter-increment: my-awesome-counter;
  position: relative;
  padding-left: $space-two-and-half;
  margin-bottom: $space-one-and-half;
}

.content-column ol li::before,
article ol li::before {
  content: counter(my-awesome-counter);
  color: clr(text-inverse);
  font-size: 1rem;
  position: absolute;

  --size: 32px;
  
  left: -18px;
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  background: clr(background-section);
  border-radius: 50%;
  text-align: center;
}


.content-column ul,
article ul {
  margin-bottom: $space-one-and-half;
 >li {
   margin-bottom: $space-one-and-half;
   padding-left: $space-one-and-half;
   position: relative;
   &::before {
     color: $blue130;
     content: "";
     width: 8px;
     height: 8px;
     display: block;
     background: $blue130;
     border-radius: 54%;
     position: absolute;
     z-index: 100;
     left: -15px;
     top: 10px;
     text-align: center;
   }
 }
}


.field__label--flex {
  display: flex;
  flex-wrap: wrap;
}

.right-column {
  @include large {
    position: relative;
  }
}

footer.footer{
  @include large {
    position:  absolute;
    bottom: 0;
  }
}

.placeholder {
  background-color: transparent;
  opacity: 1;
}
