
.cke {
  background: clr(background-dropdown);
  box-shadow: inset 0px 0px 0px 2px clr(form-border);
  box-sizing: border-box;
  border: 0;
  border-radius: 8px;
  font-size: 14px;
  line-height: 24px;
}
