@mixin grid {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  @include grid;

  &--card {
    @include space-stack-page;
  }
}

.image__icon {

  &--grid-icon {
    display: flex;
    align-items: center;
    margin-right: $space-one-and-half;
  }
}
