{% set sidebar__base_class = 'sidebar' %}
{# If `directory` is defined, set the path relative for Drupal.
 # Otherwise, set the path relative to the Component Library. #}
{% set sidebar__logo_src = directory ? '/' ~ directory ~ '/assets/images/logo.svg' : 'logo.svg' %}
{% set sidebar__logo_small_src = directory ? '/' ~ directory ~ '/assets/images/icons/logo-small.svg' : 'logo-small.svg' %}
<div {{ bem('branding', [], sidebar__base_class) }}>
  {% block sidebar__branding %}
    {% include "@organisms/site/site-sidebar/_site-sidebar-branding.twig" with {
      large: "yes",
    }%}
  {% endblock %}
</div>
