.pager {
  margin: 2em 0;
  width: 100%;
}

.pagination {
  width: 100%;
}

.pager__items {
  @include list-reset;

  text-align: center;
}

.pager__item {
  display: inline-block;
  margin: 0 0.7em;

  @include large {
    margin: 0 1em;
  }
}

.pager__link,
.pager__link:link,
.pager__link:visited {
  font-weight: 600;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  &.is-active,
  &:hover {
    color: clr(text-inverse);
    background-color: clr(background-section);
    border-radius: 4px;
  }
  &.pager__link--next,
  &.pager__link--prev {
    display: inline-block;
    width: unset;
    height: unset;
    padding-left: 8px;
    padding-right: 8px;
  }
}



.pager__item {
  &:first-child {
    margin-left: auto;
  }
  &:last-child {
    margin-right: auto;
  }

  &.pager__item--prev {
    margin-right: auto;
    margin-left: 0;
  }

  &.pager__item--next {
    margin-left: auto;
    margin-right: 0;
  }
}



.pager__link--next,
.pager__link--prev {
  display: block;

  &::before {
  }

  &:hover {
    &::before {
      border-left-color: clr(accent);
    }
  }
}

.pager__link--prev {
  &::before {
    border-left-color: transparent;
    border-right-color: clr(text);
  }

  &:hover {
    &::before {
      border-left-color: transparent;
      border-right-color: clr(accent);
    }
  }
}
