.hero-text__content {
  order: 1;
  &--half {
    @extend .col-lg-6;
  }
}

.hero-text__image {
  order: 2;

  &--one-third {
    @extend .col-lg-4;

    margin-left: auto;
    margin-right: auto;
  }
}

.hero-text__heading {

  @include heading-small();
  @include no-bottom;

  @include grid-large {
  @include heading-medium();
  }

  @include grid-xl {
    @include heading-xl();
  }

  &-link {
    @include link;
  }
}

.hero-text__body {
  margin-top: $space-double;
  margin-bottom: $space-double ;
}
.hero-text__button {
  @include button-base;
  @include button-color-primary;
  @include button-medium;
  @include button-round-corners;
}
