.search-wrapper {
  display: none;
  background: white;
}
.search-wrapper .title {
  width: 100%;
  background: #F3F3F3;
  text-align: center;
  text-transform: capitalize;
}
#hel-tpm-search-autosuggest-form .form-item {
  margin-bottom: 0;
}
.hel-search-autocomplete.item-list a {
  display: block;
  clear: both;
}
.search-wrapper .suggestion-item {
  display: block;
  width: 100%;
  cursor: pointer;
}
#hel-tpm-search-autosuggest-form .button {
  display: none;
}

#hel-tpm-search-autosuggest-form .form-item__label {
  display: none;
}