#search-autocomplete {
  display: none;
  background: white;
}
#search-autocomplete .title {
  width: 100%;
  background: #F3F3F3;
  text-align: center;
  text-transform: capitalize;
}
#hel-tpm-search-autosuggest-form .form-item {
  margin-bottom: 0;
}
#search-service-list .item-list a {
  display: block;
  clear: both;
}
#search-suggestions .suggestion {
  display: block;
  width: 100%;
}