.hel-tpm-url-shortener-shorten-url-link {
  order: 1;
  @include large {
    position: sticky;
    top: 93%;
    z-index: $zi-above-content;
    order: unset;
  }
  >form {
    @include xxl {
      float: right;
    }
  }
  .short-link-result {
    display: block;
    width: 310px;
    top: 1px;
    background: white;
    box-shadow: inset 0px 0px 0px 2px clr(form-border);
    border-radius: 8px;
    padding: 0.4em 0.5em;
    margin: auto;
    position: absolute;
    left: 65px;
    @include large {
      left: -315px;
    }
  }
  .shorten-link {
      left: unset;
      bottom: 5%;
      z-index: $zi-above-content;
      float: right;
      position: relative;
    .clipboard-status {
      margin-left: $space * 1.5;
    }
  }
  input.clipboard-button,
  input.create-link {
    display: block;
    margin: auto;
    background-color: white;
    color: transparent;
    padding: 0;
    font-weight: bold;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-position: center center;
    background-repeat: no-repeat;

    @include large {
      margin-right: -3rem;
    }
  }
  input.create-link {
    background-image: url('../../assets/images/icons/chain.svg');
  }
  input.clipboard-button {
    background-image: url('../../assets/images/icons/chain.svg');
  }
}
