.hel-tpm-url-shortener-shorten-url-link-views {
  position: relative;
  .shorten-link {
    display: flex;
  }
  label {
    line-height: 40px;
    margin-right: 1rem;
  }

  .short-link-result {
    position: absolute;
    left: -45%;
    z-index: 1;
  }
}