.hel-tpm-url-shortener-shorten-url-link {
  .short-link-result {
    display: block;
    width: 310px;
    top: 1px;
    background: white;
    box-shadow: inset 0px 0px 0px 2px clr(form-border);
    border-radius: 8px;
    padding: 0.4em 0.5em;
    margin: auto;
    @include large {
      position: absolute;
      left: -315px;
    }
  }
  .shorten-link {
    @include large {
      position: fixed;
      left: 94%;
      bottom: 20%;
    }
  }
  input.clipboard-button,
  input.create-link {
    display: block;
    margin: auto;
    background-color: white;
    color: transparent;
    padding: 0;
    font-weight: bold;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  input.create-link {
    background-image: url('/themes/custom/palvelumanuaali/images/icons/chain.svg');
  }
  input.clipboard-button {
    background-image: url('/themes/custom/palvelumanuaali/images/icons/switch-file.svg');
    background-size: 26px;
    background-position: 8px;
  }
  .short-link {

  }
}
