<span class="quick-link-icon icon-{{ icon }}">
  {% include "@atoms/images/icons/_icon.twig" with {
    icon_base_class: 'icon',
    icon_name: icon,
    icon_modifiers: ['medium-large'],
  } %}
</span>
