.form-item__dropdown {
  border-color: transparent;
  &:hover, &:active {
    border-color: transparent!important;
  }
  .multi-select-button {
  }
  .multi-select-container {
    /* dropdown */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 4px 16px 4px 24px;
    gap: 10px;

    width: 182px;
    height: 32px;

    /* Primary / White */
    background: #FFFFFF;

    /* Primary/Blue 40 */

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    border: 2px solid $blue40;
    border-radius: 8px;
    &:hover {
      border-color: $blue100;
    }

    &.active {
      background-color: $blue100;
      .multi-select-button {
        color: #fff;
      }
      &:hover, &:active {
        background-color: $blue130;
      }
    }
  }
  .multi-select-container--open {
    background-color: $blue130;
    .multi-select-button {
      color: #fff;
    }
  }
  .multi-select-button {
    width: 100%;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    /* identical to box height, or 171% */

    /* Primary / Black */
    color: $black;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

}