@mixin image {
  display: block;
  height: auto;
  max-width: 100%;
}

img,
picture {
  @include image;
}

figure {
  margin: 0; /* override normalize */
}

.figure__caption {
  font-style: italic;
}


.logo__image{
  &--hidden-mobile {
    display: none;
    @include xl {
      display: block;
      margin-top: auto;
      margin-bottom: auto;
      min-width: 207px;
    }
  }
}

.logo-small__image {
  &--hidden-lg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    @include xl {
      display: none;
    }
  }
}
