.field--name-field-service-reference {
  .card {
    max-width: unset;
    width: 100%;
    margin: 0 0 $space-one-and-half 0;
    flex-basis: 100%;
  }
}

.basic-page {
  @include xl {
    margin-top: $space-one-half;
  }
  .content-column >.field {
    margin-bottom: $space-quadruple;
  }
}
