#block-system-main-block >.node-form {
  @extend .offset-xxl-1;
  @extend .col-xxl-10;
    display: grid;
  @include xl {
      grid-template-columns: 7fr 3fr;
      grid-column-gap: 24px;
  }
  #edit-group-left-column {
    max-width: unset;
    @include xl {
      grid-column: 1/2;
      grid-row:2;
    }
  }

  .page-controls {
    margin-top: $space;
    grid-row: 6;
    @include xl {
      grid-column: 1/2;
      grid-row:3;
    }
    .button-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  .edit-advanced-content-wrapper {
    grid-row: 4;
    grid-column: 1/3;
    @include xl {
      grid-column: 2/3;
      grid-row:2;
    }
  }

  >#edit-actions {
    grid-row: 7;
    @include xl {
      grid-row: 4;
      grid-column: 1/2;
      display: flex;
      justify-content: space-between;
    }
    .button {
      width: unset;
      border: unset;
    }
  }

  .page-controls {
    margin-top: $space;
    grid-row: 6;
    @include xl {
      grid-column: 1/2;
      grid-row:3;

    }
    .button-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

    .form-item {
      label {
        font-size: 12px;
        &:after {

        }
      }
    }
    .field--type-boolean .form-item {
      width: 100%;
      display: flex;
      input {
        margin-right: 8px;
        width: unset;
      }
      label {
        font-weight: 400;
      }
    }

    .edit-advanced-form {
      background-color: clr(text-inverse);
      border-radius: 8px;
      padding: $space;
      max-width: unset;
      @include large {
        padding: 40px 32px 48px 32px;
        max-width: inherit;
      }
      .vertical-tabs {
        border: 0;
        margin: 0;
        li {
          background-color: unset;
          border: 0;
        }
        .vertical-tabs__menu {
          float: unset;
          width: 100%;
          margin: 0;
          border: 0;
        }
      }
    }
    .paragraph-type-top,
    .filter-wrapper[data-drupal-selector*="format"] {
      display: none;
    }

    fieldset > legend {
      width: 100%;
    }

    .form-item-checkbox {
      display: flex;
      flex-wrap: wrap;
      label {
        order: 1;
      }
      .form-item__description {
        order: 2;
        width: 100%;
      }

    }

    .description {
      margin-bottom: $space;
    }

    .table__cell .paragraph-type-top {
      display: flex;
    }

    //add basic theming for sidebar horizontal-tabs
    .horizontal-tabs {
      .horizontal-tabs-list {
          border-bottom: 2px solid clr(form-border);
          padding-left: 16px;
          background-color: unset;
          margin-bottom: $space-triple;
      }

      .horizontal-tab-button {
        border-radius: 8px 8px 0px 0px;
        background-color: clr(background);
        color: clr(background-section);
        border: unset;

        &.selected {
          border-bottom: unset;
          background-color: clr(background-section);

          a {
            color: clr(text-inverse);
            padding: 12px 48px;
          }
        }

        a {
          padding: 12px 48px;
        }
      }
    }

    .form-item-checkbox {
      display: flex;
      align-items: center;
      .form-checkbox{
        margin-right: $space-one-half;
        width: 16px;
        height: 16px;
      }
    }

    .h2 {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
    }

    .field-add-more-submit,
    .paragraphs-icon-button {
      @include button-medium;
      @include button-no-color;
      @include button-round-corners;
      border: 2px solid $blue100;
    }


        table,
        tbody,
        thead,
        tr,
        td {
          display: block;
          width: 100%;
          border: 0;
        }

        em {
          background: unset;
          margin: 0px 4px;
          opacity: unset;
          cursor: default;
        }

        .page-controls {
          margin-top: $space;
          grid-row: 6;
          @include xl {
            grid-column: 1/2;
            grid-row:3;
          }
          .button-wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;
          }
        }
  // .button {
  //   @include button-medium;
  //   @include button-color-blue;
  //   @include button-round-corners;
  // }
}

.form-background--white {
  background-color: clr(text-inverse);
  padding: $space;
}

.group--light-blue {
  border: 2px solid $blue20;
  background-color: $blue05;
  padding: $space-one-and-half $space-one-and-half $space-double $space-one-and-half;
}

.group--rounded-corners {
  border-radius: 8px;
}

.group--no-margin-bottom {
  margin-bottom: 0;
}

.js-form-required::after {
   content:" *";
   color: red;
   font-size: 12px;
 }

.form-background--regular-padding {
  border-radius: 8px;
  @include large {
    padding: 48px 56px;
  }
}

#content-view-tabs,
.field-group-tabs-wrapper .horizontal-tabs {
  border: 0;
}

.node-service-edit-form,
.node-service-form {

  .edit-advanced-content-wrapper {
    margin-top: 80px;
  }

  // hide all form tabs by default.
  > .tab {
    display: none;
  }

  // hide all form dragable tables by default.
  .field-multiple-drag {
    display: none;
  }

  .field--name-field-age {
    display: none;
  }

  .field--name-field-service-time-and-location {
    margin-bottom: $space-triple !important;
    .button {
      @include button-medium;
      @include button-color-blue;
      @include button-round-corners;
      border: 2px solid $blue100;
    }

    > div > div  > table > tbody > tr > .table__cell > div > div  {
      position: relative;
    }

    > div > div  > table > tbody > tr > .table__cell > div > div > .paragraph-type-top {
      display: block;
      position: absolute;
      right: 24px;
      top: 24px;
      input {
        @include close-button;
        width: 20px;
        height: 20px;
        padding: 4px;
      }
    }
  }




  .date-recur-modular-alpha-widget {
    display: flex;
    flex-direction: column;

    .dates {
      order: 1;
    }

    .container-inline {
      order: 2;
    }

  }

  .form-item__dropdown {
    border: 0;
  }

  .node-service-edit-form-pager  {
      grid-row: 1;
      grid-column: 1/3;

    .multistep-nav-wrapper {

      width: 100%;
      margin-left: $space;
      margin-right: $space;
      display: flex;
      flex-wrap: wrap;
      @include large {
        margin-left: auto;
        margin-right: auto;
        width: 65%;
      }
    }
  }

  > .tab > .form-fieldset,
  > .tab-2,
  > .tab-3,
  > .tab-4 {
    grid-row: 2;
    padding: $space;
    border-radius: 8px;
    @include xl {
      grid-column: 1/2;
      grid-row:2;
    }
    background-color: clr(text-inverse);
    max-width: unset;

    @include large {
      padding: 48px 56px;

    }

    .fieldgroup,
    .form-item {
      max-width: unset;
      margin-left: 0;
    }

    >.form-wrapper {
      margin-bottom: $space;

      legend {
        @extend .form-item__label;
        font-size: 1rem;
      }

      > .h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
      }

      &.field--name-field-implementation-extra-info  {
        margin-bottom: $space-triple;
      }

      &.group--rounded-corners {
        margin-bottom: 3rem;
      }
    }

    .table__heading-cell,
    .field-multiple-drag,
    .tabledrag-toggle-weight-wrapper  {
      display: none;
    }

    tbody {
      border-top: 0;
    }

    .paragraph-type-title {
      display: none;
    }

    .field--name-field-service-languages,
    .field--name-field-links {
      .table__cell {
        > div >.form-wrapper,
        .ajax-new-content > div > div {
            display: flex;
        }
      }
      .paragraphs-subform {
        display: flex;
        order: 1;
      }
      .paragraph-type-top {
        order: 2;
        align-items: end;
      }
      .field--name-field-language,
      .field--name-field-level {
        margin-right: 8px;
        .js-form-item {
          margin-bottom: 0;
        }
      }
      .paragraphs-dropbutton-wrapper {

        input[data-drupal-selector*="top-links-remove-button"] {
          @include close-button;
          width: 16px;
          height: 16px;
          padding: 0;
          line-height: 30px;
        }

        input[data-drupal-selector*="subform-field-service-languages-add-more-add-more-button-service-language"] {
          width: 259px;
          height: 48px;
          @include button-color-blue;
          font-size: $small-caption;
        }

        input[data-drupal-selector*="inline-entity-form-field-links-add-more-add-more-button-link"] {
          @include round-icon-button;
          background-image: url("/themes/custom/palvelumanuaali/images/icons/plus.svg");
        }
      }
    }
  }



  #edit-group-basic-information {
    background-color: unset;
    max-width: unset;


    @include large {
      padding: 0;
      border-radius: unset;
    }
    // hide basic information header as it is shown under another fieldset
    > .h2 {
      display: none;
    }

    .form-fieldset {
      margin-left: 0;
    }

    div &.select--white-rounded {
      margin-left: 0;
      background-color: unset;
    }
  }




  .field--name-field-service-execution,
  .field--name-field-guidance-to-service,
  .field--name-field-service-obligatoryness,
  .field--name-field-career-marking,
  .field--name-field-exceptions {
    margin-bottom: $space-triple;
    border-bottom: 2px solid clr(background-border);
  }

  .field--name-field-service-other-info {
    margin-top: $space-triple;
    padding-top: $space-triple;
    border-top: 2px solid clr(background-border);
    .field--name-field-link .table__cell {
      padding-left: 0;
    }
  }

  .field--name-field-municipality-guide .button,
  .field--name-field-archiving-guide .button,
  .paragraph-type-top .paragraphs-dropbutton-wrapper .button--small,
  .confirm-remove .form-submit {
    @include button-medium;
    @include button-color-blue;
    @include button-round-corners;
  }

  .field--name-field-link {
    .table__cell,
    .table__cell .ajax-new-content {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      &.field-multiple-drag {
        display: none;
      }
      .form-item {
        &:nth-child(1) {
          max-width: 55%;
        }
        &:nth-child(2) {
          max-width: 40%;
          padding-left: $space-one-half;
        }
      }
    }
  }

  //hide unused enforced dropdown buttons in edit form
  details {
    summary {
      display: none;
    }
  }

  .field--name-field-file {
    > div .details-content-wrapper {
      display: flex;
      flex-wrap: grid;
      >.form-item {
        order: 1;
      }
      >table {
        order: 2;
      }
    }

    tr {
      display: flex;

      .tabledrag-handle {
        display: none;
      }
      td {
        &:nth-child(1) {
          .form-managed-file {
            display: flex;
            align-items: center;
            display: flex;
          }
          .form-item {
            margin-left: $space;
            margin-right: $space;
          }
        }
        &:last-child {
          flex: 1;
          display: flex;
          align-items: center;
        }

        .button{
          background-color: clr(background-section);
          width: 40px;
          height: 40px;
          border-radius: 50%;
          padding: 0;
          background-image: url("/themes/custom/palvelumanuaali/images/icons/minus.svg");
          color: transparent;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
    }
    .form-item__description {
      display: none;
    }

  }

  .field--name-field-contact-info,
  .field--name-field-contact-info-external {
    fieldset {
      legend {
        font-size: $small-font;
      }
    }
  }

  .field--name-field-contact-info,
  .field--name-field-service-producer,
  .group--margin-border-bottom {
    padding-bottom: $space-three-and-half;
    margin-bottom: $space-triple !important;
    border-bottom: 2px solid clr(background-border);
  }

  div[data-drupal-selector*="edit-field-contact-info-external-form"],
  div[data-drupal-selector*="edit-field-contact-info-form"],
  .ief-entity-operations {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    > div {
      width: 100%;
    }
  }

  input[data-drupal-selector*="actions-ief-reference-cancel"],
  input[data-drupal-selector*="actions-ief-reference-save"],
  input[data-drupal-selector*="actions-ief-entity-edit"],
  input[data-drupal-selector*="actions-ief-entity-remove"],
  input[data-drupal-selector*="form-actions-ief-edit-save"],
  input[data-drupal-selector*="form-actions-ief-edit-cancel"],
  input[data-drupal-selector*="form-actions-ief-remove-confirm"],
  input[data-drupal-selector*="form-actions-ief-remove-cancel"],
  input[data-drupal-selector*="actions-ief-add-save"],
  input[data-drupal-selector*="actions-ief-add-cancel"],
  input[data-drupal-selector*="top-links-remove-button"],
  .entitygroupfield-dropbutton-wrapper input,
  .restore input,
  #edit-actions .button {
    @include button-color-blue;
    width: unset;
  }

  input[data-drupal-selector="edit-field-contact-info-actions-ief-add"],
  input[data-drupal-selector="edit-field-contact-info-external-actions-ief-add"]{
    @include round-icon-button;
    background-image: url("/themes/custom/palvelumanuaali/images/icons/plus.svg");
  }
  input[data-drupal-selector="edit-field-contact-info-actions-ief-add-existing"],
  input[data-drupal-selector="edit-field-contact-info-external-actions-ief-add-existing"]{
    @include round-icon-button;
    background-image: url("/themes/custom/palvelumanuaali/images/icons/magnifier2.svg");
  }

}

.node-form {
  label {
    font-size: 12px;
    font-weight: 600;
    &:after {

    }
  }
}

#edit-field-service-price-wrapper {
  padding-top: 8px;
  legend {
    display: none;
  }
  .field--type-boolean .form-item {
    width: 100%;
    display: flex;

    input {
      margin-right: 8px;
      width: unset;
    }

    label {
      font-weight: 400;
    }
  }
}

.field--name-field-target-group {
 > fieldset {
   > legend {
     display: none !important;
   }
   .h2 {
     font-size: 12px !important;
     &::after {

     }
   }

   }
 }

 .field--name-field-dates {
   h4 {
     font-weight: 600;
     font-size: 12px;
     line-height: 24px;
     color: clr(text);
     text-transform: capitalize;
     letter-spacing: 0px;
   }
 }

 .form-item--checkboxes {
    .form-item {
        width: 13ch;
        label {
          &::after {
            content: unset !important;
          }
        }
    }
 }

 .field--widget-hel-tpm-editorial-date-recur-custom {
   .dates {
     display: grid;
     grid-template-columns: 5fr 0.5fr 5fr;
     margin-top: 1.5em;
     margin-bottom: 1.5em;
     .date {
       .form-item {
         float: left;
         width: 45%;
         margin-right: 2%;
         margin-left: 2%;
       }
       input {
         background-color: #fff;
       }
     }
   }
   .hel-tpm-editorial-date-recur-custom-widget {
     .date-preview {
       float: left;
     }
     .weekdays {
       .form-item--checkboxes {
         display: grid;
         grid-template-columns: repeat(7, 1fr);
       }
       .form-item {
         width: auto;
       }
     }
   }

   .hyphen-wrapper {
     position: relative;
     .hyphen {
       font-weight: 600;
       display: block;
       position: absolute;
       top: 40%;
       left: 10px;
     }
   }
   .field--type-date-recur {
     legend {
       width: 100%;
     }
     .form-item--checkboxes {
       display: flex;
       flex-wrap: wrap;
     }
   }
 }


.field--name-field-link {
  legend {
    display: none;
  }
  >.form-fieldset,
  .table__row .table__cell,
  .table__row .table__cell .ajax-new-content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    .h2 {
      width: 100%;
    }
    .form-item {
      &:nth-child(1) {
        width: 60%;
        margin-bottom: 0;
        position: relative;
        &::after {
          @include icons;
          content: "\EA06";
          height: 16px;
          width: 16px;
          right: 0;
          bottom: 16px;
          position: absolute;
          margin-right: $space;
          color: $blue100;
        }
        input {
          background-image: none;
        }
      }
      &:nth-child(2) {
        width: 35%;
        margin-left: $space-one-half;
        margin-bottom: 0;
      }
      .form-item__description {
        display: none;
      }
    }
  }
}
