.landing-page {
  .region-postcontent,
  .region-content {
    grid-template-columns: 12fr;
    @include xl {
      max-width: 1464px;
    }
  }

  .hero-text {
    margin-bottom: 80px;
    &__image .icon {
      max-width: 100%;
    }
  }
  .field--name-field-paragraph {
    .field__items > div {
      width: 100%;
      margin-bottom: $space-double;
      &.url-and-file {
        max-width: 600px;
      }
    }
  }
}

.icon-header-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 54px;
  .icon {
    margin-right: 24px;
  }
  .h2 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 0;
  }
}

.region-content {
  &.row {
    >.listing-block {
      margin-bottom: 32px;
      &#block-views-block-services-block-3 {
        order:3;
        @include xl {
          padding-right: 4.166%;
          border-right: 2px solid $blue40;
        }
      }
      &#block-views-block-services-block-2 {
        order: 4;
        @include xl {
          padding-right: 4.166%;
          border-right: 2px solid $blue40;
        }
      }
      &#block-views-block-services-block-1 {
        order: 5;
        @include xl {
          padding-left: 4.166%;
        }
      }
    }
  }
}

.landing-page .block {
  h2 {
    margin-bottom: $space;
    @include xl {
      margin-bottom: $space-one-and-half;
    }
  }
}
