.landing-page {
  .main {
    @include xl {
      margin-top: 182px;
    }
  }
}

.icon-header-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 54px;
  .icon {
    margin-right: 24px;
  }
  .h2 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 0;
  }
}

.region-content {
  &.row {
    >.listing-block {
      margin-bottom: 32px;
      &#block-views-block-services-block-3 {
        order:3;
        @include xl {
          padding-right: 4.166%;
          border-right: 2px solid #AFCEFD;
        }
      }
      &#block-views-block-services-block-2 {
        order: 4;
        @include xl {
          padding-right: 4.166%;
          border-right: 2px solid #AFCEFD;
        }
      }
      &#block-views-block-services-block-1 {
        order: 5;
        @include xl {
          padding-left: 4.166%;
        }
      }
    }
  }
}
