.service-page {
  #block-system-main-block {
    @include large {
      display: flex;
      flex-wrap: wrap;
    }
    .link-wrapper {
      width: 100%;
      margin-bottom: $space;
      position: relative;
      min-height: 50px;
      @include large {
        display: flex;
        justify-content: flex-end;
      }
    }
    .flag-lists {
    margin-right: $space;
    }
    .flag-cart {
      margin-right: $space;
    }
    #view-mode-switcher-link {
        margin-right: $space;
        @include xl {
          position: absolute;
          left: 0;
        }
    }
    .service{
      margin-top: $space;
      max-width: 100%;
      width: 100%;
      @include large {
        margin-top: $space-double;
      }
    }
  }

  .field--name-field-obligatoryness,
  .field--name-field-statements,
  .field--name-field-service-suits-job-search {
    display: flex;
    align-items: center;

    background: clr(background-dropdown);
    border: 2px solid clr(light-border);
    border-radius: 8px;

    margin-top: $space-double;
    padding: $space $space-one-and-half;

    font-size: 16px;
    line-height: 28px;

    color: clr(alt-header-color);
    .icon-i {
      display: block;

      width: 24px;
      height: 24px;

      background-image:url("/themes/custom/palvelumanuaali/images/icons/info.svg");
      margin-right: $space-one-and-half;
      padding-right: $space-one-and-half;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

#service-page-full {
  margin-bottom: $space-triple;
  display: flex;
  flex-wrap: wrap;
  @include large {
    margin-bottom: 102px;
  }
}

.service {
  background: clr(sidebar-color);
  border-radius: 16px;
  padding-top: 40px;
  padding-bottom: 40px;
  @include large {
   padding-left: 64px;
   padding-top: 35px;
   padding-right: 32px;
   padding-bottom: 37px;
  }
  .field {
    // margin-bottom: $space-double;
    .field__label {
      font-weight: 600;
      font-size: 16px;
    }
  }
  .field--name-field-client-consent{
    font-weight: 600;
  }
  .field__item {
    margin-bottom: $space;
  }
  .field--name-field-statements  {
    margin-bottom: $space-double;
  }
  .field--name-field-service-suits-job-search {
    margin-bottom: $space-double;
  }

  .content-column {
    padding-right: $space-quadruple;
    >.field {
      margin-bottom: $space-two-and-half;
    }
    //override for field life-situations
    > .field--name-field-life-situations {
      margin-bottom: 0;
    }
  }
  .content-sidebar {
    >.h4 {
      margin-bottom: $space-double;
      @include large {
        margin-bottom: $space-two-and-half;
      }
    }
  }

  .field--name-field-internal-files,
  .field--name-field-file  {
    margin-bottom: $space-one-and-half;
  }

  .field--name-field-description {
    font-size: 18px;
    line-height: 32px;
  }

  .field--name-field-implementation-extra-info,
  .field--name-field-service-price,
  .field--name-field-service-language {
    margin-bottom: $space-double;
    @include large {
      margin-bottom: $space-two-and-half;
    }
  }

  .service-price {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    .field__item {
      color: clr(alt-header-color);
      letter-spacing: 0.01em;
      span {
        font-weight: 400;
      }
      font-weight: 700;
    }
    p {
      letter-spacing: 0.01em;
    }
  }

  .field--name-field-responsible-updatee .field__item {
    margin-bottom: 40px;
    a {
      margin-bottom: 0;
    }
  }
  .field--name-field-contact-info {
    >.field__label {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 40px;
    }

    >.field__items {
      >.field__item {
        margin-bottom: 40px;
      }
    }

    .field--name-field-municipality-name {
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: $space;
      &::after {
        content: ":";
      }
    }

    .field--name-field-description-plain {
      margin-bottom: $space;

    }

    .field--name-field-contact-info {
      >.field__item,
      >.field__items >.field__item {
        margin-bottom: $space;
      }
    }

    .field--name-field-contact-name {
      font-weight: 600;
    }

  }
}

.field--name-field-internal-links,
.field--name-field-service-links-external,
.field--name-field-link {
  .field__items {
    display: flex;
    flex-wrap: wrap;
  }
  .field__item {
    margin-bottom: $space-one-and-half;
    a {
      text-decoration: none;
      color: clr(background-section);
      font-size: 15px;
      font-weight: 600;
    }
  }
}

.field--name-field-service-execution {
  margin-bottom: $space-double;
}

.field--name-field-service-implement {
  .field__label {
    display: inline-flex;
  }
  h5 {
    margin-left: $space;
  }
}

.field--name-field-service-producer {
  a {
    word-wrap: anywhere;
  }
}

//Inline field theming
.field--content--inline {
  .field__items {
    @include large {
      display: inline;
    }
  }
  .field__item {
    @include large {
      display: inline;
    }
  }
}

.field--content--blue {
  .field__item {
    color: clr(alt-header-color);
  }
}

.field--content--margin-bottom-two-and-half {
  margin-bottom: $space-two-and-half;
}

.field--content--margin-bottom-two {
  margin-bottom: $space-double;
}

.service-group {
  margin-bottom: $space-two-and-half;
  @include large {
    margin-bottom: $space-triple;
  }
  @include xl {
    margin-bottom: $space-three-and-half;
  }
}

.service-page {
  .field--content--margin-left-triple,
  .field--name-field-service-set {
    margin-left: $space-triple;
    .h5 {
      margin-left: 0;
      margin-bottom: $space-one-half;
    }
  }
  .field--name-field-internal-files,
  .field--name-field-file {
    .field__item {
      display: block;
      position: relative;
    }
    .file,
    a {
      display: block;
      width: 100%;
    }
    a {
      background-color: clr(background);
      border-radius: 8px;
      color: clr(text);
      text-decoration: none;
      font-size: 14px;
      padding: $space 0 $space $space-three-and-half;
      margin-bottom: $space-one-half;
    }
  }
}





.icon-wrapper {
  position: relative;
  >.icon {
    position: absolute;
    margin-top: $space;
  }
}

.field__label--margin-bottom {
  margin-bottom: $space-double;
  @include large {
    margin-bottom: $space-three-and-half;
  }
}

.field--name-field-other-services {
  width: 100%;
}


.service .field--name-field-contact-info-external {
  margin-bottom: $space-two-and-half;
  .field {
    margin-bottom: 0;
  }
}

.field--name-field-contact-name {
  font-weight: 600;
}
