.blue-padded-round-corners-card {
  display: flex;
  align-items: center;

  background: clr(background-dropdown);
  border: 2px solid clr(light-border);
  border-radius: 8px;

  margin-top: $space-double;
  padding: $space $space-one-and-half;

  font-size: 16px;
  line-height: 28px;

  color: clr(alt-header-color);
  .icon-i {
    display: block;

    width: 24px;
    height: 24px;

    background-image:url("../../assets/images/icons/info.svg");
    margin-right: $space-one-and-half;
    padding-right: $space-one-and-half;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.page-node-type-service {
  .block--main-block {
    @include large {
      display: flex;
      flex-wrap: wrap;
    }
    .link-wrapper {
      width: 100%;
      margin-bottom: $space;
      display: flex;
      position: sticky;
      justify-content: end;
      overflow: visible;
      z-index: 101;
      min-height: 50px;
      @include large {
        margin-bottom: $space-one-half;

      }
      .flag {
        a {

          background: clr(text-inverse);
          border-radius: 50%;
          &:hover {
            background-color: clr(background-border);
          }
        }
      }
    }
    .flag-lists {
    margin-right: $space;
    }
    #view-mode-switcher-link {
        margin-right: $space;
    }
    .service{
      max-width: 100%;
      width: 100%;
    }
  }
  .field--name-field-language {
    margin-bottom: 0;
  }
  .field--name-field-obligatoryness,
  .field--name-field-statements,
  .field--name-field-service-suits-job-search {
    @extend .blue-padded-round-corners-card;
    .icon-i {
      display: block;

      width: 24px;
      height: 24px;

      background-image:url("../../assets/images/icons/info.svg");
      margin-right: $space-one-and-half;
      padding-right: $space-one-and-half;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  .field--name-field-other-preferences{
     @extend .blue-padded-round-corners-card;
     display: block;
     .field__label {
       margin-bottom: $space;
     }
     .field__item {
       display: list-item;
       margin-left: $space-triple;
       padding-left: $space-one-half;
     }
  }

  &.logged-in {
    .horizontal-tabs {
      .horizontal-tabs-list {
        display: flex;
        position: sticky;
        top: 0;
        z-index: 100;
        padding-top: $space-double;
      }
    }
    .link-wrapper {
      @include large {
        margin-bottom: -23px;
        top: -23px;
      }
    }
    &.toolbar-fixed.toolbar-horizontal {
      .horizontal-tabs {
        .horizontal-tabs-list {
          top: 38px;
        }
      }
      .link-wrapper {
        @include large {
          margin-bottom: unset;
        }
      }
    }
    &.toolbar-fixed.toolbar-horizontal.toolbar-tray-open {
      .horizontal-tabs {
        .horizontal-tabs-list {
          top: 75px;
          padding-top: $space-double;
        }
      }
      .link-wrapper {
        @include large {
          top: 15px;
        }
      }
    }
    &.toolbar-fixed.toolbar-vertical {
      .horizontal-tabs {
        .horizontal-tabs-list {
          padding-top: $space-double;
          top: 40px;
        }
      }
      .link-wrapper {
        top: -21px;
        @include large {
          top: 0;
        }
      }
    }
  }
  //needs to be split to a separate file
  .horizontal-tabs {
    position: unset;
    .horizontal-tabs-list {
      display: none;
      top: -71px;
      left: 0;
      background-color: clr(background);
      border: 0;
      align-items: end;
      &::after {
        border-top: $space-double solid clr(text-inverse);
        border-top-right-radius: 16px;
        content: "";
        display: block;
        position: absolute;
        bottom:-32px;
        width: 100%;
        height: $space-double;
      }
      .horizontal-tab-button {
        border-right: 0;
        padding: 0;
        border-radius: 16px 16px 0 0;
        &::before {
          display: none;
        }
        strong {
          display: flex;
          flex-wrap: wrap;
          font-weight: 600;
          &::before {
            content: "";
            display: block;
            margin-right: $space;
            width: 24px;
            height: 24px;
          }
        }
        &:first-child {
          margin-right: 4px;
          strong::before {
            background-image: url("../../assets/images/icons/contact-list.svg");
            display: none;
            @include medium {
              display: block;
            }
          }
        }
        &:nth-child(2) {
          strong::before {
            background-image: url("../../assets/images/icons/checklist2.svg");
            display: none;
            @include medium {
              display: block;
            }
          }
        }
        a {
          padding: 14px 32px 18px 32px;
          border-bottom: 2px solid clr(background-border);
          font-size: 14px;
          color: clr(text);
          background-color: clr(text-inverse);
          border-radius: 16px 16px 0 0;
          line-height: 24px;
          @include medium {
            font-size: 18px;
            padding: 14px 56px 18px 48px;
          }
          &:hover {
            background-color: clr(background-border);
          }
        }
        &.selected {
          a {
            border-bottom: 0;
            color: clr(text-inverse);
            background: clr(footer-color);
            &:hover {
              background-color: clr(footer-color);
            }
          }
          &:first-child {
            margin-right: 4px;
            strong::before {
              background-image: url("../../assets/images/icons/contact-list-selected.svg");
            }
          }
          &:nth-child(2) {
            strong::before {
              background-image: url("../../assets/images/icons/checklist2-selected.svg");
            }
          }
        }
      }
    }
  }
}

#service-page-full {
  margin-bottom: $space-triple;
  display: flex;
  flex-wrap: wrap;
  @include large {
    margin-bottom: 102px;
  }
  .date {
    margin-bottom: 0;
  }
  .service-header-wrapper {
    margin-bottom: $space;
    display: flex;
    flex-direction: column-reverse;
    gap: $space-one-and-half;
    > div {
      line-height: 24px;
    }
    @include large {
      flex-direction: row;
    }
    .organizing-group {
      @extend .font-small-caption;
      @extend .font-primary-blue;
    }
  }
}


.logged-in {
  .service {
  //needs permission check for tab
  border-top-left-radius: 0;
  }
}

.service {
  background: clr(sidebar-color);
  border-radius: 16px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: $space-one-and-half;
  @include large {
   padding-left: $space-quadruple;
   padding-top: 35px;
   padding-right: $space-double;
   padding-bottom: 37px;
  }
  .field {
    .field__label {
      font-weight: 600;
      font-size: 16px;
    }
  }
  .field--name-field-client-consent{
    font-weight: 600;
  }
  .field__item {
    margin-bottom: $space;
  }
  .field--name-field-statements  {
    margin-bottom: $space-double;
  }

  .field--name-field-service-suits-job-search {
    margin-bottom: $space-double;
  }

  .content-column {
    padding-right: $space;
    width: 100%;
    @include large {
      padding-right: $space-quadruple;
    }
    >.field {
      margin-bottom: $space-two-and-half;
    }
    //override for field life-situations
    > .field--name-field-life-situations {
      margin-bottom: 0;
    }
  }
  .content-sidebar {
    .contact-info-wrapper,
    .additional-info-wrapper {
      @include xl {
        border-bottom: 2px solid clr(background);
        border-radius: 4px;
        margin-bottom: $space-double;
      }
      >div {
        margin-bottom: $space-double;
      }
    }
    .field--name-field-service-producer,
    .field--name-entitygroupfield {
      .field__item {
        margin-bottom: 0;
      }
    }

    .archiving-guides {
      @include xl {
        margin-bottom: $space-triple;
      }
      margin-bottom: $space-double;
    }

    .sharing-options {
      .btn {
        padding: 0;
        &:focus-visible {
          outline: 2px solid clr(accent-high);
          border-radius: 0;
        }
      }
    }
  }

  .field--name-field-internal-files,
  .field--name-field-file  {
    margin-bottom: $space-one-and-half;
  }

  .field--name-field-description {
    @extend .text-large;
  }

  .field--name-field-implementation-extra-info,
  .field--name-field-service-price,
  .field--name-field-service-languages,
  .field--name-field-service-language  {
    margin-bottom: $space-double;
    @include large {
      margin-bottom: $space-two-and-half;
    }
    .field__items {
      @extend .text-normal;
    }
  }



  .field--name-field-life-situations,
  .field--name-field-service-set,
  .field--name-field-client-consent {
    .field__items {
      @extend .text-normal;
    }
  }


  .service-language {
    display: inline-flex;
  }
  .service-price {
    display: flex;
    flex-wrap: wrap;
    .field__item {
      color: clr(alt-header-color);
      letter-spacing: 0.01em;
      width: 100%;
      span {
        font-weight: 400;
      }
      font-weight: 700;
    }
    p {
      letter-spacing: 0.01em;
    }
  }

  .field--name-field-responsible-updatee .field__item {
    margin-bottom: 40px;
    a {
      margin-bottom: 0;
    }
  }
  .field--name-field-contact-info {
    >.field__label {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 40px;
    }

    >.field__items {
      >.field__item {
        margin-bottom: 40px;
      }
    }
    .field {
      margin-bottom: 0;
    }
    .field--name-field-municipality-name {
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: $space;
      &::after {
        content: ":";
      }
    }

    .field--name-field-description-plain {
      margin-bottom: $space;

    }

    .field--name-field-contact-info {
      >.field__item,
      >.field__items >.field__item {
        margin-bottom: $space;
      }
    }

    .field--name-field-contact-name {
      font-weight: 600;
    }

  }

}

.field--name-field-internal-links,
.field--name-field-service-links-external,
.field--name-field-link {
  .field__items {
    display: flex;
    flex-wrap: wrap;
  }
  .field__item {
    margin-bottom: $space-one-and-half;
    a {
      font-weight: 600;
      @extend .text-normal;
    }
  }
}

.field--name-field-service-execution {
  margin-bottom: $space-double;
}

.field--name-field-service-implement {
  .field__label {
    display: inline-flex;
  }
  h5 {
    margin-left: $space;
  }
}

.field--name-field-service-producer {
  a {
    word-wrap: anywhere;
  }
}

//Inline field theming
.field--content--inline {
  .field__items {
    @include large {
      display: inline;
    }
  }
  .field__item {
    display: inline;
  }
}

.field--content--blue {
  .field__item {
    color: clr(alt-header-color);
  }
}

.field--content--margin-bottom-two-and-half {
  margin-bottom: $space-two-and-half;
}

.field--content--margin-bottom-two {
  margin-bottom: $space-double;
}

.service-group {
  margin-bottom: $space-two-and-half;
  @include large {
    margin-bottom: $space-triple;
    margin-top: $space-double;
  }
  @include xl {
    margin-bottom: $space-three-and-half;
  }
}

.page-node-type-service {
  .field--content--margin-left-triple,
  .field--name-field-service-set {
    margin-left: $space-triple;
    .h5 {
      margin-left: 0;
      margin-bottom: $space-one-half;
    }
  }
  .field--name-field-other-services {
    .card__heading  {
      margin-bottom: 24px;
      span {
        font-size: 13px;
        line-height: 16px;
        font-weight: 700;
        color: clr(alt-header-color);
        @include large {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
    .field--name-field-description {
      @extend .text-small;
    }
  }
}

.icon-wrapper {
  position: relative;
  >.icon {
    position: absolute;
    margin-top: $space;
  }
}

.field__label--margin-bottom {
  margin-bottom: $space-double;
  @include large {
    margin-bottom: $space-three-and-half;
  }
}

.field--name-field-other-services {
  width: 100%;
}


.service .field--name-field-contact-info-external {
  margin-bottom: $space-two-and-half;
  .field {
    margin-bottom: 0;
  }
}

.field--name-field-contact-name {
  font-weight: 600;
}
