.blue-padded-round-corners-card {
  display: flex;
  align-items: center;

  background: clr(background-dropdown);
  border: 2px solid clr(light-border);
  border-radius: 8px;

  margin-top: $space-double;
  padding: $space $space-one-and-half;

  font-size: 16px;
  line-height: 28px;

  color: clr(alt-header-color);
  .icon-i {
    display: block;

    width: 24px;
    height: 24px;

    background-image:url("../../assets/icons/info.svg");
    margin-right: $space-one-and-half;
    padding-right: $space-one-and-half;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.page-node-type-service {
  .block--main-block {
    @include large {
      display: flex;
      flex-wrap: wrap;
    }
    .link-wrapper {
      width: 100%;
      margin-bottom: $space;
      display: flex;
      position: sticky;
      justify-content: end;
      overflow: visible;
      z-index: 101;
      min-height: 50px;
      @include large {
        margin-bottom: $space-one-half;

      }
      .flag {
        a {

          background: clr(text-inverse);
          border-radius: 50%;
          &:hover {
            background-color: clr(background-border);
          }
        }
      }
    }
    .flag-lists {
    margin-right: $space;
    }
    #view-mode-switcher-link {
        margin-right: $space;
    }
    .service{
      max-width: 100%;
      width: 100%;
    }
  }
  .field--name-field-language {
    margin-bottom: 0;
  }
  .field--name-field-obligatoryness,
  .field--name-field-statements,
  .field--name-field-service-suits-job-search {
    @extend .blue-padded-round-corners-card;
    .icon-i {
      display: block;

      width: 24px;
      height: 24px;

      background-image:url("../../assets/icons/info.svg");
      margin-right: $space-one-and-half;
      padding-right: $space-one-and-half;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  .field--name-field-other-preferences{
     @extend .blue-padded-round-corners-card;
     display: block;
     .field__label {
       margin-bottom: $space;
     }
     .field__item {
       display: list-item;
       margin-left: $space-triple;
       padding-left: $space-one-half;
     }
  }
}

#service-page-full {
  margin-bottom: $space-triple;
  display: flex;
  flex-wrap: wrap;
  @include large {
    margin-bottom: 102px;
  }
  .date {
    margin-bottom: 0;
  }
  .service-header-wrapper {
    margin-bottom: $space;
    display: flex;
    flex-direction: column-reverse;
    gap: $space-one-and-half;
    > div {
      line-height: 24px;
    }
    @include large {
      flex-direction: row;
    }
    .organizing-group {
      @extend .font-small-caption;
      @extend .font-primary-blue;
    }
  }
}


.logged-in {
  .service {
  //needs permission check for tab
  border-top-left-radius: 0;
  }
}

.service {
  background: clr(sidebar-color);
  border-radius: 16px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: $space-one-and-half;
  @include large {
   padding-left: $space-triple;
   padding-top: 25px;
   padding-right: $space-triple;
   padding-bottom: 37px;
  }
  .field {
    .field__label {
      font-weight: 600;
      font-size: 16px;
    }
  }
  .field--name-field-client-consent{
    font-weight: 600;
  }
  .field__item {
    margin-bottom: $space;
  }
  .field--name-field-statements  {
    margin-bottom: $space-double;
  }

  .field--name-field-service-suits-job-search {
    margin-bottom: $space-double;
  }

  .content-column {
    padding-right: $space;
    width: 100%;
    >.field {
      margin-bottom: $space-two-and-half;
    }
    //override for field life-situations
    > .field--name-field-life-situations {
      margin-bottom: 0;
    }
  }
  .content-sidebar {
    .contact-info-wrapper,
    .additional-info-wrapper {
      @include xl {
        border-bottom: 2px solid clr(background);
        border-radius: 4px;
        margin-bottom: $space-double;
      }
      >div {
        margin-bottom: $space-double;
      }
    }
    .field--name-field-service-producer,
    .field--name-entitygroupfield {
      .field__item {
        margin-bottom: 0;
      }
    }

    .archiving-guides {
      @include xl {
        margin-bottom: $space-triple;
      }
      margin-bottom: $space-double;
    }

    .sharing-options {
      .btn {
        padding: 0;
        &:focus-visible {
          outline: 2px solid clr(accent-high);
          border-radius: 0;
        }
      }
    }
  }

  .field--name-field-public-files,
  .field--name-field-internal-files,
  .field--name-field-file  {
    margin-bottom: $space-one-and-half;
  }

  .field--name-field-implementation-extra-info,
  .field--name-field-service-price,
  .field--name-field-service-languages,
  .field--name-field-service-language,
  .icon-wrapper.sibling-margin-bottom + .field--name-field-service-set{
    margin-bottom: $space-double;
    @include large {
      margin-bottom: $space-two-and-half;
    }
  }



  .field--name-field-life-situations,
  .field--name-field-service-set,
  .field--name-field-client-consent {
    .field__items {
      @extend .text-normal;
    }
  }

  .service-language {
    display: inline-flex;
  }

  .field--name-field-responsible-updatee .field__item {
    margin-bottom: 40px;
    a {
      margin-bottom: 0;
    }
  }
  .field--name-field-contact-info {
    >.field__label {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 40px;
    }

    >.field__items {
      >.field__item {
        margin-bottom: 40px;
      }
    }
    .field {
      margin-bottom: 0;
    }
    .field--name-field-municipality-name {
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: $space;
      &::after {
        content: ":";
      }
    }

    .field--name-field-description-plain {
      margin-bottom: $space;

    }

    .field--name-field-contact-info {
      >.field__item,
      >.field__items >.field__item {
        margin-bottom: $space;
      }
    }

    .field--name-field-contact-name {
      font-weight: 600;
    }

  }

}

.field--name-field-public-links,
.field--name-field-internal-links,
.field--name-field-service-links-external,
.field--name-field-link {
  .field__items {
    display: flex;
    flex-wrap: wrap;
  }
  .field__item {
    margin-bottom: $space-one-and-half;
    a {
      font-weight: 600;
      @extend .text-normal;
    }
  }
}

.field--name-field-service-execution {
  margin-bottom: $space-double;
}

.field--name-field-service-implement {
  .field__label {
    display: inline-flex;
  }
  h5 {
    margin-left: $space;
  }
}

.field--name-field-service-producer {
  a {
    word-wrap: anywhere;
  }
}

//Inline field theming
.field--content--inline {
  .field__items {
    @include large {
      display: inline;
    }
  }
  .field__item {
    display: inline;
  }
}

.field--content--blue {
  .field__item {
    color: clr(alt-header-color);
  }
}

.field--content--margin-bottom-two-and-half {
  margin-bottom: $space-two-and-half;
}

.field--content--margin-bottom-two {
  margin-bottom: $space-double;
}

.service-group {
  margin-bottom: $space-two-and-half;
  @include large {
    margin-bottom: $space-triple;
  }
  @include xl {
    margin-bottom: $space-three-and-half;
  }
}

.page-node-type-service {
  .field--content--margin-left-two-and-half,
  .field--name-field-service-set {
    margin-left: $space-two-and-half;
    .h6 {
      margin-left: 0;
      margin-bottom: $space-one-half;
    }
  }
  .field--name-field-other-services {
    .card__heading  {
      margin-bottom: 24px;
      span {
        font-size: 13px;
        line-height: 16px;
        font-weight: 700;
        color: clr(alt-header-color);
        @include large {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
    .field--name-field-description {
      @extend .text-small;
    }
  }
  .page-heading {
    @include xl {
      max-width: 90%;
    }
  }
}

.page-node-type-service .work-guidance {
  .group-right {
    .toc-anchor:before {
      content: '';
      display: block;
      height: 110px;
      margin-top: -110px;
      visibility: hidden;
    }
  }
  .group-left {
    border-right: 2px solid $blue10;
    @include xl {
      height: calc(100% - 141px);
    }
    .group-left-inner {

    }
  }
  .toc-js {
    border-left: 6px solid $accent-pink;
    nav {
      @include xl {
        overflow: auto;
        margin-left: 2em;
        margin-right: 1rem;
        max-height: calc(100vh - 190px);
      }
    }
    ul {
      padding-left: 0;
      margin-bottom: 0;
    }
    li {
      margin-bottom: 0;
      @include xl {
        margin-bottom: 0;
      }
      &.toc-h2 {
        padding-left: 0;
        > ul {
          margin-bottom: 0;
          li {
            margin-bottom: 0;
          }
        }
      }
      &:before {
        content: none;
      }
      a {
        @include desktop {
          font-size: 18px;
        }
        color: $black;
        font-weight: 600;
        display: block;
        margin-bottom: 0.2rem;
        &:hover {
          font-weight: bold;
        }
      }
      &.toc-active {
        > a {
          font-weight: bold;
          border-bottom: 1px solid $black;
        }
      }
    }

  }
}

.icon-wrapper {
  position: relative;
  >.icon {
    position: absolute;
    margin-top: 9px;
  }
}

.field__label--margin-bottom {
  margin-bottom: $space-double;
  @include large {
    margin-bottom: $space-three-and-half;
  }
}

.field--name-field-other-services {
  width: 100%;
}


.service .field--name-field-contact-info-external {
  margin-bottom: $space-two-and-half;
  .field {
    margin-bottom: 0;
  }
}

.field--name-field-contact-name {
  font-weight: 600;
}

.first-group-bottom {
  >div {
    flex: 1;
  }
}
