.view-id-solr_service_search {
  display: flex;
  flex-wrap: wrap;

  .view-header {
    @extend .col-6;
    @extend .col-xl-6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
    @include large {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
    strong {
      font-size: 15px;
    }
    .total-number {
      display: inline-block;
      width: min-content;
      background-color: clr(text-inverse);
      padding: 4px 8px;
      color: clr(background-section);
      border-radius: 8px;
      font-size: 15px;
      @include large {
        display: inline-block;
        height: min-content;
      }
    }
  }

  .view-filters {
    order: 1;
    width: 100%;
    display: flex;
  }

  .view-content {
    order: 3;
    width: 100%;
  }

  .pager {
    order: 4;
    width: 100%;
  }

  .form--inline {
    > .search-autocomplete-wrapper {
    }
    > .form-item {
      &:last-of-type {
        display: block;
        strong {
          font-size: 15px;
        }
      }
    }
    > .form-item:nth-last-of-type(2) {
      display: flex;
      flex-direction: column;
      @include large {
        flex-direction: row;
      }

      label {
        justify-content: end;
        display: flex;
        @include large {
          display: block;
        }
      }
    }
  }

}

.search-page {
  .main-content {
    .region-content {
      // @include small {
        display: grid;
      //   grid-template-columns: 1fr 1fr;
      // }
      // @include large {
      //
      //   grid-template-columns: 9fr 3fr;
      // }
      @include xl {
        grid-template-columns: 1fr 10fr 1fr;
      }
      @include xxl {
        grid-template-columns: 2fr 8fr 2fr;
      }
    }
  }
  #block-system-breadcrumb-block {
    // grid-column-start: 1;
    // grid-column-end: 3;
    @include xl {
      grid-column-start: 2;
    }
  }

  #block-system-main-block {
    // grid-column-start: 2 span;
    padding: $space-one-and-half;
    @include large {
      // grid-row-start: 2;
      // grid-row-end: 5;
      // grid-column-start: 1;
      // border-right: 2px solid $blue80;
    }
    @include xl {
      grid-column-start: 2;
    }

    .views-element-container {
    }
  }

  #block-hel-tpm-url-shortener-form {
    margin-top: $space-double;
    margin-left: $space-two-and-half;
    // @include large {
    //   grid-row-start: 3;
    //   grid-row-end: 4;
    //   grid-column-start: 2;
    // }
    // @include xl {
    //   grid-column-start: 3;
    // }
  }

  #block-hel-print-pdf-block {
    // width: max-content;
    display: block;

    // margin-top: $space-double;
    // margin-left: $space-two-and-half;
    // @include large {
    //   grid-row-start: 2;
    //   grid-row-end: 3;
    //   grid-column-start: 2;
    // }
    // @include xl {
    //   grid-column-start: 3;
    // }
  }

  #block-views-block-services-block-3 {
    // grid-column-start: 1;
  }

}
#block-views-exposed-filter-block-service-search-special-search-filters,
#block-views-exposed-filter-block-service-search-search-page-filters,
#block-nakyvakaavakeservice-searchpage-1 {
  @extend .col-md-12;
}

#block-views-exposed-filter-block-service-search-search-mobile-filters {
  position: relative;
  .search-autocomplete-wrapper {
    width: 69%;
    right: 10px;
    position: absolute;
    top: -39px;
    .form-item {
      max-width: 100%;
    }
    #hel-tpm-search-autocomplete {
      width: 100%;
    }
  }
  .icon--absolute-right-forty {
    top: -25px;
    right: 20px;
    position: absolute;
  }
  details {
    padding-top: $space;
  }

  summary {
    display: none;
  }
  .details-wrapper {
    display: flex;
    overflow: scroll;
    margin-top: 16px;
    .form-item__dropdown {
      width: max-content;
    }
    .reset-wrapper {
      margin-bottom: 1em;
      display: flex;
      .icon {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}


.view-solr-service-search .view-filters {
  position: relative;

  .dropdownMultiselect {
    display: none;
  }

  .search-autocomplete-wrapper {
    >.js-form-type-textfield {
        @include xl {
          margin: auto;
      }
    }
  }
  .filters-wrapper {
    @include large {
      margin-top: $space-double;
    }
    @include xl {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .exposed-filters {
    max-width: $max-width;
    .filters {
      display: flex;
      flex-wrap: wrap;
      .form-item {
        @include xl {
          margin-bottom: 0;
        }
      }
    }
  }
  .bef--secondary {
    @include xl {
      display: block;
    }
    summary {
      font-size: 12px;
      color: $blue100;
      font-weight: 700;
      display: flex;
      align-items: center;
      height: 32px;
      &::marker {
        content: '';
      }
    }
    summary[aria-expanded="true"] {
    }
    .additional-filters {
      @include large {
        margin-left: $space-double;
      }
    }
    .reset-wrapper,
    .additional-filters {
      @include xl {
        margin-left: $space-double;
      }
      a {
        text-decoration: none;
      }
    }

    .details-wrapper {
      display: flex;
      padding-top: 28px;
      padding-bottom: 28px;
      @extend .col-md-12;
      @include xl {
        left: 0;
        position: absolute;
        justify-content: center;
      }
      .form-item {
        margin-bottom: 0;
      }

      .form-item__label {
        @extend .visually-hidden;
      }

    }
  }
}


// header override for search page
