.block--header-search-block {
  .text-search-wrapper {
    position: relative;
    .form-actions {
      position: absolute;
      right: 0;
      height: 100%;
      display: flex;
      align-items: center;
      input.form-submit {
        color: transparent;
        background-color: transparent;
        background-image: url('/themes/custom/palvelumanuaali/images/icons/magnifier.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 24px;
        height: 24px;
        margin-top: 0;
        padding: 0;
        margin-right: $space-one-and-half;
      }
    }

  }
}

.view-solr-service-search {
  .text-search-wrapper {
    // only for mobile
    @media only screen and (max-width: $large) {
      position: relative;
      width: 100%;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      .search-autocomplete-wrapper {

      }
      .form-actions {
        position: absolute;
        top: 0;
        right: 0;
        input.form-submit {
          color: transparent;
          background-color: transparent;
          background-image: url('/themes/custom/palvelumanuaali/images/icons/magnifier.svg');
          background-repeat: no-repeat;
          background-position: center;
          width: 24px;
          padding-left: 0;
          padding-right: 0;
          margin-right: $space-one-and-half;
        }
      }
    }
  }
}

.search-form {
  .page-header {
    margin-bottom: $space-two-and-half;
  }
  .text-search-wrapper {
    display: flex;
    margin-bottom: $space;
    @include xl {
      margin-bottom: 0;
      margin-left: 60px;
    }

    //this should be themed at the same time as header search
    .form-item-search-api-fulltext{
      .form-text {
        margin: 0;
      }
    }
    input.form-submit {
      margin-left: $space;
      font-size: 14px;
      padding: 12px 32px;
      border-radius: 8px;

    }
  }
}



.search-page {
  #block-palvelumanuaali-page-title {
    grid-row: 1;
    text-align: center;
    @include xl {
        grid-column: 2;
    }
  }
  .text-search-wrapper {
    .form-actions {
      position: relative;
    }
    input[data-drupal-selector="edit-reset"] {
      position: absolute;
      top: 0;
      left: -36px;
      padding: 0;
      color: transparent;
      @extend .button--reset;
      @extend .icon--small;
      margin: 12px 0 12px 0;
      background-size: contain;
      background-image: url("/themes/custom/palvelumanuaali/images/icons/close.svg");
      background-repeat: no-repeat;
      background-position: center;
      &:hover {
        background-color: transparent;
        color: transparent;
      }
    }
  }
  .select2-search__field {
    display: none;
  }
    .select2-results__options {
      padding-left: 0;
      padding-right: 0;
    }
  .select2-results__option,
  .select2-results__option--highlighted[aria-selected] {
      display: block;
      font-size: 0.875em;
      padding: 0.6em $space-two-and-half 0.6em $space-triple;
      white-space: nowrap;
      color: clr(text);
      font-weight: 400;
      &:hover,
      &:focus {
        background: clr(background);
        font-weight: 400;
        color: clr(text);
      }
  }
  .select2-results__option[aria-selected="true"] {
    font-weight: 400;
    color: clr(text);
    &::before {
      left: 18px;
      width: 12px;
      height: 12px;
      font-size: 9px;
    }
  }
}



.view-id-solr_service_search {
  display: flex;
  flex-wrap: wrap;

  .control-wrapper {
    padding: $space-double 0 $space-one-and-half 0;
    border-bottom: 1px solid $blue40;
  }
  .view-header {
    @extend .col-6;
    @extend .col-xl-6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
    margin-bottom: $space;
    @include medium {
      margin-top: -4.5rem;
    }
    @include large {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
    strong {
      font-size: 15px;
    }
    .total-number {
      display: inline-block;
      width: min-content;
      background-color: clr(text-inverse);
      padding: 4px 8px;
      color: clr(background-section);
      border-radius: 8px;
      font-size: 15px;
      @include large {
        display: inline-block;
        height: min-content;
      }
    }
  }

  .view-filters {
    order: 1;
    width: 100%;
    display: flex;
  }

  .view-content {
    order: 3;
    width: 100%;
  }

  .pager {
    order: 4;
    width: 100%;
  }

  .form--inline {
    > .search-autocomplete-wrapper {
    }
    > .form-item {
      &:last-of-type {
        display: block;
        strong {
          font-size: 15px;
        }
      }
    }
    > .form-item:nth-last-of-type(2) {
      display: flex;
      flex-direction: column;
      @include large {
        flex-direction: row;
      }

      label {
        justify-content: end;
        display: flex;
        @include large {
          display: block;
        }
      }
    }
  }

}

.search-page {
  .main-content {
    .region-content {
        display: grid;
      @include xl {
        grid-template-columns: 1fr 10fr 1fr;
      }
      @include xxl {
        grid-template-columns: 2fr 8fr 2fr;
      }
    }
  }
  #block-system-breadcrumb-block {
    @include xl {
      grid-column-start: 2;
    }
  }

  #block-system-main-block {
    padding: $space-one-and-half;
    @include xl {
      grid-column-start: 2;
    }

    .views-element-container {
    }
  }

  #block-hel-tpm-url-shortener-form {
    margin-top: $space-double;
    margin-left: $space-two-and-half;
  }

  #block-hel-print-pdf-block {
    display: block;
  }
}
#block-views-exposed-filter-block-service-search-special-search-filters,
#block-views-exposed-filter-block-service-search-search-page-filters,
#block-nakyvakaavakeservice-searchpage-1 {
  @extend .col-md-12;
}

#block-views-exposed-filter-block-service-search-search-mobile-filters {
  position: relative;
  .search-autocomplete-wrapper {
    width: 69%;
    right: 10px;
    position: absolute;
    top: -39px;
    .form-item {
      max-width: 100%;
    }
    #hel-tpm-search-autocomplete {
      width: 100%;
    }
  }
  .icon--absolute-right-forty {
    top: -25px;
    right: 20px;
    position: absolute;
  }
  details {
    padding-top: $space;
  }

  summary {
    display: none;
  }
  .details-wrapper {
    display: flex;
    overflow: scroll;
    margin-top: 16px;
    .form-item__dropdown {
      width: max-content;
    }
    .reset-wrapper {
      margin-bottom: 1em;
      display: flex;
      .icon {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}


.view-solr-service-search .view-filters {
  position: relative;

  .dropdownMultiselect {
    display: none;
  }

  .search-autocomplete-wrapper {
    >.js-form-type-textfield {
        @include xl {
          margin: auto;
      }
    }
  }
  .filters-wrapper {
    @include large {
      margin-top: $space-double;
    }
    @include xl {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

  }

  .exposed-filters {
    max-width: $max-width;
    .main-filters {
      display: flex;
      flex-wrap: wrap;
      @include xl {
        margin-left: 60px;
      }
      .form-item {
        @include xl {
          margin-bottom: 0;
        }
      }

    }
    .secondary-filters {
      &.collapsing,
      &.show {
        display: flex;
        flex-wrap: wrap;
        @include xl {
          margin-left: 60px;
        }
      }
    }
  }
  .control-wrapper {
    display: flex;
    justify-content: space-between;
    .collapse-toggler,
    .form-submit  {
      font-size: $small-caption;
      font-weight: 700;
      text-decoration: none;
      background: unset;
      padding: 0;
      margin: 0;
      color: clr(background-section);
    }

    .collapse-toggler  {
      position: relative;
      padding-right: 24px;
      display: block;
      &:before {
        background-image: url("/themes/custom/palvelumanuaali/images/icons/arrow-sm-down.svg");
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: 1px;
        position: absolute;
        width: 100%;
        height: 100%;
        content:"";
      }
    }
      .collapse-toggler[aria-expanded="true"]  {
        &:before {
          transform: rotateX(180deg);
        }
      }
  }

  .bef--secondary {
    @include xl {
      display: block;
    }
    summary {
      font-size: 12px;
      color: $blue100;
      font-weight: 700;
      display: flex;
      align-items: center;
      height: 32px;
      &::marker {
        content: '';
      }
    }
    .additional-filters {
      @include large {
        margin-left: $space-double;
      }
    }
    .reset-wrapper,
    .additional-filters {
      @include xl {
        margin-left: $space-double;
      }
      a {
        text-decoration: none;
      }
    }

    .details-wrapper {
      display: flex;
      padding-top: 28px;
      padding-bottom: 28px;
      @extend .col-md-12;
      .form-item {
        margin-bottom: 0;
      }

      .form-item__label {
        @extend .visually-hidden;
      }
    }
  }
}

.view-solr-service-search {
  .view-filters {
    .js-form-type-select {
      flex-grow: unset;
    }

    /* Search sort element's position and size. */
    .form-item-sort-bef-combine {
      float: left;
      display: flex;
      margin-top: $space-double;
      flex: unset;
      @include medium {
        float: right;
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-left: auto;
        margin-top: $space-four-and-half;
      }
      > label {
        align-self: flex-end;
        justify-self: right;
        margin-bottom: 6px;
        padding-right: $space;
        font-size: 14px;
      }
      /* Select element for search sort. */
      .form-item__dropdown {
        align-self: flex-end;
        border: 2px solid $blue40;
        .select2-container--palvelumanuaali {
          @extend .multi-select-button;
          box-shadow: unset;
          .select2-selection--single {
            height: 24px;
          }
          .select2-selection--single .select2-selection__rendered {
            background: transparent !important;
            font-size: 14px !important;
            line-height: 24px !important;
          }
          .select2-selection__arrow {
            display: none;
          }
        }
      }
    }
  }
}
