.view-display-id-page_1 {
  display: flex;
  flex-wrap: wrap;

  .view-header {
    @extend .col-6;
    @extend .col-xl-6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include large {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
    strong {
      font-size: 15px;
    }
    .total-number {
      display: inline-block;
      width: min-content;
      background-color: clr(text-inverse);
      padding: 4px 8px;
      color: clr(background-section);
      border-radius: 8px;
      font-size: 15px;
      @include large {
        display: inline-block;
        height: min-content;
      }
    }
  }

  .view-filters {
    @extend .col-6;
    @extend .col-xl-6;
    display: flex;
    justify-content: flex-end;
  }

  .form--inline {
    > .search-autocomplete-wrapper {
    }
    > .form-item {
      &:last-of-type {
        display: block;
        strong {
          font-size: 15px;
        }
      }
    }
    > .form-item:nth-last-of-type(2) {
      display: flex;
      flex-direction: column;
      @include large {
        flex-direction: row;
      }

      label {
        justify-content: end;
        display: flex;
        @include large {
          display: block;
        }
      }
    }
  }

}

.search-page {
  .main-content {
    >div {
      @include small {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      @include large {

        grid-template-columns: 9fr 3fr;
      }
      @include xl {
        grid-template-columns: 1fr 7fr 4fr;
      }
    }
  }
  #block-system-breadcrumb-block {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #block-system-main-block {
    grid-column-start: 2 span;
    padding: $space-one-and-half;
    @include large {
      grid-row-start: 2;
      grid-row-end: 5;
      grid-column-start: 1;
      border-right: 2px solid $blue80;
    }
    @include xl {
      grid-column-start: 2;
    }

    .views-element-container {
    }
  }

  #block-hel-tpm-url-shortener-form {
    margin-top: $space-double;
    margin-left: $space-two-and-half;
    @include large {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 2;
    }
    @include xl {
      grid-column-start: 3;
    }
  }

  #block-hel-print-pdf-block {
    width: max-content;
    display: block;

    margin-top: $space-double;
    margin-left: $space-two-and-half;
    @include large {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
    }
    @include xl {
      grid-column-start: 3;
    }
  }

  #block-views-block-services-block-3 {
    grid-column-start: 1;
  }

}
#block-views-exposed-filter-block-service-search-special-search-filters,
#block-views-exposed-filter-block-service-search-search-page-filters,
#block-nakyvakaavakeservice-searchpage-1 {
  @extend .col-md-12;
}

#block-views-exposed-filter-block-service-search-search-mobile-filters {
  position: relative;
  .search-autocomplete-wrapper {
    width: 69%;
    right: 10px;
    position: absolute;
    top: -39px;
    .form-item {
      max-width: 100%;
    }
    #hel-tpm-search-autocomplete {
      width: 100%;
    }
  }
  .icon--absolute-right-forty {
    top: -25px;
    right: 20px;
    position: absolute;
  }
  details {
    padding-top: $space;
  }

  summary {
    display: none;
  }
  .details-wrapper {
    display: flex;
    overflow: scroll;
    margin-top: 16px;
    .form-item__dropdown {
      width: max-content;
    }
    .reset-wrapper {
      margin-bottom: 1em;
      display: flex;
      .icon {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}


#views-exposed-form-service-search-page-1 {
  >.form--inline {
    @include large {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

#views-exposed-form-service-search-page-1,
#views-exposed-form-service-search-special-search-filters,
#views-exposed-form-service-search-search-page-filters {
  position: relative;

  .dropdownMultiselect {
    display: none;
  }

  .search-autocomplete-wrapper {
    >.js-form-type-textfield {
        @include xl {
          margin: auto;
      }
    }
  }
  .filters-wrapper {
    @include large {
      margin-top: $space-double;
    }
    @include xl {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .exposed-filters {
    max-width: $max-width;
    .filters {
      display: flex;
      flex-wrap: wrap;
      .form-item {
        @include xl {
          margin-bottom: 0;
        }
      }
    }
  }
  .bef--secondary {
    @include xl {
      display: block;
    }
    summary {
      font-size: 12px;
      color: $blue100;
      font-weight: 700;
      display: flex;
      align-items: center;
      height: 32px;
      &::marker {
        content: '';
      }
    }
    summary[aria-expanded="true"] {
    }
    .additional-filters {
      @include large {
        margin-left: $space-double;
      }
    }
    .reset-wrapper,
    .additional-filters {
      @include xl {
        margin-left: $space-double;
      }
      a {
        text-decoration: none;
      }
    }

    .details-wrapper {
      display: flex;
      padding-top: 28px;
      padding-bottom: 28px;
      @extend .col-md-12;
      @include xl {
        left: 0;
        position: absolute;
        justify-content: center;
      }
      .form-item {
        margin-bottom: 0;
      }

      .form-item__label {
        @extend .visually-hidden;
      }

    }
  }
}


// header override for search page
.search-page {
  .header {
    #block-suosikit,
    #block-kielenvaihtaja,
    #block-kirjautuminen,
    #block-kayttajavalikko  {
      @include large {
        position: absolute;
      }
    }
      #block-suosikit {@include large {left:13px; top: 50px; z-index: 100;}}
      #block-suosikit {@include xl {left:50px;}}
      #block-kielenvaihtaja {@include large {left:120px; top:50px; z-index: 100;}}
      #block-kielenvaihtaja {@include xl {left:180px;}}
      #block-kirjautuminen {@include large {right:20px; top: 33px; z-index: 100;}}
      #block-kirjautuminen {@include xl {right:50px;}}
      #block-kayttajavalikko {@include large {right:20px; top: 25px; z-index: 100;}}
      #block-kayttajavalikko {@include xl {right:50px;}}

  }
  .main-sidebar {
    background-color: unset;
    @include large {
      background-color: clr(sidebar-color);
    }
    .logo-link {
      display: none;
      @include large {
        display: block;
      }
    }
  }
}
