.service {
  background: clr(sidebar-color);
  border-radius: 16px;
  padding-top: 40px;
  padding-bottom: 40px;
  @include large {
   padding-left: 64px;
   padding-top: 35px;
   padding-right: 32px;
   padding-bottom: 37px;
  }
}
