/* Tab Navigation */
.tabs__nav {
  @include list-reset;

  background: $blue05;

  /* Primary/Blue 40 */

  box-shadow: 0 2px 0 0 clr(form-border);
  border-radius: 4px;

  @include large {
    display: flex;
  }
}


/* Tab Content (hidden only in full #tabs js version) */
.tabs__tab {
  display: none;

  &.is-active {
    display: block;
  }
}

.tabs__content {
  padding: 1.5rem;
}

/* No-js fallback */
.tabs.no-js {
  .tabs__tab.is-active {
    display: block;
  }
}

/* Drupal Local Tasks variant */
.tabs__nav--local-tasks {
  margin-bottom: $space-one-and-half;
  padding: 0;
  @include large {
    display: flex;
    flex-wrap: wrap;
  }
}

.tabs__link--local-tasks {
  padding: 0.3em 1.5em;
}
