.tabs__link,
.tabs__link--local-tasks {
  background-color: transparent;
  border: 0;
  color: clr(alt-header-color);
  display: block;

  font-size: 14px;
  line-height: 24px;

  font-weight: 600;
  padding: 4px 24px;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: clr(background-section);
    box-shadow: 0 2px 0 0 clr(background-section);    
    box-sizing: border-box;
  }

  &.is-active {
    background-color: clr(background-section);
    color: clr(text-inverse);

    @include large {
      border-radius: 4px 4px 0px 0px;
    }
  }
}
