.node-service-edit-form-pager {
  margin-bottom: 44px;
  .multistep-nav-wrapper {
    width: 100%;
  }
  .multistep-nav {
    position: relative;
    display: inline-block;
    width: 25%;
    @include  large {
      width: 20%;
    }
    hr {
      height: 2px;
      color: $blue20;
      position: absolute;
      top: 0;
      width: 100%;
      right: -50%;
      z-index: $zi-below-content;
      opacity: 1;
    }
  }
  .nav-icon {
    margin: auto;
    font-weight: bold;
    height: 32px;
    width: 32px;
    background-color: white;
    border-radius: 19px;
    text-align: center;
    line-height: 32px;
    color: $blue100;
    cursor: pointer;
  }
  .active, .done {
    .nav-icon {
      background-color: $blue100;
      color: white;
    }
  }
  .done {
    .nav-icon path {
      fill: white !important;
    }
    hr {
      color: $blue100;
    }
  }
  .label {
    color: $blue150;
    text-align: center;
    margin-top: 10px;
  }
}

.page-controls {
  margin-bottom: 1rem;
  z-index: $zi-page-controls;
  .button {
    @include button-base;
    @include button-medium;
    @include button-round-corners;
    @include button-no-color;
    border: 2px solid clr(background-section);
    padding-right: $space-one-and-half;
    width: unset;
    font-size: 15px;
    font-weight: 700;
    line-height: 0;
    display: flex;;
    align-items: center;
    justify-content: center;
  }
  .btn-prev {
    svg {
      margin-right: $space-one-half;
    }
  }
  .btn-next {
    float: right;
    @include button-color-blue;
    svg {
      margin-left: $space-one-half;
    }
  }
}

.block--main-block > .node-form > #edit-actions {
  .button {
    @include button-base;
    @include button-medium;
    @include button-round-corners;
    @include button-no-color;
    border: 2px solid clr(background-section);
    padding-left: $space-double;
    padding-right: $space-double;
    width: unset;
    font-size: 15px;
    font-weight: 700;
  }
}


.highlight-error > .label {
  color: clr(error);
}
