@keyframes slide-in {
  100% { transform: translateX(0%); }
}

@keyframes slide-out {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

body:not(.logged-in) {
  .menu--account {
    display: none;
  }
  .header__primary-mobile {
    margin-top: 0;
  }
}


.header {
  width: calc(100% + 32px);
  margin-left: -16px;
  @include large {
    z-index: 200;
    width: 100%;
    margin: auto;
  }

  &--hidden {
    @include large {

      box-shadow: none;
    }
  }

  &__inner {
    width: 100%;
    >.toggle-expand {
      position: absolute;
      top: 0;
      padding: 0;
      padding: 10px;
      width: 44px;
      height: 44px;
      margin-top: 6px;
      margin-left: 6px;
    }
    @include wrapper;
    display: flex;
    flex-flow: column nowrap;
    min-height: 70px;
    @include xs {
      padding: 0;
    }
    @include large {
      max-width: 100%;
      width: 100%;
    }
  }

  &__primary {
    padding: 0;
    z-index: 200;
    background-color: clr(background);
    width: 100%;
    margin-left: -15px;
    padding-top: $space-one-half;
    display: none;
    @include large {
      display: block;
      width: 100%;
      position: relative;
      bottom: unset;
      padding: $space-double $space-double $space-one-and-half $space-double;
      margin-left: unset;
      min-height: 122px;
      &.filters-open {
        @include xl {
          padding-bottom: $space-four-and-half;
        }
      }
      .menu--favorites {
        display: none;
        @include large {
          display: flex;
          flex-direction: row;
          font-size: 12px;
        }
        @include xl {
          font-size: 15px;
        }
      }
      .block-language-blocklanguage-interface {
        display: none;
        @include large {
          display: flex;
          flex-direction: row;
          font-size: 12px;
        }
        @include xl {
          font-size: 15px;
        }
      }
    }
    .block--header-search-block{
      width: 100%;
      float: right;
      margin-bottom: $space-one-half;// TODO: to large?
      display: none;
      @include large  {
        display: block;
        >form {
            text-align: center;
        }
      }
      .text-search-wrapper {
        margin-left: auto;
        margin-right: auto;
        display: inline-block;

        .form-actions {
          top: 0;
          height: 48px;
        }
      }
    }
    .menu--main { display: none;}
    #block-kirjautuminen,
    #block-kayttajavalikko  {
      @include large {
        display: block;
      }
    }

    .menu--additional-links-menu {
      @include large {
        display: none;
      }
    }

  }
  &__primary-mobile {
    margin-top: 40px;
    display: block;
    height: 100%;
    position: fixed;
    inset:0;
    overflow-y: scroll;
    background: white;
    z-index: 300;
    padding: 0 $space;
    margin-left: 0;
    transform:translateX(-100%);
    width:  100%;
    @include large {
      margin-top: inherit;
      position: inherit;
      inset: unset;
      overflow-y: auto;
    }
    &.slide-in {
      animation: slide-in 0.5s forwards;
      -webkit-animation: slide-in 0.5s forwards;
    }
    &.slide-out {
      animation: slide-out 0.5s forwards;
      -webkit-animation: slide-out 0.5s forwards;
      .main-nav {
        display: none;
      }
    }
    .block--header-search-block {
      z-index: 30;
      @include large {
        z-index: unset;
      }
    }

    .block-language-blocklanguage-interface,
    .menu--favorites {
      z-index: 40;
      @include large {
        z-index: unset;
      }
    }
    @include large {
      display: block;
      background: transparent;
      z-index: unset;
      .menu--favorites {display: block}
      position: relative;
      bottom: unset;
      padding: $space-double $space-double $space-one-and-half $space-double;
      margin-left: unset;
      min-height: 104px;
      &.filters-open {
        @include xl {
          padding-bottom: $space-four-and-half;
        }
      }
    }
    .menu--account {
      display: none;
    }
    .search-form {
      display: flex;
    }
    .block--header-search-block{
      width: 100%;
      float: right;
      margin-bottom: $space-one-half;// TODO: to large?
      .text-search-wrapper {
        margin-left: auto;
        margin-right: auto;
        display: inline-block;

        .form-actions {
          top: 0;
          height: 48px;
        }
      }
    }

    .menu--main {
      display: block;
      @include large {
        display: none;
      }
    }
    .main-nav {
      display: block;
      width: 100%;
      width: calc(100% + 2rem);
      margin-left: -1rem;
    }
    .toggle-expand {
      position: absolute;
      top: 0;
      margin-left: -10px;
      padding: 0;
      padding: 10px;
      width: 44px;
      height: 44px;
      margin-top: 6px;
    }

    .block--header-search-block{
      display: block;
    }
    #block-kirjautuminen {
      display: none;
    }
    .menu--favorites {display: block}
  }

  &__branding {
    padding: $space-double;
    max-width: 300px;
    width: 280px;
    background: clr(sidebar-color);
    border-top-right-radius: 47px;
  }
 &__secondary {
   .block-user-login-block {
     position: absolute;
     top: 6px;
     right: 6px;

     @include large {
       display: none;
     }
     .btn-menu {
       padding: 0;
     }
     .link {
       width: 44px;
       height: 44px;
       display: block;
       overflow: hidden;
       color: transparent;
     }
     .icon {
       height: 44px;
       width: 44px;
       padding: 10px;
       top: unset;
       right: unset;
     }
   }
   .menu--account {
     h2 {
       display: none;
     }
     display: block;
     position: absolute;
     top: 0;
     right: 6px;
     @include large {
       display: none;
     }
   }
   .login-button {
     display: block;
     @include large {
       display: none;
     }
   }
 }
}

.header {
  .navigation.menu--favorites,
  .block-language-blocklanguage-interface,
  #block-kirjautuminen,
  .menu--account  {
    @include large {
      position: absolute;
    }
  }
  .block-language-blocklanguage-interface {
    display: inline-block;
    float: right;
    margin-right: 20px;
    @include large {display: block; left:38px; z-index: 100; margin-right: unset;}
    @include xl {left:65px;}
  }
  .menu--favorites {
    display: inline-block;
    float: right;
    @include large {display: block; left:160px; z-index: 100;}
    @include xl {left:213px;}
  }
  #block-kirjautuminen {
    @include large {right:20px; z-index: 100;}
    @include xl {right:50px;}
  }
  #block-kayttajavalikko {
    position: absolute;
    top: 0;
    right: 0;
    @include large {right:20px; top: 25px; z-index: 100;}
    @include xl {right:50px;}
  }

  #block-views-exposed-filter-block-service-search-special-search-filters,
  #block-nakyvakaavakeservice-searchspecial-search-filters,
  #block-nakyvakaavakeservice-searchsearch-page-filters,
  #block-views-exposed-filter-block-service-search-block-1 {
    > h2 {
      @extend .visually-hidden;
    }
    @include xl {
      width: 100%;
    }
  }
}

#block-kirjautuminen {
  display: flex;
  align-items: start;
  flex-direction: column;
  font-size: 9px;
  justify-content: center;
  @include large {
    flex-direction: row;
    font-size: 12px;
  }
  @include xl {
    font-size: 15px;
  }
}

.navigation.menu--favorites {
  .content .menu {
    @include large {
      display: flex;
      align-items: center;
      height: 24px;
    }
  }
  a {
    color: transparent;
    @include xl {
      font-weight: 600;
      color: clr(text);
    }
  }
}

.block-language-blocklanguage-interface {
  .content {
    @include large {
      display: flex;
      align-items: center;
    }
  }
}

.menu--account {
  display: flex;
  align-items: start;
  z-index: 10;
  #accountMenuButton {
    display: flex;
    align-items: center;
    border: 0;
  }
  .view-user-info{
    .view-content {
      display: flex;
      align-items: center;
      &::before {
        content: "";
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        display: block;
        margin-right: 14px;
        background-color: clr(background-section);
        background-image: url("/themes/custom/palvelumanuaali/images/icons/user-white.svg");
        background-position: center;
        background-size: 16px;
        border-radius: 50%;
      }
      margin-bottom: $space-one-and-half;
    }
    .views-row {
      text-align: left;
      .views-field-name {
        a {
          font-weight: 600;
          font-size: 9px;
          color: clr(text);
          text-decoration: none;
          @include large {
            font-size: 12px;
          }
          @include xxl {
            font-size: 15px;
          }
        }
      }
      .views-field-mail {
        color: clr(text);
        span {
            font-size: 9px;
            @include large {
              font-size: 12px;
          }
        }
      }
    }
  }
  .dropdown-menu {
    padding: $space-one-and-half 18px;
    min-width: 220px;
  }
  .dropdown-menu-inner {
    padding: 0 0 0 6px;
    margin-bottom: 0;
  }
  .dropdown-menu-inner__item {
    text-align: left;
    margin-bottom: $space;
    &:first-child {
      .dropdown-menu-inner__link {
        &::before {
          background-image: url("/themes/custom/palvelumanuaali/images/icons/cogwheel.svg");
          content: "";
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          display: block;
          margin-right: 20px;
          background-size: cover;
        }
      }
    }
    &:nth-child(2) {
      .dropdown-menu-inner__link {
        &::before {
          background-image: url("/themes/custom/palvelumanuaali/images/icons/door.svg");
          content: "";
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          display: block;
          margin-right: 20px;
          background-size: cover;
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .dropdown-menu-inner__link {
    font-size: 12px;
    line-height: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: max-content;
  }
}

#block-views-exposed-filter-block-service-search-mobile,
#block-views-exposed-filter-block-service-search-search-mobile-filters{
  position: unset;
  .dropdown-menu {
    width: 100%;
    .form-item {
      width: 100%;
      max-width: 100%;
      input {
        width: 100%;
        border: 2px solid $blue40;
        box-sizing: border-box;
        border-radius: 8px;
        background-image: unset !important;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 50px;
      }
    }
  }
}

#block-kirjautuminen {
  .dropdown-menu {
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(30, 64, 182, 0.2);
    background-color: clr(background-dropdown);
    padding-bottom: 32px;
    top:24px !important;
    @include large {
      width: 336px;
    }
    .form-item {
      position: relative;
      &:focus-within {
        &::before {
          color: clr(alt-header-color)!important;
        }
      }
      label {
        text-align: left;
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 1px;
        color: clr(alt-header-color);
        text-transform: uppercase;
        padding-top: 0;
        padding-bottom: 4px;
        @include large  {
          margin-bottom: 0;
        }
      }
      input {
        border-radius: 8px;
        padding-left: 51px;
        background: clr(sidebar-color);
        &:focus {
          box-shadow: inset 0px 0px 0px 2px clr(background-section);
          outline: none;
        }
      }
      &:first-child {
        &::before {
          @include icons;
          content: "\EA02";
          position: absolute;
          left: 18px;
          bottom: 15px;
          color: clr(gray);
        }

      }
      &:nth-child(2) {
        &::before {
          @include icons;
          content: "\EA04";
          position: absolute;
          left: 18px;
          bottom: 15px;
          color: clr(gray);
        }
        &:focus {
          &::before {
            color: clr(alt-header-color);
          }
        }
      }
    }
    .form-actions{
      display: flex;
      justify-content: flex-end;
    }
    ul {
      list-style: none;
      margin-bottom: 0;
      padding: 0;
      width: fit-content;
      margin-top: -32px;
    }
    a {
      font-size: 12px;
      color: clr(background-section);
      font-weight: 600;
      line-height: 24px;
    }
  }
}

.search-autocomplete-wrapper {
  position: relative;
  display: inline-block;
  >.form-item {
    margin-bottom: 0;
  }
}


.main-sidebar {
  .search-history-wrapper,
  .hel-search-autocomplete {
    max-width: unset;
  }
}

.search-history-wrapper[style*="display: block"]~.form-item-search-api-fulltext #hel-tpm-search-autocomplete,
.hel-search-autocomplete[style*="display: block"]~.form-item-search-api-fulltext #hel-tpm-search-autocomplete,
.search-dropdown-wrapper[style*="display: block"]~.form-item-search-api-fulltext #hel-tpm-search-autocomplete {
  box-shadow: unset;
  border-top: 2px solid clr(background-section);
  border-right:  2px solid clr(background-section);
  border-left: 2px solid clr(background-section);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.search-history-wrapper,
.hel-search-autocomplete {
    z-index: 210;
    margin-top: 42px;
    position: absolute;
    width: 100%;
    background-color: clr(text-inverse);
    border-top: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    .title {
      letter-spacing: 1px;
      line-height: 24px;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      color: clr(gray);
      padding: 4px 0 4px 0;
    }

    #search-history,
    #search-suggestions {
      .suggestion-item {
        &::before {
          @include icons;
          content: "\EA06";
          height: 16px;
          width: 16px;
          margin-top: auto;
          margin-bottom: auto;
          margin-right: $space;
          color: $blue40;
        }
        &:hover {
          &::before {
            color: $blue80;
          }
        }
      }
    }
    .item-list{
      margin-top: $space-one-half;
      margin-bottom: $space-one-half;
    }
    .suggestion-item {
      padding: $space-one-half $space-one-half $space-one-half $space-one-and-half;
      display: flex;
      &:hover {
        background-color: clr(background);
      }
      a {
        color: clr(text);
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
}

#hel-tpm-search-autocomplete {
    box-shadow: inset 0px 0px 0px 2px clr(form-border);
    box-sizing: border-box;
    border-width: 0;
    border-radius: 8px;
    background-image: unset !important;
    background-color: clr(text-inverse);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    width: 100%;
    line-height: 24px;
    outline: 0;
    &:focus {
      box-shadow: inset 0px 0px 0px 2px clr(background-section);
    }
    @include large {
      max-width: 300px;
    }
    @include xxl {
      max-width: none;
    }
}
