.header {
  @include large {
    position: inherit;
    bottom: unset;
  }
  &__inner {
    @include wrapper;

    display: flex;
    flex-flow: column nowrap;

    @include xs {
      padding: 0;
    }
  }

  &__primary {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    z-index: 200;
    background-color: clr(background);
    width: 100%;
    margin-left: -15px;
    padding-top: $space-one-half;
    @include large {
      position: relative;
      bottom: unset;
      padding: $space-double $space-double $space-one-and-half $space-double;
      margin-left: unset;
    }
  }

  &__branding {
    padding: $space-double;
    max-width: 300px;
    width: 280px;
    background: clr(sidebar-color);
    border-top-right-radius: 47px;
  }



}


.header {
  #block-views-exposed-filter-block-service-search-special-search-filters,
  #block-nakyvakaavakeservice-searchspecial-search-filters,
  #block-nakyvakaavakeservice-searchsearch-page-filters,
  #block-views-exposed-filter-block-service-search-block-1 {
    display: none;
    > h2 {
      @extend .visually-hidden;
    }
    @include large {
      width: 100%;
      display: block;
    }
  }
}

#block-suosikit,
#block-kielenvaihtaja,
#block-kirjautuminen {
  display: flex;
  align-items: start;
  flex-direction: column;
  font-size: 9px;
  justify-content: center;
  @include large {
    flex-direction: row;
    font-size: 15px;
  }
}

#block-suosikit {
  @include large {
    //top: 50px;
  }
  .content {
    @include large {
      display: flex;
    }
  }
  .icon--margin-right {
    margin-right: auto;
    @include large {
      margin-right: 12px;
    }
  }
}

#block-kielenvaihtaja {
  .content {
    @include large {
      display: flex;
    }
  }
}

#block-kayttajavalikko {
  display: flex;
  align-items: start;
  #accountMenuButton {
    display: flex;
    align-items: center;
    .views-row {
      text-align: left;
      .views-field-name {
        a {
          font-weight: 600;
          font-size: 9px;
          color: clr(text);
          text-decoration: none;
          @include large {
            font-size: 14px;
          }
        }
      }
      .views-field-mail {
        color: clr(text);
        span {
            font-size: 9px;
            @include large {
              font-size: 12px;
          }
        }
      }
    }
  }
  .dropdown-menu {
    width: 180px;
  }
  .dropdown-menu__item {
    text-align: left;
    &:first-child {
      .dropdown-menu__link {
        &::before {
          @include icons;
          content: "\EA02";
          color: clr(background-section);
          margin-right: $space;
        }
      }
    }
    &:nth-child(2) {
      .dropdown-menu__link {
        &::before {
          @include icons;
          content: "\EA01";
          color: clr(background-section);
          margin-right: $space;
        }
      }
    }
  }
}

#block-views-exposed-filter-block-service-search-mobile,
#block-views-exposed-filter-block-service-search-search-mobile-filters{
  position: unset;
  .dropdown-menu {
    width: 100%;
    .form-item {
      width: 100%;
      max-width: 100%;
      input {
        width: 100%;
        border: 2px solid #AFCEFD;
        box-sizing: border-box;
        border-radius: 8px;
        background-image: unset !important;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 50px;
      }
    }
  }
}

#block-kirjautuminen {
  @include large {
    position: absolute;
    right: 50px;
  }
  .dropdown-menu {
    margin-top: 70px !important;
    border-radius: 8px;
    @include large {
      width: 310px;
    }
    .form-item {
      position: relative;
      label {
        text-align: left;
        font-weight: bold;
        letter-spacing: 1px;
        color: clr(alt-header-color);
      }
      input {
        border-radius: 4px 4px 0px 0px;
        border-left: 0;
        border-top: 0;
        border-right: 0;
        border-bottom: 2px solid #AFCEFD;
        padding-left: 35px;
      }
      &:first-child {
        &::before {
          @include icons;
          content: "\EA02";
          position: absolute;
          left: 10px;
          bottom: 15px;
        }
      }
      &:nth-child(2) {
        &::before {
          @include icons;
          content: "\EA04";
          position: absolute;
          left: 10px;
          bottom: 15px;
        }
      }
    }
    .form-actions{
      display: flex;
      justify-content: flex-end;
      .button {
        @include button-color-blue;
        @include button-round-corners;
      }
    }
    ul {
      list-style: none;
      display: flex;
      margin-top: -35px;
    }
    a {
      font-size: 12px;
      color: clr(background-section);
    }
  }
}

.search-autocomplete-wrapper {
  position: relative;
  display: inline-block;
  >.form-item {
    margin-bottom: 0;
  }
}


.main-sidebar {
  .search-history-wrapper,
  .hel-search-autocomplete {
    max-width: unset;
    @include large {
      max-width: unset;
    }
  }
}

.search-history-wrapper,
.hel-search-autocomplete {

    z-index: 210;
    margin-top: -5px;
    position: absolute;
    width: 100%;
    background-color: clr(text-inverse);
    border: 2px solid #AFCEFD;
    border-top: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0px 8px 16px rgba(30, 64, 182, 0.2);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    max-width: 512px;

    @include large {
      max-width: 374px;
    }
    @include xl {
      max-width: 512px;
    }

    .title {
      letter-spacing: 1px;
      text-transform: uppercase;
      color: clr(gray);
      padding: 4px 0 4px 0;
    }

    #search-history,
    #search-suggestions {
      .suggestion-item {
        &::before {
          @include icons;
          content: "\EA06";
          height: 16px;
          width: 16px;
          margin-top: auto;
          margin-bottom: auto;
          margin-right: $space;
          color: $blue40;
        }
      }
    }

    .suggestion-item {
      padding: $space-one-half $space-one-half $space-one-half $space-one-and-half;
      display: flex;

      &:first-child {
        padding-top: $space;
      }
      &:last-child {
        padding-bottom: $space;
      }

      a {
        color: clr(text);
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
}

#hel-tpm-search-autocomplete {
    border: 2px solid #AFCEFD;
    box-sizing: border-box;
    border-radius: 8px;
    background-image: unset !important;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;

    @include large {
      max-width: 374px;
    }

    @include  xl {
      max-width: 576px;
    }
}
