@keyframes slide-in {
  100% { transform: translateX(0%); }
}


@keyframes slide-out {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@keyframes slide-out-right {
  0% { transform: translateX(0%); }
  100% { transform: translateX(100%); }
}

body:not(.logged-in) {
  .menu--account {
    display: none;
  }

}

body:not(.admin-toolbar-enabled) {
  .header__primary-mobile {
    margin-top: 0;
  }
}


.slide-in-menu {
  margin-top: 40px;
  display: block;
  height: 100%;
  position: fixed;
  inset:0;
  overflow-y: scroll;
  background: white;
  z-index: 300;
  padding: 0 $space;
  margin-left: 0;
  transform:translateX(-100%);
  width:  100%;
  max-width: 100vw;
  @include large {
    margin-top: inherit;
    position: inherit;
    inset: unset;
    overflow-y: auto;
  }
  &.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
  }
  &.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
    .main-nav {
      display: none;
    }
  }
}

.slide-in-loginform {
  padding-top: 40px;
  display: block;
  height: 100%;
  position: fixed;
  inset:0;
  overflow-y: scroll;
  background-color: clr(background-dropdown);
  z-index: 300;
  padding: 0 $space;
  margin-left: 0;
  transform:translateX(100%);
  width:  100%;
  max-width: 100vw;
  @include xl {
    margin-top: inherit;
    position: inherit;
    inset: unset;
    overflow-y: auto;
    display: none;
  }
  > .btn {
    margin-left: calc(-1 * $space);
    margin-top: $space-one-half;
  }
  &.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
  }
  &.slide-out-right {
    animation: slide-out-right 0.5s forwards;
    -webkit-animation: slide-out-right 0.5s forwards;
    .main-nav {
      display: none;
    }
  }
  .form-submit {
    width: 100%;
  }
  .login-text {
    font-weight: 600;
    margin-top: -34px;
    text-align: center;
  }
  > ul {
    padding-left: 0;
    text-align: center;
    padding-top: $space-double;
    a {
      text-decoration: none;
      font-weight: 600;
    }
  }
  .user-login-form {
    margin-top: $space-two-and-half;
  }
}



.header {
  width: calc(100% + 32px);
  margin-left: -16px;
  position: relative;
  @include large {
    z-index: 200;
    width: 100%;
    margin: auto;
  }

  &--hidden {
    @include large {

      box-shadow: none;
    }
  }

  &__inner {
    width: 100%;
    position: relative;
    z-index: 105;
    >.toggle-expand {
      position: absolute;
      top: 0;
      padding: 0;
      padding: 10px;
      width: 44px;
      height: 44px;
      margin-top: 6px;
      margin-left: 23px;
    }
    @include wrapper;
    display: flex;
    flex-flow: column nowrap;
    min-height: 70px;
    @include xs {
      padding: 0;
    }
    @include large {
      max-width: 100%;
      z-index: 0;
      width: 100%;
    }
  }

  &__primary {
    padding: 0;
    z-index: 200;
    background-color: clr(background);
    width: 100%;
    margin-left: -15px;
    padding-top: $space-one-half;
    display: none;
    // TODO:
    margin-top: 40px;
    display: block;
    height: 100%;
    position: fixed;
    inset:0;
    overflow-y: scroll;
    background: white;
    z-index: 300;
    padding: 0 $space;
    margin-left: 0;
    transform:translateX(-100%);
    width:  100%;
    max-width: 100vw;

    > a {
        display: inherit;
    }
    .logo-link {
      @include large {
        display: inherit;
      }
    }
    @include xl {
      display: flex;
      background-color: clr(text-inverse);
      width: 100%;
      position: relative;
      bottom: unset;
      padding: 0 $space-double 0 $space-double;
      margin-left: unset;
      transform: unset;
      margin-top: 0;
      inset: unset;
      overflow-y: visible;
      .menu--favorites {
        display: none;

        @include large {
          display: flex;
          flex-direction: row;
          font-size: 12px;
        }
        @include xl {
          font-size: 15px;
        }
        .content {
          padding-top: 30px;
          padding-bottom: 30px;
        }
      }
      .block-language-blocklanguage-interface {
        display: none;
        @include large {
          display: flex;
          flex-direction: row;
          font-size: 12px;
        }
        @include xl {
          font-size: 15px;
        }
        .content {
          padding-top: 30px;
          padding-bottom: 30px;
        }
      }
    }
    .block--header-search-block{
      width: 100%;
      float: right;
      margin-bottom: $space-one-half;// TODO: to large?
      display: none;
      @include large  {
        display: block;
        >form {
            text-align: center;
        }
      }
      .text-search-wrapper {
        margin-left: auto;
        margin-right: auto;
        display: inline-block;

        .form-actions {
          top: 0;
          height: 48px;
        }
      }
    }

    #block-kirjautuminen,
    #block-kayttajavalikko  {
      @include xl {
        display: block;
      }
    }

    .menu--additional-links-menu {
      @include large {
        display: none;
      }
    }

  }
  &__primary-mobile {
    margin-top: 40px;
    display: block;
    height: 100%;
    position: fixed;
    inset:0;
    overflow-y: scroll;
    background: white;
    z-index: 300;
    padding: 0 $space;
    margin-left: 0;
    transform:translateX(-100%);
    width:  100%;
    max-width: 100vw;
    min-height: 104px;
    @include xl {
      margin-top: inherit;
      position: inherit;
      inset: unset;
      overflow-y: auto;
      display: block;
      background: transparent;
      z-index: unset;
    }
    @include xl {
      .menu--favorites {display: block}
      min-height: unset;
      position: relative;
      bottom: unset;
      padding: $space-double $space-double $space-one-and-half $space-double;
      margin-left: unset;



      display: flex;
      background-color: clr(text-inverse);
      width: 100%;
      position: relative;
      bottom: unset;
      padding: 0 $space-double 0 $space-double;
      margin-left: unset;
      transform: unset;
      margin-top: 0;
      inset: unset;
      overflow-y: visible;
    }
    &.slide-in {
      animation: slide-in 0.5s forwards;
      -webkit-animation: slide-in 0.5s forwards;
    }
    &.slide-out {
      animation: slide-out 0.5s forwards;
      -webkit-animation: slide-out 0.5s forwards;
      .main-nav {
        display: none;
      }
    }
    .block--header-search-block {
      z-index: 30;
      @include large {
        z-index: unset;
      }
    }

    .block-language-blocklanguage-interface,
    .menu--favorites {
      z-index: 40;
      @include large {
        z-index: unset;
      }
    }
    .menu--account {
      display: none;
    }
    .search-form {
      display: flex;
    }
    .block--header-search-block{
      width: 100%;
      float: right;
      margin-bottom: $space-one-half;// TODO: to large?
      .text-search-wrapper {
        margin-left: auto;
        margin-right: auto;
        display: inline-block;

        .form-actions {
          top: 0;
          height: 48px;
        }
      }
    }

    .menu--main {
      display: block;
       @include xl {
         display: flex;
       }
    }
    .main-nav {
      display: block;
      width: 100%;
      width: calc(100% + 2rem);
      margin-left: -1rem;
    }
    .toggle-expand {
      position: absolute;
      top: 0;
      margin-left: -10px;
      padding: 0;
      padding: 10px;
      width: 44px;
      height: 44px;
      margin-top: 6px;
    }

    .block--header-search-block{
      display: block;
    }
    #block-kirjautuminen {
      display: none;
    }
    .menu--favorites {display: block}
  }

  &__branding {
    padding: $space-double;
    max-width: 300px;
    width: 280px;
    background: clr(sidebar-color);
    border-top-right-radius: 47px;
  }
 &__secondary {
   .block-user-login-block {
     position: absolute;
     top: 6px;
     right: 6px;

     @include xl {
       display: none;
     }
     .btn-menu {
       padding: 0;
     }
     .btn-menu-close {
       outline: unset;
     }
     .link {
       width: 44px;
       height: 44px;
       display: block;
       overflow: hidden;
       color: transparent;
     }
     .icon {
       height: 44px;
       width: 44px;
       padding: 10px;
       top: 0;
       right: 6px;
     }
   }
   .menu--account {
     h2 {
       display: none;
     }
     display: block;
     position: absolute;
     top: 0;
     right: 6px;
     @include xl {
       display: none;
     }
   }
   .login-button {
     display: block;
     @include large {
       display: none;
     }
   }
 }
}

.header {
  #block-kirjautuminen,
  .menu--account  {
    @include xl {
      align-content: center;
    }
  }
  .block-language-blocklanguage-interface {
    display: inline-block;
    float: right;
    margin-right: 20px;
    position: absolute;
    top: 0;
    right: 0;
     @include xl {
       position: relative;
       top: unset;
       right: unset
     }
  }
  .menu--favorites {
    display: inline-block;
    float: right;
    position: absolute;
    top: 0;
    right: 37px;
    width: 44px;
     @include xl {
       position: relative;
       top: unset;
       right: unset;
       width: unset;
       margin-right: $space;
     }
  }
  #block-kirjautuminen {
    @include large {right:20px; z-index: 100;}
    @include xl {right:50px;}
  }
  #block-kayttajavalikko {
    align-content: center;
  }

  #block-views-exposed-filter-block-service-search-special-search-filters,
  #block-nakyvakaavakeservice-searchspecial-search-filters,
  #block-nakyvakaavakeservice-searchsearch-page-filters,
  #block-views-exposed-filter-block-service-search-block-1 {
    > h2 {
      @extend .visually-hidden;
    }
    @include xl {
      width: 100%;
    }
  }
}

#block-kirjautuminen {
  display: flex;
  align-items: start;
  flex-direction: column;
  font-size: 9px;
  justify-content: center;
  @include large {
    flex-direction: row;
    font-size: 12px;
  }
  @include xl {
    font-size: 15px;
  }
}

.navigation.menu--favorites {
  .content .menu {
    @include xl {
      display: flex;
      align-items: center;
      height: 24px;
    }
  }
  a {
    color: transparent;
    @include xl {
      font-weight: 600;
      color: clr(text);
    }
  }
}

.block-language-blocklanguage-interface {
  .content {
    @include large {
      display: flex;
      align-items: center;
    }
  }
}

.menu--account {
  display: flex;
  align-items: start;
  z-index: 10;
  .btn--hide-on-mobile {
    display: none;
    @include large {
      display: block;
      span {
        display: block;
      }
    }
  }
  .view-user-info {
    .view-content {
      display: flex;
      align-items: center;
      margin-bottom: $space-two-and-half;
      &::before {
        content: "";
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        display: block;
        margin-right: 14px;
        background-color: clr(background-border);
        background-image: url("../../assets/images/icons/user-blue.svg");
        background-position: center;
        background-size: 16px;
        border-radius: 50%;
        @include large {
          background-color: clr(background-section);
          background-image: url("../../assets/images/icons/user-white.svg");
        }
      }
    }
    .views-row {
      text-align: left;
      .views-field-name {
        text-align: center;
        @include large {
          text-align: left;
        }
        a {
          font-weight: 600;
          font-size: 16px;
          color: clr(text);
          text-decoration: none;
          @include large {
            font-size: 12px;
          }
          @include xxl {
            font-size: 15px;
          }
        }
      }
      .views-field-mail {
        color: clr(text);
        text-align: center;
        @include large {
          text-align: left;
        }
        span {
            font-size: 14px;
            @include large {
              font-size: 12px;
          }
        }
      }
    }
  }
  .dropdown-menu {
    padding: $space-one-and-half 18px;
    min-width: 220px;
  }
  .dropdown-menu-inner {
    padding: 0 0 0 6px;
    margin-bottom: 0;
  }
  .dropdown-menu-inner__item {
    text-align: left;
    margin-bottom: $space;
    &:first-child {
      .dropdown-menu-inner__link {
        &::before {
          background-image: url("../../assets/images/icons/cogwheel.svg");
          content: "";
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          display: block;
          margin-right: 20px;
          background-size: cover;
        }
      }
    }
    &:nth-child(2) {
      .dropdown-menu-inner__link {
        &::before {
          background-image: url("../../assets/images/icons/door.svg");
          content: "";
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          display: block;
          margin-right: 20px;
          background-size: cover;
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .dropdown-menu-inner__link {
    font-size: 12px;
    line-height: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: max-content;
  }
}

#block-views-exposed-filter-block-service-search-mobile,
#block-views-exposed-filter-block-service-search-search-mobile-filters{
  position: unset;
  .dropdown-menu {
    width: 100%;
    .form-item {
      width: 100%;
      max-width: 100%;
      input {
        width: 100%;
        border: 2px solid $blue40;
        box-sizing: border-box;
        border-radius: 8px;
        background-image: unset !important;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 50px;
      }
    }
  }
}

.block-user-login-block {
  .form-item {
    position: relative;
    &:focus-within {
      &::before {
        color: clr(alt-header-color)!important;
      }
    }
    .form-item__description {
      display: none;
    }
    label {
      text-align: left;
      font-weight: 700;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 1px;
      color: clr(alt-header-color);
      text-transform: uppercase;
      padding-top: 0;
      padding-bottom: 4px;
      @include large  {
        margin-bottom: 0;
      }
    }
    input {
      border-radius: 8px;
      padding-left: 51px;
      background: clr(sidebar-color);
      &:focus {
        box-shadow: inset 0px 0px 0px 2px clr(background-section);
        outline: none;
      }
    }
    &:first-child {
      &::before {
        @include icons;
        content: "\EA02";
        position: absolute;
        left: 18px;
        bottom: 15px;
        color: clr(gray);
      }

    }
    &:nth-child(2) {
      &::before {
        @include icons;
        content: "\EA04";
        position: absolute;
        left: 18px;
        bottom: 15px;
        color: clr(gray);
      }
      &:focus {
        &::before {
          color: clr(alt-header-color);
        }
      }
    }
  }
  .dropdown-menu {
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(30, 64, 182, 0.2);
    background-color: clr(background-dropdown);
    padding-bottom: 32px;
    top:24px !important;
    @include large {
      width: 336px;
    }
    .form-actions{
      display: flex;
      justify-content: flex-end;
    }
    ul {
      list-style: none;
      margin-bottom: 0;
      padding: 0;
      width: fit-content;
      margin-top: -32px;
    }
    a {
      font-size: 12px;
      color: clr(background-section);
      font-weight: 600;
      line-height: 24px;
    }
  }
}

.search-autocomplete-wrapper {
  position: relative;
  display: inline-block;
  >.form-item {
    margin-bottom: 0;
  }
}


.main-sidebar {
  .search-history-wrapper,
  .hel-search-autocomplete {
    max-width: unset;
  }
}

.search-history-wrapper[style*="display: block"]~.form-item-search-api-fulltext #hel-tpm-search-autocomplete,
.hel-search-autocomplete[style*="display: block"]~.form-item-search-api-fulltext #hel-tpm-search-autocomplete,
.search-dropdown-wrapper[style*="display: block"]~.form-item-search-api-fulltext #hel-tpm-search-autocomplete {
  box-shadow: unset;
  border-top: 2px solid clr(background-section);
  border-right:  2px solid clr(background-section);
  border-left: 2px solid clr(background-section);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.search-history-wrapper,
.hel-search-autocomplete {
    z-index: 210;
    margin-top: 42px;
    position: absolute;
    width: 100%;
    background-color: clr(text-inverse);
    border-top: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    .title {
      letter-spacing: 1px;
      line-height: 24px;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      color: clr(gray);
      padding: 4px 0 4px 0;
    }

    #search-history,
    #search-suggestions {
      .suggestion-item {
        &::before {
          @include icons;
          content: "\EA06";
          height: 16px;
          width: 16px;
          margin-top: auto;
          margin-bottom: auto;
          margin-right: $space;
          color: $blue40;
        }
        &:hover {
          &::before {
            color: $blue80;
          }
        }
      }
    }
    .item-list{
      margin-top: $space-one-half;
      margin-bottom: $space-one-half;
    }
    .suggestion-item {
      padding: $space-one-half $space-one-half $space-one-half $space-one-and-half;
      display: flex;
      &:hover {
        background-color: clr(background);
      }
      a {
        color: clr(text);
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
}

#hel-tpm-search-autocomplete {
    box-shadow: inset 0px 0px 0px 2px clr(form-border);
    box-sizing: border-box;
    border-width: 0;
    border-radius: 8px;
    background-image: unset !important;
    background-color: clr(text-inverse);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    width: 100%;
    line-height: 24px;
    outline: 0;
    &:focus {
      box-shadow: inset 0px 0px 0px 2px clr(background-section);
    }
    @include large {
      max-width: 300px;
    }
    @include xxl {
      max-width: none;
    }
}

.admin-toolbar-enabled {
  .dropdown-mobile-menu {
      margin-top: 40px;
  }
}

.dropdown-mobile-menu {
    display: block;
    height: 100%;
    position: fixed;
    inset: 0;
    overflow-y: scroll;
    background: #fff;
    z-index: 300;
    padding: 0 1rem;
    margin-left: 0;
    transform:translateX(100%);
    width: 100%;
    @include large {
      display: none !important;
    }
    &.slide-in {
      animation: slide-in 0.5s forwards;
      -webkit-animation: slide-in 0.5s forwards;
    }
    &.slide-out-right {
      animation: slide-out-right 0.5s forwards;
      -webkit-animation: slide-out-right 0.5s forwards;
    }
    .btn-menu-close {
      margin-top: 12px;
    }
    .views-element-container {
      margin-top: $space;
    }
    .views-row {
      margin: auto;
    }
    .view-content::before {
      position: absolute;
      right: 0;
      top: 16px;
    }
    .menu {
      padding-left: $space-one-and-half;
    }
    .menu__item {
      text-align: left;
      margin-bottom: $space;
      &:first-child {
        .menu__link {
          &::before {
            background-image: url("../../assets/images/icons/cogwheel.svg");
            content: "";
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            display: block;
            margin-right: 20px;
            background-size: cover;
          }
        }
      }
      &:nth-child(2) {
        .menu__link {
          &::before {
            background-image: url("../../assets/images/icons/door.svg");
            content: "";
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            display: block;
            margin-right: 20px;
            background-size: cover;
          }
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .menu__link {
      font-size: 15px;
      line-height: 24px;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      width: max-content;
      color: clr(text);
      &:hover {
        text-decoration: underline;
      }
    }
}
