
.header {

  @include large {
    z-index: 200;
    width: 100%;
    margin: auto;
  }

  &--hidden {
    @include large {

      box-shadow: none;
    }
  }

  &__inner {
    @include wrapper;
    max-width: 100%;
    display: flex;
    flex-flow: column nowrap;

    @include xs {
      padding: 0;
    }
  }

  &__primary {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    z-index: 200;
    background-color: clr(background);
    width: 100%;
    margin-left: -15px;
    padding-top: $space-one-half;
    @include large {
      position: relative;
      bottom: unset;
      padding: $space-double $space-double $space-one-and-half $space-double;
      margin-left: unset;
      min-height: 104px;
      &.filters-open {
        @include xl {
          padding-bottom: $space-four-and-half;
        }
      }
    }

  }

  &__branding {
    padding: $space-double;
    max-width: 300px;
    width: 280px;
    background: clr(sidebar-color);
    border-top-right-radius: 47px;
  }

}

.header {
  #block-suosikit,
  #block-kielenvaihtaja,
  #block-kirjautuminen,
  #block-kayttajavalikko  {
    @include large {
      position: absolute;
    }
  }
  #block-kielenvaihtaja {
    @include large {left:38px; z-index: 100;}
    @include xl {left:65px;}
  }
  #block-suosikit {

    @include large {left:160px; z-index: 100;}
    @include xl {left:213px;}
  }
  #block-kirjautuminen {
    @include large {right:20px; z-index: 100;}
    @include xl {right:50px;}
  }
  #block-kayttajavalikko {
    @include large {right:20px; top: 25px; z-index: 100;}
    @include xl {right:50px;}
  }

  #block-views-exposed-filter-block-service-search-special-search-filters,
  #block-nakyvakaavakeservice-searchspecial-search-filters,
  #block-nakyvakaavakeservice-searchsearch-page-filters,
  #block-views-exposed-filter-block-service-search-block-1 {
    > h2 {
      @extend .visually-hidden;
    }
    @include large {
      width: 100%;
    }
  }
}

#block-suosikit,
#block-kielenvaihtaja,
#block-kirjautuminen {
  display: flex;
  align-items: start;
  flex-direction: column;
  font-size: 9px;
  justify-content: center;
  @include large {
    flex-direction: row;
    font-size: 12px;
  }
  @include xl {
    font-size: 15px;
  }
}

#block-suosikit {
  .content .menu {

    @include large {
      display: flex;
      align-items: center;
      height: 24px;
    }
  }
  a {
    font-weight: 600;
  }
}

#block-kielenvaihtaja {
  .content {
    @include large {
      display: flex;
      align-items: center;
    }
  }
}

#block-kayttajavalikko {
  display: flex;
  align-items: start;
  #accountMenuButton {
    display: flex;
    align-items: center;
    border: 0;
    .views-row {
      text-align: left;
      .views-field-name {
        a {
          font-weight: 600;
          font-size: 9px;
          color: clr(text);
          text-decoration: none;
          @include large {
            font-size: 12px;
          }
          @include xxl {
            font-size: 15px;
          }
        }
      }
      .views-field-mail {
        color: clr(text);
        span {
            font-size: 9px;
            @include large {
              font-size: 12px;
          }
        }
      }
    }
  }
  .dropdown-menu {
    padding: 18px 16px 18px 16px;
  }
  .dropdown-menu__item {
    text-align: left;
    margin-bottom: $space;
    &:first-child {
      .dropdown-menu__link {
        &::before {
          background-image: url("/themes/custom/palvelumanuaali/images/icons/cogwheel.svg");
          content: "";
          width: 24px;
          height: 24px;
          background-repeat: no-repeat;
          display: block;
          margin-right: $space;
          background-size: cover;
        }
      }
    }
    &:nth-child(2) {
      .dropdown-menu__link {
        &::before {
          background-image: url("/themes/custom/palvelumanuaali/images/icons/door.svg");
          content: "";
          width: 24px;
          height: 24px;
          background-repeat: no-repeat;
          display: block;
          margin-right: $space;
          background-size: cover;
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .dropdown-menu__link {
    font-size: 12px;
    line-height: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: max-content;
  }
}

#block-views-exposed-filter-block-service-search-mobile,
#block-views-exposed-filter-block-service-search-search-mobile-filters{
  position: unset;
  .dropdown-menu {
    width: 100%;
    .form-item {
      width: 100%;
      max-width: 100%;
      input {
        width: 100%;
        border: 2px solid #AFCEFD;
        box-sizing: border-box;
        border-radius: 8px;
        background-image: unset !important;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 50px;
      }
    }
  }
}

#block-kirjautuminen {
  .dropdown-menu {
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(30, 64, 182, 0.2);
    background-color: clr(background-dropdown);
    padding-bottom: 32px;
    top:24px !important;
    @include large {
      width: 336px;
    }
    .form-item {
      position: relative;

      label {
        text-align: left;
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 1px;
        color: clr(alt-header-color);
        text-transform: uppercase;
        padding-top: 0;
        padding-bottom: 4px;
        @include large  {
          margin-bottom: 0;
        }
      }
      input {
        border-radius: 4px 4px 0px 0px;
        border-left: 0;
        border-top: 0;
        border-right: 0;
        border-bottom: 2px solid #AFCEFD;
        padding-left: 35px;
        background: clr(sidebar-color);
      }
      &:first-child {
        &::before {
          @include icons;
          content: "\EA02";
          position: absolute;
          left: 10px;
          bottom: 15px;
          color: clr(gray);
        }
      }
      &:nth-child(2) {
        &::before {
          @include icons;
          content: "\EA04";
          position: absolute;
          left: 10px;
          bottom: 15px;
          color: clr(gray);
        }
      }
    }
    .form-actions{
      display: flex;
      justify-content: flex-end;
    }
    ul {
      list-style: none;
      margin-bottom: 0;
      padding: 0;
      width: fit-content;
      margin-top: -32px;
    }
    a {
      font-size: 12px;
      color: clr(background-section);
      font-weight: 600;
      line-height: 24px;
    }
  }
}

.search-autocomplete-wrapper {
  position: relative;
  display: inline-block;
  >.form-item {
    margin-bottom: 0;
  }
}


.main-sidebar {
  .search-history-wrapper,
  .hel-search-autocomplete {
    max-width: unset;
  }
}

.search-history-wrapper[style*="display: block"]~.form-item-search-api-fulltext #hel-tpm-search-autocomplete,
.hel-search-autocomplete[style*="display: block"]~.form-item-search-api-fulltext #hel-tpm-search-autocomplete {
  box-shadow: inset 0px 0px 0px 2px clr(background-section);
}

.search-history-wrapper,
.hel-search-autocomplete {
    z-index: 210;
    margin-top: 42px;
    position: absolute;
    width: 100%;
    background-color: clr(text-inverse);
    border: 2px solid clr(background-section);
    border-top: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0px 8px 16px rgba(30, 64, 182, 0.2);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    .title {
      letter-spacing: 1px;
      line-height: 24px;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      color: clr(gray);
      padding: 4px 0 4px 0;
    }

    #search-history,
    #search-suggestions {
      .suggestion-item {
        &::before {
          @include icons;
          content: "\EA06";
          height: 16px;
          width: 16px;
          margin-top: auto;
          margin-bottom: auto;
          margin-right: $space;
          color: $blue40;
        }
        &:hover {
          &::before {
            color: $blue80;
          }
        }
      }
    }
    .item-list{
      margin-top: $space-one-half;
      margin-bottom: $space-one-half;
    }
    .suggestion-item {
      padding: $space-one-half $space-one-half $space-one-half $space-one-and-half;
      display: flex;
      &:hover {
        background-color: clr(background);
      }
      a {
        color: clr(text);
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
}

#hel-tpm-search-autocomplete {
    box-shadow: inset 0px 0px 0px 2px clr(form-border);
    box-sizing: border-box;
    border-width: 0;
    border-radius: 8px;
    background-image: unset !important;
    background-color: clr(text-inverse);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    width: 100%;
    line-height: 24px;
    outline: 0;
    &:focus {
      box-shadow: inset 0px 0px 0px 2px clr(background-section);
    }
    @include large {
      max-width: 300px;
    }
    @include xl {
      max-width: none;
    }
}
