body .node-form {
  .field--widget-hel-tpm-general-inline-entity-form-complex-improved {
    @import '../../tables/tables.scss';
    tr {
      display: flex;
      width: auto;
    }
    td {
      display: table-cell;
    }
  }

}