name: PHPUnit Tests

on:
  - push

env:
  CODE_COVERAGE_MINIMUM: 65
  LANDO_VERSION: v3.21.2
  APP_ENV: testing
  APP_DEBUG: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Lando
        uses: lando/setup-lando@v3

      - name: Grab latest Lando CLI
        run: |
          sudo curl -fsSL -o /usr/local/bin/lando "https://files.lando.dev/cli/lando-linux-x64-${LANDO_VERSION}"
          sudo chmod +x /usr/local/bin/lando

      # This is optional.
      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v3
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-
      # Map GH Actions env vars into Lando env vars, which wil then be injected
      # into the application container.
      - run: lando start

      - run: lando composer test /app/public/modules/custom

      # This will run tests and generate a code coverage file. If any tests fail, it will fail here.
#      - name: Run tests and generate code coverage report
#        run: lando composer coverage

      # Report the code coverage and fail the build if it's below a threshold.
#      - run: lando composer coverage-check ${CODE_COVERAGE_MINIMUM} || exit 1