/*
 * General Variables
 * Note: colors should go into
 * components/00-base/01-colors/_color-vars.css
 * and breakpoint related vars into
 * components/00-base/base/_breakpoints.css
*/

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');
$font-body: 'Manrope', sans-serif;
$font-heading: 'Manrope', sans-serif;

// Spacing
$space: 1rem;

// Times
$space-double: $space * 2;
$space-triple: $space * 3;
$space-quadruple: $space * 4;
$space-quintuple: $space * 5;
$space-sextuple: $space * 6;
$space-septuple: $space * 7;

// Divided #{space}
$space-one-half: calc(#{$space} / 2);
$space-one-third: calc(#{$space} / 3);
$space-one-fourth: calc(#{$space} / 4);
$space-one-fifth: calc(#{$space} / 5);
$space-one-sixth: calc(#{$space} / 6);
$space-one-seventh: calc(#{$space} / 7);
$space-one-eighth: calc(#{$space} / 8);

$space-one-and-half: $space * 1.5;
$space-two-and-half: $space * 2.5;
$space-three-and-half: $space * 3.5;
$space-four-and-half: $space * 4.5;
$space-three-fourths: $space * 0.75;

$sidebar-width: 280px;
$sidebar-md-width: 232px;

// Sizes
$small-caption: 0.875rem; // 16
$small-font: 0.75rem; // 12
$nav-height: 118px;

// Z-indexes
$zi-above-content: 1;
$zi-below-content: -1;
$zi-modal: 1000;

// @TODO Do not use many different z-index values.
$zi-dropdown-unselected: 200;
$zi-dropdown-multiselect: 50;
$zi-dropdown-after: 2;
$zi-group-page-select: 30;
$zi-flag-action: 80;
$zi-search-page-flag-action: 40;
$zi-field-instructions-markup: 20;
$zi-details-select-form-select: 100;
$zi-form-item-langcode-icon: 100;
$zi-select-white-rounded-button: 20;
$zi-select-white-icon: 21;
$zi-select2-selection: 50;
$zi-datepicker: 20;
$zi-icon-absolute: 20;
$zi-pill-small-message: 20;
$zi-main-menu: 10;
$zi-page-controls: 200;

/*
 * Use this on the outer wrapper of page-level elements.
 * It ensures consistent spacing between elements on the page.
 */
@mixin space-stack-page {
  margin-bottom: $space-double;
}
