/*
 * General Variables
 * Note: colors should go into
 * components/00-base/01-colors/_color-vars.css
 * and breakpoint related vars into
 * components/00-base/base/_breakpoints.css
*/

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');
$font-body: 'Manrope', sans-serif;
$font-heading: 'Manrope', sans-serif;

// Spacing
$space: 1rem;

// Times
$space-double: $space * 2;
$space-triple: $space * 3;
$space-quadruple: $space * 4;
$space-quintuple: $space * 5;
$space-sextuple: $space * 6;
$space-septuple: $space * 7;

// Divided
$space-one-half: calc($space/2);
$space-one-third: calc($space/3);
$space-one-fourth: calc($space/4);
$space-one-fifth: calc($space/5);
$space-one-sixth: calc($space/6);
$space-one-seventh: calc($space/7);
$space-one-eighth: calc($space/8);

$space-one-and-half: $space*1.5;
$space-two-and-half: $space*2.5;
$space-three-fourths: $space*0.75;


$sidebar-width: 280px;

/*
 * Use this on the outer wrapper of page-level elements.
 * It ensures consistent spacing between elements on the page.
 */
@mixin space-stack-page {
  margin-bottom: $space-double;
}
