/*
 * General Mixins (put specific ones in component files where applicable)
*/

/* Mixin - Clearfix.
 * Adds clearfix based on http://bourbon.io/docs/#clearfix
 * use example =   @include cleafix
*/

@mixin body-copy {
  font-family: $font-body;
  font-size: 1rem;
  line-height: 1.7;
}

@mixin basic-text {
  font-family: $font-body;
  font-size: 14px;
  line-height: 24px;
}

@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

$outer-container-break: $small;

/// Mixin - Wrapper
/// Outer container mixin for large screens
@mixin wrapper(
  $container-max-width: $max-width,
  $outer-container-break: $small,
  $v-margin: 0,
  $v-padding: 0,
  $h-padding: $space,
  $h-padding-large: $h-padding
) {
  max-width: #{$container-max-width};
  width: 100%;
  margin: #{$v-margin} auto;
  padding: #{$v-padding} #{$h-padding};

  @include breakpoint($outer-container-break) {
    padding: #{$v-padding} #{$h-padding-large};
  }

  @include breakpoint($container-max-width) {
    padding-left: calc(
      #{$h-padding-large} + calc(-50vw + calc(#{$container-max-width} / 2))
    );
    padding-right: calc(
      #{$h-padding-large} + calc(-50vw + calc(#{$container-max-width} / 2))
    );
  }
}

@mixin field-error {
  box-shadow: inset 0 0 2px 2px clr(error);
  padding: 0.5em;
  border-radius: 7px;
}

// Mixin - Standard Margin
@mixin margin {
  margin-bottom: 1em;
}

@mixin no-bottom {
  margin-bottom: 0;
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin icons() {
  display: inline-block;
  font-family: "icons", serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin round-icon-button {
  background-color: clr(background-section);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-left: 0;
  color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  &:hover {
    background-color: clr(alt-header-color);
  }
}

@mixin close-button {
  color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  background-image: url("/themes/custom/palvelumanuaali/images/icons/close.svg");
  padding: 0;
  background-size: 18px;
  &:hover {
    background-color: transparent;
    color: transparent;
  }
}

@mixin radiobutton-box {
  .form-item--radio-button,
  .form-item-checkbox{
    margin-right: 0;
    &:last-child() {
      margin-bottom:0;
    }
    @include large {
      width: 100%;
    }
    @include xl {
      width: 405px;
    }
    @include xxl {
      width: 468px;
    }

    padding: $space $space-double $space-one-and-half $space;

    /* Primary/Blue 5 */

    background: #F7F9FD;

    /* Primary/Blue 100 */
    border: 2px solid clr(form-border);
    border-radius: 8px;
    &.selected {
      border: 2px solid clr(background-section);
    }
    input {
      width: 20px;
      height: 24px;
    }
    b {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: $space-one-half;
        letter-spacing: 0.01em;
        color: clr(background-section);
    }
  }

}
