.tabledrag-toggle-weight-wrapper {
  display: none;
}

.hide-title {
  th {
    display: none;
  }
  .paragraph-type-title,
  .paragraph-type {
    display: none;
  }
}

.node-basic-page-form {
  >.form-background--regular-padding {
      @include large {
        padding: 48px 56px;
      }
    }
}

.service .block--main-block >.node-form,
.group-form {
  #edit-group-left-column {
    max-width: unset;
    grid-column: 1/3;
    @include xl {
      grid-column: 1/2;
      grid-row:2;
    }
  }
}

.block--main-block >.node-form,
.group-form {
  .entitygroupfield-dropbutton-wrapper {
    .form-submit {
      @include button-round-corners;
    }
  }
  .dropbutton-wrapper {
    margin-right: 0;
    padding-right: 0;
  }
  .dropbutton-widget {
position: relative;
    input {
      background-color: transparent;
      color: clr(background-section);
      max-width: max-content;

      &:hover {
        background-color: transparent;
        color: clr(alt-header-color);
      }
    }
    .dropbutton-arrow {
      top: 13px;
    }
  }
  display: grid;
  @include xl {
    grid-template-columns: 7fr 3fr;
    grid-column-gap: 24px;
  }
  .field-group-details {
    display: none !important;
  }

  .page-controls {
    margin-top: $space;
    grid-row: 7;
    grid-column: 1/2;
    @include xl {
      grid-row: 5;
    }
    .button-wrapper {
      display: inline-flex;
      width: 100%;
      gap: $space-one-and-half;
      height: 48px;
      flex-direction: row;
      @include xl {
        justify-content: start;
      }
    }
  }

  .edit-advanced-content-wrapper {
    grid-row: 5;
    grid-column: 1/3;
    margin-top: 80px;
    @include large {
      >.form-item {
        margin-top: $space-quintuple;
      }
    }
    @include xl {
      margin-top: unset;
      grid-column: 2/3;
      grid-row: 4;
      >.form-item {
        margin-top: unset;
      }
    }
  }

  >#edit-actions {
    grid-row: 8;
    margin-top: $space;
    margin-bottom: $space;
    display: flex;
    grid-column: 1/3;
    gap: $space-one-and-half;
    flex-wrap: wrap;
    @media (min-width:1100px) {
      grid-column: 1/2;
      flex-wrap: nowrap;
    }
    @include xl {
      grid-row: 6;

    }
    .button {
      min-width: 160px;
      border: unset;
    }
  }

  // generic theming for the details sidebar
  .edit-advanced-form {
    background-color: clr(text-inverse);
    border-radius: 8px;
    padding: $space;
    max-width: unset;
    @include large {
      padding: 40px 32px 48px 32px;
      max-width: inherit;
    }

    .vertical-tabs {
      border: 0;
      margin: 0;
      li {
        background-color: unset;
        border: 0;
      }
      .vertical-tabs__menu {
        float: unset;
        width: 100%;
        margin: 0;
        border: 0;
      }
    }

    //theming for the details sidebar link
    .vertical-tabs__menu-item a {
      text-decoration: unset;
      padding: 0;
      margin-bottom: $space-double;
      &.last {
        display: none;
      }
    }

    details {
      font-size: $small-font;
      @include xxl {
        font-size: $small-caption;
      }
    }

    label {
      font-weight: 400;
      font-size: $small-font;
      margin-right: auto;
      padding: 0;
      @include xxl {
        font-size: $small-caption;
      }
    }

    .form-wrapper {
      width: 100%;
    }

    .field--type-language,
    .field--type-string,
    .form-item {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-between;
      width: 100%;
    }
  }

  .paragraph-type-top,
  .js-filter-wrapper[data-drupal-selector*="format"] {
    display: none;
  }

  .table__cell .paragraph-type-top {
    display: flex;
  }

  //add basic theming for sidebar horizontal-tabs
  .horizontal-tabs {
    .horizontal-tabs-list {
      border-bottom: 2px solid clr(form-border);
      padding-left: 16px;
      background-color: unset;
      margin-bottom: $space-triple;
    }

    .horizontal-tab-button {
      border-radius: 8px 8px 0px 0px;
      background-color: clr(background);
      color: clr(background-section);
      border: unset;
      a {
        padding: 12px 48px;
      }
      &.selected {
        border-bottom: unset;
        background-color: clr(background-section);
        a {
          color: clr(text-inverse);
          padding: 12px 48px;
        }
      }

    }
  }

  .h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }


  em {
    background: unset;
    margin: 0px 4px;
    opacity: unset;
    cursor: default;
  }

}

details>.form-wrapper {
  padding-bottom: $space-triple;
}

.vertical-tabs__pane > .form-wrapper {
  padding-bottom: 0;
}

details>.form-wrapper:last-child {
  padding-bottom: 0;
}

.form-background--white {
  background-color: clr(text-inverse);
  padding: $space;
}

.group--light-blue {
  border: 2px solid $blue20;
  background-color: $blue05;
  padding: $space-one-and-half $space-one-and-half $space-double $space-one-and-half;
}

.group--rounded-corners {
  border-radius: 8px;
}

.group--no-margin-bottom {
  margin-bottom: 0;
}

.js-form-required::after {
   content:" *";
   color: red;
   font-size: 12px;
 }

.form-background--regular-padding {
  border-radius: 8px;
  @include large {
    padding: 48px 56px;
  }
}

.form-background--regular-padding-imp{
  border-radius: 8px !important;
  @include large {
    padding: 48px 56px !important;
  }
}

#content-view-tabs,
.field-group-tabs-wrapper .horizontal-tabs {
  border: 0;
}

.node-form {
  label,
  .node--label, {
    font-size: 12px;
    font-weight: 600;
  }
}

#edit-field-service-price-wrapper {
  padding-top: 8px;
  legend {
    display: none;
  }
}

 .field--name-field-dates {
   h4 {
     font-weight: 600;
     font-size: 12px;
     line-height: 24px;
     color: clr(text);
     text-transform: capitalize;
     letter-spacing: 0px;
   }
 }

.field--name-field-internal-links,
.field--name-field-link {
  legend {
    display: none;
  }
  >.form-fieldset,
  .table__row .table__cell,
  .table__row .table__cell .ajax-new-content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    .h2 {
      width: 100%;
    }
    .form-item {
      &:nth-child(1) {
        width: 60%;
        margin-bottom: 0;
        position: relative;
        &::after {
          @include icons;
          content: "\EA06";
          height: 16px;
          width: 16px;
          right: 0;
          bottom: 16px;
          position: absolute;
          margin-right: $space;
          color: $blue100;
        }
        input {
          background-image: none;
        }
      }
      &:nth-child(2) {
        width: 35%;
        margin-left: $space-one-half;
        margin-bottom: 0;
      }
      .form-item__description {
        display: none;
      }
    }
  }
}

.horizontal-tabs-panes .horizontal-tabs-pane {
  padding: 0;
}

.paragraph-type-top  input[data-drupal-selector*="top-links-remove-button"],
.close-icon-button,
.field--widget-hel-tpm-editorial-paragraphs-alt-custom input[data-drupal-selector*="-actions-remove-button"] {
  @include close-button;
}



.field--widget-hel-tpm-editorial-paragraphs-alt-custom {
  .paragraphs-tabs-wrapper {
    >.form-item {
      color: transparent;
    }
  }
  input.form-autocomplete {
    background-image: unset;
  }
  .paragraphs-add-suffix {
    color: transparent;
  }
  .paragraphs-subform {
    margin-bottom: $space-double;
  }
  .field-paragraph-values,
  .field-quick-links-values {
    .field-link-values tbody tr::after,
    .field-service-reference-values tbody tr::after  {
      border-bottom: 0;
    }
  }
  .paragraph-type--url-and-file .form-item {
    flex: 1;
  }
  .field-link-values {
    border-collapse: separate;
    border-spacing: 0 $space;
    margin: 0;
    input[data-drupal-selector*="-actions-remove-button"] {
      margin-top: 32px;
      background-size: 18px;
    }
    .button {
      margin-top: $space;
    }
  }
  .field-service-reference-values {
    border-collapse: separate;
    border-spacing: 0 $space;
    margin: 0;
    .table__cell,
    .table__cell > .ajax-new-content {
      display: inline-flex;
    }
    input[data-drupal-selector*="-actions-remove-button"] {
      background-size: 18px;
    }
    .button {
      margin-left: $space;
    }
  }
  .form-fieldset {
    padding: 0;
  }
  .draggable {
    .handle {
      width: 48px;
      height: 100%;
      padding: 0;
      background-position: center;
      margin-top: 0;
    }
    .tabledrag-handle {
      overflow: visible;
      height: 100%;
      position: absolute;
      display: block;
    }
    .field-multiple-drag {
      position: relative;
      width: 48px;
    }
  }
  .paragraphs-description .paragraphs-plugin-wrapper,
  .paragraphs-description .paragraphs-content-wrapper {
    height: 24px;
    line-height: 24px;
  }

  .details-file-field {
    tbody tr {
      padding-left: 0;
    }
    a.tabledrag-handle {
      position: relative;
      height: unset;
      width: 48px;
      margin-right: 0;
      .handle {
        margin: auto;
      }
    }
  }
}

// TODO: add these as a class to element if possible
.paragraph-alt-custom.paragraph-top {
  grid-template-rows: 48px;
  .paragraph-info,
  .paragraph-summary {
    margin-top: auto;
    margin-bottom: auto;
  }
  .paragraphs-description .summary-content {
    color:clr(text);
  }
  .paragraphs-actions {
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
  }
}
.tabledrag-changed-warning,
.tabledrag-changed {
  display: none;
}


//// TODO: separate to dialog file
.ui-widget-content.ui-dialog {
  border-radius: 8px;
  padding: $space-one-and-half $space-one-and-half $space-one-and-half $space-two-and-half;
  border: 0;
  .ui-dialog-titlebar {
    background-color: transparent;
    border: 0;
    padding: 0;
  }
  .paragraphs-add-dialog {
    padding: 0;
  }
  .ui-dialog-titlebar-close {
    @include close-button;
    position: absolute;
    top: 12px;
    right: 0;
  }
}

.node-edit-form,
.node-form {
  .select--white-rounded .select2,
  .select--white-rounded .form-select,
  .form-select {
    background: clr(background-dropdown);
  }
  .field-service-time-and-location-values {
    .select--white-rounded {
      .form-item__select {
        background-color: clr(text-inverse);
      }
      .select2 {
        background-color: clr(text-inverse);
      }
    }
  }
}

.node-service-location-form {
  .form-text {
    margin-bottom: $space;
  }
}
