.node-basic-page-form {
  >.form-background--regular-padding {
      @include large {
        padding: 48px 56px;
      }
    }
}

.block--main-block >.node-form,
.group-form {
  .entitygroupfield-dropbutton-wrapper {
    .form-submit {
      @include button-round-corners;
    }
  }
  .dropbutton-widget {
    input {
      background-color: transparent;
      color: clr(background-section);
      max-width: 130px;
      &:hover {
        background-color: transparent;
        color: clr(alt-header-color);
      }
    }
    .dropbutton-arrow {
      top: 9px;
    }
  }
  display: grid;
  @include xl {
    grid-template-columns: 7fr 3fr;
    grid-column-gap: 24px;
  }
  #edit-group-left-column {
    max-width: unset;
    @include xl {
      grid-column: 1/2;
      grid-row:2;
    }
  }
  .field-group-details {
    display: none !important;
  }

  .page-controls {
    margin-top: $space;
    grid-row: 7;
    grid-column: 1/2;
    @include xl {
      margin-left: 400px;
      grid-row:3;

    }
    .button-wrapper {
      display: flex;
      width: 100%;
      gap: $space-one-and-half;
      height: 48px;
      flex-direction: column;
      @include xl {
        flex-direction: row;
        justify-content: end;
      }
    }
  }

  .edit-advanced-content-wrapper {
    grid-row: 4;
    grid-column: 1/3;
    @include xl {
      grid-column: 2/3;
      grid-row:2;
    }
  }

  >#edit-actions {
    grid-row: 6;
    margin-top: $space;
    margin-bottom: $space;
    display: flex;
    grid-column: 1/2;
    gap: $space-one-and-half;
    @include xl {
      grid-row: 3;

    }
    .button {
      width: 160px;
      border: unset;
    }
  }

  // generic theming for the details sidebar
  .edit-advanced-form {
    background-color: clr(text-inverse);
    border-radius: 8px;
    padding: $space;
    max-width: unset;
    @include large {
      padding: 40px 32px 48px 32px;
      max-width: inherit;
    }

    .vertical-tabs {
      border: 0;
      margin: 0;
      li {
        background-color: unset;
        border: 0;
      }
      .vertical-tabs__menu {
        float: unset;
        width: 100%;
        margin: 0;
        border: 0;
      }
    }

    //theming for the details sidebar link
    .vertical-tabs__menu-item a {
      text-decoration: unset;
      padding: 0;
      margin-bottom: $space-double;
    }

    details {
      font-size: $small-font;
      @include xxl {
        font-size: $small-caption;
      }
    }

    label {
      font-weight: 400;
      font-size: $small-font;
      margin-right: auto;
      padding: 0;
      @include xxl {
        font-size: $small-caption;
      }
    }

    .form-wrapper {
      width: 100%;
    }

    .field--type-language,
    .field--type-string,
    .form-item {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-between;
      width: 100%;
    }
  }

  .paragraph-type-top,
  .filter-wrapper[data-drupal-selector*="format"] {
    display: none;
  }

  fieldset > legend {
    width: 100%;
  }

  .description {
    margin-bottom: $space;
  }

  .table__cell .paragraph-type-top {
    display: flex;
  }

  //add basic theming for sidebar horizontal-tabs
  .horizontal-tabs {
    .horizontal-tabs-list {
      border-bottom: 2px solid clr(form-border);
      padding-left: 16px;
      background-color: unset;
      margin-bottom: $space-triple;
    }

    .horizontal-tab-button {
      border-radius: 8px 8px 0px 0px;
      background-color: clr(background);
      color: clr(background-section);
      border: unset;
      a {
        padding: 12px 48px;
      }
      &.selected {
        border-bottom: unset;
        background-color: clr(background-section);
        a {
          color: clr(text-inverse);
          padding: 12px 48px;
        }
      }

    }
  }

  .h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }


  em {
    background: unset;
    margin: 0px 4px;
    opacity: unset;
    cursor: default;
  }

}

details>.form-wrapper {
  padding-bottom: $space-triple;
}

.vertical-tabs__pane > .form-wrapper {
  padding-bottom: 0;
}

details>.form-wrapper:last-child {
  padding-bottom: 0;
}

.form-background--white {
  background-color: clr(text-inverse);
  padding: $space;
}

.group--light-blue {
  border: 2px solid $blue20;
  background-color: $blue05;
  padding: $space-one-and-half $space-one-and-half $space-double $space-one-and-half;
}

.group--rounded-corners {
  border-radius: 8px;
}

.group--no-margin-bottom {
  margin-bottom: 0;
}

.js-form-required::after {
   content:" *";
   color: red;
   font-size: 12px;
 }

.form-background--regular-padding {
  border-radius: 8px;
  @include large {
    padding: 48px 56px;
  }
}

#content-view-tabs,
.field-group-tabs-wrapper .horizontal-tabs {
  border: 0;
}

.node-form {
  label {
    font-size: 12px;
    font-weight: 600;
  }
}

#edit-field-service-price-wrapper {
  padding-top: 8px;
  legend {
    display: none;
  }
}

 .field--name-field-dates {
   h4 {
     font-weight: 600;
     font-size: 12px;
     line-height: 24px;
     color: clr(text);
     text-transform: capitalize;
     letter-spacing: 0px;
   }
 }

.field--name-field-link {
  legend {
    display: none;
  }
  >.form-fieldset,
  .table__row .table__cell,
  .table__row .table__cell .ajax-new-content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    .h2 {
      width: 100%;
    }
    .form-item {
      &:nth-child(1) {
        width: 60%;
        margin-bottom: 0;
        position: relative;
        &::after {
          @include icons;
          content: "\EA06";
          height: 16px;
          width: 16px;
          right: 0;
          bottom: 16px;
          position: absolute;
          margin-right: $space;
          color: $blue100;
        }
        input {
          background-image: none;
        }
      }
      &:nth-child(2) {
        width: 35%;
        margin-left: $space-one-half;
        margin-bottom: 0;
      }
      .form-item__description {
        display: none;
      }
    }
  }
}

.horizontal-tabs-panes .horizontal-tabs-pane {
  padding: 0;
}
