.form-item {
  margin-left: 0;
}

.form-required-on-publish::after {
  content: " *";
  color: red;
  font-size: 12px;
  width: unset;
  height: unset;
  border: 0;
  background: transparent;
  vertical-align: super;
  display: inline-block;
}
