.form-item {
  margin-left: 0;
  &--margin-half {
    margin-bottom: 8px;
  }
}

.form-required-on-publish::after {
  content: " *";
  color: red;
  font-size: 12px;
  width: unset;
  height: unset;
  border: 0;
  background: transparent;
  vertical-align: unset;
  display: inline-block;
}
