.node-service-edit-form,
.node-service-form {
  display: grid;
  > * {
     min-width: 0px;
  }
  .status-message-wrapper {
    grid-column: 1/3;
    grid-row: 1;
  }
  @include xl {
      grid-template-columns: 7fr 3fr;
      grid-column-gap: 24px;
  }

  .paragraph-type-top,
  .js-filter-wrapper[data-drupal-selector*="format"] {
    display: none;
  }

  .description {
    margin-bottom: $space;
  }



  table {
    background-color: unset;
    margin: 0;
  }

  table tbody tr::after {
    border-bottom: 0;
  }

  .form-item__dropdown > .select2 {
    max-width: 100%;
  }

  select {
    height: 48px;
  }

  .table__cell .paragraph-type-top {
    display: flex;
  }

  // hide all form tabs by default.
  > .tab {
    display: none;
  }

  // hide all form dragable tables by default.
  .field-multiple-drag {
    display: none;
  }

  .field-service-languages-values {
    .form-wrapper {
      margin-bottom: 3px;
    }
      .select--white-rounded {
        .select2 {
          .select2-selection--single {
             >.select2-selection__rendered {
              margin-top: 5px;
              .select2-selection__placeholder {
                  margin-top: 0;
              }
            }
          }
        }
      }
  }
  .h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }

  .field--name-field-target-group  {
    > fieldset > legend {
      display: none !important;
    }
  }

  .field--name-field-client-consent {
    padding-bottom: 0;
  }

  .field--name-field-client-consent .form-item-checkbox{
    flex-wrap: wrap;
    label {
      max-width: 48ch;
    }
  }

  .field--name-field-statements-unemployment  {
      margin-bottom: $space-two-and-half;
  }

  .field--name-field-obligatoryness-freetext {
    margin-bottom: $space-two-and-half;
  }

  .field--name-field-obligatoryness {
    .form-item--radio {
      @include radiobutton-box;
    }
  }

  .field--name-field-statements {
    margin-bottom: $space-two-and-half;
    .form-item--radio {
      @include radiobutton-box;
    }
  }

  .field--name-field-guidance-to-service {
    margin-bottom: $space-one-and-half;
  }

  .field--name-field-other-preferences {
    .form-item {
      label {
        margin-left: $space;
        max-width: 50ch;
      }
    }
    .form-item--checkboxes {
      @include radiobutton-box;
    }
  }

  .date-recur-modular-alpha-widget {
    display: flex;
    flex-direction: column;

    .dates {
      order: 1;
    }

    .container-inline {
      order: 2;
    }

  }

  .form-item__dropdown {
    border: 0;
  }

  .node-service-edit-form-pager  {
      grid-row: 2;
      grid-column: 1/3;

    .multistep-nav-wrapper {
      width: 100%;
      margin-left: $space;
      margin-right: $space;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      @include large {
        margin-left: auto;
        margin-right: auto;
        width: 65%;
      }
    }
  }

  > .tab-1 {
    grid-row: 3;
    @include xl {
      grid-column: 1/2;
      grid-row:3;
    }
  }

  .field--name-field-service-languages {
    legend {
      display: none !important;
    }
    table {
      margin: 0;
      .table__row {
        margin-bottom: $space;
      }
    }
  }


  > .tab-1,
  > .tab-2,
  > .tab-3 {
    margin-bottom: $space;
  }

  > .tab-0 {
    grid-row: 3;
    grid-column: 1/3;
    border-radius: 8px;
    > .form-fieldset {
      background-color: clr(text-inverse);
      width: 100%;
    }
    @include xl {
      grid-column: 1/2;
      grid-row: 4;
      margin-top: -92px;
    }
    @media (min-width:1470px) {
      margin-top: -68px;
    }
  }


  > .tab-1,
  > .tab-2,
  > .tab-3 {
    grid-row: 3;
    padding: $space;
    border-radius: 8px;
    background-color: clr(text-inverse);
    grid-column: 1/3;
    @include large {
      padding: 48px 56px;
    }
    @include xl {
      grid-column: 1/2;
      grid-row: 4;
      margin-top: -92px;
    }
    @media (min-width:1470px) {
      margin-top: -68px;
    }
  }

  > .tab-0 >.form-fieldset,
  > .tab-1,
  > .tab-2,
  > .tab-3 {

    .fieldgroup,
    .form-item {
      max-width: unset;
      margin-left: 0;
    }

    >.form-wrapper {
      margin-bottom: $space-one-and-half;
      &:last-child {
        margin-bottom: 0;
      }
      legend,
      legend > span {
        @extend .form-item__label;
      }

      > .h2,
      > legend >.h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
      }

      &.field--name-field-implementation-extra-info  {
        margin-bottom: $space-triple;
      }

      &.group--rounded-corners {
        margin-bottom: 3rem;
      }
    }

    em {
      background: unset;
      margin: 0px 4px;
      opacity: unset;
      cursor: default;
    }

    .table__heading-cell,
    .field-multiple-drag,
    .tabledrag-toggle-weight-wrapper  {
      display: none;
    }

    tbody {
      border-top: 0;
    }

    .paragraph-type-title {
      display: none;
    }

    .field--name-field-public-links,
    .field--name-field-internal-links,
    .field--name-field-service-languages,
    .field--name-field-links {
      .table__cell {
        > div >.form-wrapper,
        .ajax-new-content > div > div {
            display: flex;
        }
      }
      .paragraphs-subform {
        display: flex;
        order: 1;
      }
      .paragraph-type-top {
        order: 2;
        align-items: end;
      }
      .field--name-field-language,
      .field--name-field-level {
        margin-right: 8px;
        width: 224px;
        @include xl {
          width: 160px;
        }
        @include xxl {
          width: 224px;
        }
        .js-form-item {
          margin-bottom: 0;
        }
      }


      .paragraphs-dropbutton-wrapper {
        input[data-drupal-selector*="top-links-remove-button"] {
          @include close-button;
          width: 16px;
          height: 16px;
          padding: 0;
          line-height: 30px;
        }

        input[data-drupal-selector*="subform-field-service-languages-add-more-add-more-button-service-language"] {
          width: 259px;
          height: 48px;
          font-size: $small-caption;
        }

        input[data-drupal-selector*="inline-entity-form-field-links-add-more-add-more-button-link"] {
          @include round-icon-button;
          background-image: url("../../assets/images/icons/plus.svg");
        }
      }
    }

  }

  #edit-group-basic-information {
    background-color: unset;
    max-width: unset;


    @include large {
      padding: 0;
      border-radius: unset;
    }
    // hide basic information header as it is shown under another fieldset
    > .h2 {
      display: none;
    }

    .form-fieldset {
      margin-left: 0;
    }

    div &.select--white-rounded {
      margin-left: 0;
      background-color: unset;
    }
  }

  .edit-advanced-content-wrapper {
    margin-top: 80px;
  }

  .field--name-field-service-exceptions {
    margin-bottom: $space-triple;
  }

  .field--name-field-accessibility {
    .form-item {
      margin-bottom: 0;
    }
  }


  .field--name-field-service-obligatoryness,
  .field--name-field-exceptions {
    margin-bottom: $space-triple;
    border-bottom: 2px solid clr(background-border);
  }

  .field--name-field-service-other-info,
  .field--name-field-service-execution {
    margin-top: $space-triple;
    padding-top: $space-triple;
    border-top: 2px solid clr(background-border);
    .field--name-field-link .table__cell {
      padding-left: 0;
    }
  }

  .field--name-field-price {
    position: relative;
    .field-suffix {
      position: absolute;
      margin-left: -52px;
      line-height: 24px;
      bottom: 13px;
    }
  }




  .field--name-field-municipality-guide .button,
  .field--name-field-archiving-guide .button,
  .confirm-remove .form-submit {
    @include button-medium;
    @include button-color-blue;
    @include button-round-corners;
  }

  .field--name-field-public-links,
  .field--name-field-internal-links,
  .field--name-field-link {
    tr.table__row {
      display: table-row;
      vertical-align: middle;
    }
    .table__cell,
    .table__cell .ajax-new-content {
      display: table-cell;
      padding-left: 0;
      &.field-multiple-drag {
        display: none;
      }
      .form-item {
        display: inline-block;
        &:nth-child(1) {
          max-width: 55%;
        }
        &:nth-child(2) {
          max-width: 40%;
        }
      }
      > input {
        margin-top: 30px;
      }
    }
    > div .details-content-wrapper {
      display: flex;
      flex-wrap: grid;
      >.form-item {
        order: 1;
      }
      >table {
        order: 2;
      }
    }
    .form-item__description {
      display: none;
    }
  }

  .field--name-field-service-location input {
    background-image: url("../../assets/images/icons/magnifier.svg");
    background-position: top 12px right 16px;
    max-width: 560px;
  }


  .field--name-entitygroupfield,
  .field--name-field-contact-info,
  .field--name-field-service-provider-updatee,
  .field--name-field-responsible-updatee,
  .group--margin-border-bottom {
    padding-bottom: $space-three-and-half;
    margin-bottom: $space-triple !important;
    border-bottom: 2px solid clr(background-border);
  }

  .group--margin-bottom {
    margin-bottom: $space-triple;
  }

  .field--name-field-service-req-speacialist {
    margin-bottom: $space;
  }

  div[data-drupal-selector*="edit-field-contact-info-external-form"],
  div[data-drupal-selector*="edit-field-contact-info-form"],
  .ief-entity-operations {
    display: flex;
    flex-wrap: wrap !important;
    width: 100%;
    > div {
      width: 100%;
    }
  }

  input[data-drupal-selector*="actions-ief-reference-cancel"],
  input[data-drupal-selector*="actions-ief-reference-save"],
  input[data-drupal-selector*="actions-ief-entity-edit"],
  input[data-drupal-selector*="actions-ief-entity-remove"],
  input[data-drupal-selector*="form-actions-ief-edit-save"],
  input[data-drupal-selector*="form-actions-ief-edit-cancel"],
  input[data-drupal-selector*="form-actions-ief-remove-confirm"],
  input[data-drupal-selector*="form-actions-ief-remove-cancel"],
  input[data-drupal-selector*="actions-ief-add-save"],
  input[data-drupal-selector*="actions-ief-add-cancel"],
  input[data-drupal-selector*="top-links-remove-button"],
  .entitygroupfield-dropbutton-wrapper input,
  .restore input,
  #edit-actions .button {
    @include button-color-blue;
    width: unset;
  }
  .field--name-entitygroupfield  {
    .table__row {
      height: 60px;

    }
    .field-add-more-submit {
      margin-top: $space;
    }
  }
  .form-fieldset--no-padding {
    padding: 0;
  }
}

.field--name-field-service-languages {
  .select2-selection--single {
    .select2-selection__rendered {
      background: transparent;
      .select2-selection__clear {
        display: none;
      }
    }
  }
}
