.footer {
  background-color: clr(footer-color);
  padding: 0;
  order: 3;
  width: 100%;
  padding: $space;
  padding-top: $space-triple;
  @include large {
    padding: $space-double;
  }
  &__inner {
    @include wrapper;

    display: flex;
    flex-flow: column nowrap;

    @include large {
      flex-direction: row;
    }
  }
}

.footer__branding {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $space-triple;
  @include large {
    margin-bottom: 0;
  }
  .link {
      display: block;
      width: 100%;
  }
  svg {
    height: 48px;
    width: 207px;
  }
}


.footer__menu {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $space-quintuple;
  @include large {
    flex: 1 1 100%;
    text-align: right;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .menu {
    display: flex;
  }
}
  .footer__copy-right {
    margin-left: auto;
    margin-right: auto;
    color: clr(text-inverse);
    @include large {
      flex: 1 4 100%;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }
