.footer {
  background-color: clr(footer-color);
  padding: $space 0;
  order: 3;
  width: 100%;

  @include large {
    margin-left: $sidebar-width;
  }

  &__inner {
    @include wrapper;

    display: flex;
    flex-flow: column nowrap;

    @include large {
      flex-direction: row;
    }
  }
}

.footer__social {
  margin-bottom: $space;

  @include large {
    flex: 0 1 30%;
    margin-bottom: 0;
    margin-right: $space;
  }
}

.footer__menu {
  @include large {
    flex: 1 1 100%;
    margin-left: auto;
    text-align: right;
  }
}
